<div class="tdDiagnosticsInfo">
    <h1 class="ui header">
        Tan Delta Diagnostics Information
    </h1>
    <div class="content">
        <div class="description">
            <img class="ui medium left floated image" src="/Products/TD/td-info.jpg">
            <p>Tan Delta (TD) – also referred to as Dissipation Factor or sometime even Power Factor – is an excellent diagnostic test that provides an indication as to the quality of the dielectric insulation used in electrical apparatus. By analyzing the dielectric losses in the insulation, the TD Series of test instruments provide the testing engineer with a versatile high voltage diagnostic system that is suitable for testing MV cable such as XLPE, EPR, PE and PILC. In addition, other electrical apparatus such as capacitors, transformers and large rotating machines can also be diagnosed.
                <br/>
                <br/> For MV and HV cables, Tan Delta measurements are the most effective and widely used diagnostic method for detecting water trees and water degradation, the most common aging mechanism and cause of failure in old extruded insulated cables. These degradation mechanisms often go undetected with other common diagnostic techniques such as Partial Discharge. Tan Delta tests can also be performed at test voltages below the normal operating voltage of the device under test. This minimizes the risk of a cable insulation failure, which could otherwise occur during a normal "hipot" or elevated voltage test when performed on a very weak or highly aged insulation. Insulation defects can be detected before they cause the cable to ultimately fail in service.
                <br/>
                <br/> Tan Delta diagnostic measurement can also be combined with an acceptance or maintenance VLF withstand test to provide an intelligent or SMART VLF test. By analyzing the Tan Delta information in real time, the test engineer can limit the testing time on cables demonstrating good characteristics while maximizing the testing time on cables demonstrating poor insulation characteristics. Likewise, the operator can avoid test failures by detecting highly degraded cables at test voltages at or below the normal operating voltage.
                <br/>
                <br/> The test engineer gains an enhanced understanding as to the remaining life of their cable asset infrastructure, so as to better plan and prioritize their cable replacement / rejuvenation program and thereby improve their overall reliability.</p>
            <table class="ui celled table">
                <tbody>
                    <tr class="row3">
                        <td height="6" valign="bottom">
                            <p align="center"><strong>Model</strong></p>
                        </td>
                        <td>
                            <p align="center"><strong>Compatible HVA</strong></p>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td height="7">
                            <p align="center"><a ui-sref="main.model({series: 'td', model: 'td30'})">TD30</a></p>
                        </td>
                        <td valign="bottom">
                            <p align="center"><span>HVA30</span>, <a ui-sref="main.model({series: 'hva', model: 'hva30-7'})">HVA30-7</a>, <a ui-sref="main.model({series: 'hva', model: 'hva34'})">HVA34</a></p>
                        </td>
                    </tr>
                    <tr valign="bottom" class="row1">
                        <td height="7">
                            <p align="center"><a ui-sref="main.model({series: 'td', model: 'td60'})">TD60</a></p>
                        </td>
                        <td>
                            <p align="center"><a ui-sref="main.model({series: 'hva', model: 'hva60'})">HVA60</a></p>
                        </td>
                    </tr>
                    <tr valign="bottom" class="row2">
                        <td height="7">
                            <p align="center"><a ui-sref="main.model({series: 'td', model: 'td90'})">TD90</a></p>
                        </td>
                        <td>
                            <p align="center"><a ui-sref="main.model({series: 'hva', model: 'hva90'})">HVA90</a></p>
                        </td>
                    </tr>
                    <tr valign="bottom" class="row1">
                        <td height="7">
                            <p align="center"><a ui-sref="main.model({series: 'hva', model: 'hva28td'})">HVA28TD</a></p>
                        </td>
                        <td>
                            <p align="center">Integrated</p>
                        </td>
                    </tr>
                    <tr valign="bottom" class="row2">
                        <td height="7">
                            <p align="center">PD60-2/TD</p>
                        </td>
                        <td>
                            <p align="center"><a ui-sref="main.model({series: 'hva', model: 'hva60'})">HVA60</a></p>
                        </td>
                    </tr>
                    <tr valign="bottom" class="row1">
                        <td height="6">
                            <p align="center">PD90-2/TD</p>
                        </td>
                        <td>
                            <p align="center"><a ui-sref="main.model({series: 'hva', model: 'hva90'})">HVA90</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="ui header">Product Design/ Description:</h3>
            <p>The TD series of versatile, portable tan delta measuring systems are the smallest, lightest, most accurate potable TD instruments available. They connect directly or are integrated into the HV Diagnostics - HVA series of VLF test systems.
                <br/>
                <br/> All TD models utilize the widespread Bluetooth™ wireless technology to transmit test results directly to a laptop or PC, thus dramatically eliminating the number of cables, power supplies and grounding connections required for correct operation and hookup. All models comply in full with the new IEEE400, IEEE 400.2 and NETA cable testing requirements.</p>
            <h3 class="ui header">TD Data Collection, Analysis and Reporting Software</h3>
            <p>The TD Control Center software is the heart of the TD test data collection, analysis and report generation. The Software is supplied free with every TD test instrument and software upgrades are also made available at no charge to our customers.
                <br/>
                <br/> The TD diagnostic test results are measured quickly and efficiently, taking no more than a few minutes to complete a full test, providing a simple and effective means to perform routine acceptance or maintenance testing on electrical systems. Simple to setup and easy to use on any Windows™ compatible PC/Laptop with TD test data is available within about a minute of commencing a test – most other instruments on the market can take several minutes to start recording valid TD test results.
                <br/>
                <br/> All 3 phases are recorded and displayed in one electronic file allowing for easy comparison and evaluation. The TD test data is displayed as a function of voltage and time in graphical format. In addition, capacitive load, charging current, applied voltage, TD standard deviation as well as the voltage and current waveform can all be displayed and recorded with the associated date and time stamp.</p>
        </div>
        <br/>
        <img class="ui centered large image" src="/Products/TD/TD Test Example 1 X6 Short Form.jpg">
    </div>
</div>
