<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/td">Tan Delta Cable Diagnostics</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">TD90</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/TD/TD90.png" />
        </div>
        <a href="{{getDataSheet('TD90')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The TD90 instrument allows users to perform advanced diagnostics, not only on medium voltage cables, but also on transmission class cables to assess their condition in a non-destructive way. The TD90 can help verify the cable’s integrity, as well as, track cable insulation data over time. The Tan Delta unit sends information directly to a PC using wireless Bluetooth technology and includes software that can generate reports within minutes of completing a test. The TD90 system is used with the HVA90/HVA94 VLF test systems. The unit comes in custom cases for organization and transport. The unit is supplied with a host of accessories including corona protection, Blue tooth dongle, jumper cable, ground cable, C Type batteries, Battery Charger etc.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Perform advanced diagnostics on MV Cables according to IEEE400 and 400.2</li>
                    <li>Suitable for testing 69kV cables and below</li>
                    <li>Wireless Bluetooth Connection</li>
                    <li>Minimum connection hookups</li>
                    <li>Accurate 1E-5 Resolution!</li>
                    <li>Excellent, easy to use TD reporting</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Supplied with Free TD control center Software and FW upgrades</li>
                    <li>Local LED indication for TD value range</li>
                    <li>Leakage Current Guard Protection</li>
                    <li>Sleep mode saves battery life</li>
                    <li>Uses universal C-type batteries</li>
                    <li>Supplied in rugged transport cases with all accessories.</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Ordering Information:</strong></p></td>
                <td valign="top" class="rightside"><p>709 003</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply:</strong></p></td>
                <td valign="top" class="rightside"><p>2 C Type Batteries</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Rated Operating Voltage:</strong><br> RMS<br> Peak</p></td>
                <td valign="top" class="rightside"><p><br> 1-64kV<br> 90kV</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Voltage Measurement:</strong><br> Resolution <br> Accuracy</p></td>
                <td valign="top" class="rightside"><p><br> 0.1kV<br> 1% (of reading)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Current Measurement:</strong><br> Resolution <br> Accuracy</p></td>
                <td valign="top" class="rightside"><p><br> 1µA<br> 1% (of reading)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Frequency Measurement:</strong><br> Range<br> Resolution</p></td>
                <td valign="top" class="rightside"><p><br> 0.01 to 0.1Hz<br> 0.01Hz</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Tan Delta / Dissipation Factor Measurement:</strong><br> Resolution <br> Accuracy &gt;15nF<br> &lt; 15nF</p></td>
                <td valign="top" class="rightside"><p><br><br> 1 x 10<sup>-5</sup><br> ±1 x 10<sup>-4</sup><br> ±3 x 10<sup>-4</sup></p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Minimum Load:</strong></p></td>
                <td valign="top" class="rightside"><p>5nF</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>24 lbs / 11 kgs</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong><br> (Length x Diameter)</p></td>
                <td valign="top" class="rightside"><p><br>26 x 5 inches / 660mm x 125mm</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Computer Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>Bluetooth™</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Accessories Included:</strong></p></td>
                <td valign="top" class="rightside"><p>Intergrated HV and Grouding Cable<br> Bluetooth USB Dongle <br> TD Control Center Software<br> Operating Manual<br> Corona Protection</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Standards:</strong><br> Shock<br> Vibration<br> EMC<br> Safety</p></td>
                <td valign="top" class="rightside"><p><br> IEC68-2-27<br> IEC68-2-6<br> IEC6100-4-2, IEC6100-4-4, EN55011<br> EN60950, EN50191, EN61010-1</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Environmental:</strong><br> Storage<br> Operating<br> Humidity</p></td>
                <td valign="top" class="rightside"><p><br>-13°F to 158°F / -25°C to 70°C<br> 23°F to 113°F / -5°C to +45°C<br> 80% RH non-condensing</p></td>
            </tr>



            </tbody></table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>