<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/micro-ohmmeters">Micro-Ohmmeters</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">DMO200</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DMO200.png" />
        </div>
        <a href="{{getDataSheet('DMO200')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p style="margin-bottom: 0in;"><strong>Busbar joint resistance<br></strong>The DMO200 is ideal for measuring busbar joint resistance. Before making connections, ensure that the supply is off and necessary earths have been applied. Connect the high current leads to the busbar, ensuring that the joint to be measured is in the circuit. Connect the sense leads as close as possible to the joint to be measured. Select the desired test current using one of the preset test currents (or use the adjust knob to set a custom test current). Switch the output on, and the current rises to the preset current. Switch the output off again, and the reading is held on the display.</p>
            <br/>
            <p style="margin-bottom: 0in;"><strong>Storing results<br></strong>The DMO200 is supplied with a USB memory key and USB keyboard for storing annotated results. To enter or edit a comment tap the COMMENT/MENU button. The comment can then be edited using the keyboard. This comment is stored with each result until a new comment is entered. Each time the output of the unit is switched off the readings from the unit are saved to the USB memory key in CSV format along with the date, time, and your comment. The CSV file can be opened with any spreadsheet program such as Microsoft Excel™ or OpenOffice Calc.</p>
            <br/>
            <p style="margin-bottom: 0in;"><strong>Circuit breaker contact resistance<br></strong>The DMO200 is suited to all low resistance measurements on power systems, and is particularly suited to measure contact resistances on substation circuit breakers, isolators, and grounding equipment. The unit has a powerful output capable of driving 200A through 20m output leads to reach the contacts of even the largest circuit breakers. Optional output lead extensions are available which extend the high current and sense leads by 3, 5, or 10m.</p>
            <br/>
            <p style="margin-bottom: 0in;">Accurate measurements on circuit breakers, isolators, and grounding links with both side earthed are simple with the optional current clamp. This allows the current flowing through the earthing equipment to be subtracted from the test current.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>All test results can be stored automatically on a standard USB memory key</li>
                    <li>Main output: 5V 1-200A pre-settable current</li>
                    <li>Thermal and over-current protection</li>
                    <li>Optional DC current clamp to measure resistances with both sides earthed</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>High quality 3m 200A output leads</li>
                    <li>90-264V supply voltage with no restriction on output current</li>
                    <li>Programmable buttons to set test currents</li>
                    <li>Supplied with a USB keyboard and 2Gb USB memory key</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Supply requirements:</strong></p></td>
                <td valign="top" class="rightside"><p>90-265Vac 1300VA max</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output:</strong></p></td>
                <td valign="top" class="rightside"><p>1-200Adc 5V</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Resistance measurement:</strong></p></td>
                <td valign="top" class="rightside"><p>0.1µΩ-5Ω</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>DMO200 dimensions:</strong></p></td>
                <td valign="top" class="rightside"><p>360 x 290 x 165mm</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>DMO200 weight:</strong></p></td>
                <td valign="top" class="rightside"><p>6.9kg</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Accessories supplied with unit:</strong></p></td>
                <td valign="top" class="rightside"><p>Mains lead, user manual,</p></td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
