<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/micro-ohmmeters">Micro-Ohmmeters</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">DSM200</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DSM200.png" />
        </div>
        <a href="{{getDataSheet('DSM200')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>DSM200 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM200 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. The unit is equally suited to commissioning, maintenance, and production line environments. Contact resistances in circuit breakers, switch panels, isolators, and busbar joints are all easily and safely measured.
                <br/>
                <br/>
                The DSM200 is simple to operate, only requiring the user to switch the output on and set the test current. Selection of all ranges is fully automatic, and current, voltage and resistance are displayed simultaneously at all times. The resistance is calculated from the test current and sense voltage, and there is no need to set an exact test current to guarantee an accurate test result. To assist the user, all readings are held on the display when the output is switched off.
                <br/>
                <br/>
                Connecting the DSM200 to a PC running the optional DSMlog software adds data capture and reporting functions to the unit, allowing test results to be exported directly to Excel or saved to a file. All results are time stamped, and a comment may be added to each test. Data capture can be controlled from the PC, and the resistance of a test object can be monitored over a period of time.
                Alternatively, connecting a printer allows of the test parameters to be printed automatically whenever the reading is held.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <ul class="ui list">
            <li>0-10A and 0-200A DC test current</li>
            <li>0.1µΩ resolution</li>
            <li>mV, A, and µΩ displayed simultaneously</li>
        </ul>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Output Ratings</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;">Output Current</td>
                <td valign="\&quot;top\&quot;">No Load Voltage</td>
                <td valign="\&quot;top\&quot;">Full load voltage</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">200A</td>
                <td valign="\&quot;top\&quot;">0-200Adc</td>
                <td valign="\&quot;top\&quot;">0-6.0Vdc</td>
                <td valign="\&quot;top\&quot;">0-3.4Vdc</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">10A smoothed</td>
                <td valign="\&quot;top\&quot;">0-10Adc</td>
                <td valign="\&quot;top\&quot;">0-6.0Vdc</td>
                <td valign="\&quot;top\&quot;">0-2.5Vdc</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>240V±10% 1 phase 50/60Hz. 1000VA Max. <br> 220V±10% 1 phase 50/60Hz. 1000VA Max. <br> 115V -6% to +10% 1 phase 50/60Hz. 1000VA Max.</p>
        <h4>Temperature Range</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td valign="\&quot;top\&quot;"><strong>200.0A</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;" height="\&quot;20\&quot;"><strong>40.00mV</strong></td>
                <td valign="\&quot;top\&quot;">2000µΩ</td>
                <td valign="\&quot;top\&quot;">200.0µΩ</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>400.0mV</strong></td>
                <td valign="\&quot;top\&quot;">20.00µΩ</td>
                <td valign="\&quot;top\&quot;">2000µΩ</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>4000mV</strong></td>
                <td valign="\&quot;top\&quot;">200.0µΩ</td>
                <td valign="\&quot;top\&quot;">20.00µΩ</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">340 x 230 x 330mm</td>
                <td valign="\&quot;top\&quot;">13.4 x 9 x 13in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">21.4 kg</td>
                <td valign="\&quot;top\&quot;">47 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">3m lead set weight 2.7kg</td>
                <td valign="\&quot;top\&quot;">118\" lead set weight 6lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
