<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/micro-ohmmeters">Micro-Ohmmeters</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">DSM600</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DSM600.png" />
        </div>
        <a href="{{getDataSheet('DSM600')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>DSM600 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM600 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. The unit is equally suited to commissioning, maintenance, and production line environments. Contact resistances in circuit breakers, switch panels, isolators, and busbar joints are all easily and safely measured.
                <br/>
                <br/>
                The DSM600 is simple to operate, only requiring the user to switch the output on and set the test current. Selection of all ranges is fully automatic, and current, voltage and resistance are displayed simultaneously at all times. The resistance is calculated from the test current and sense voltage, and there is no need to set an exact test current to guarantee an accurate test result. To assist the user, all readings are held on the display when the output is switched off.
                <br/>
                <br/>
                Connecting the DSM600 to a PC running the optional DSMlog software adds data capture and reporting functions to the unit, allowing test results to be exported directly to Excel or saved to a file. All results are time stamped, and a comment may be added to each test. Data capture can be controlled from the PC, and the resistance of a test object can be monitored over a period of time.
                <br/>
                <br/>
                Alternatively, connecting a printer allows of the test parameters to be printed automatically whenever the reading is held.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>0-600A DC test current</li>
                    <li>0.1µO resolution</li>
                    <li>mV, A, and µO displayed simultaneously</li>
                    <li>Direct Ohms reading at any current</li>
                    <li>Large back-lit liquid crystal display</li>
                    <li>Thermal and over-current protection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Compact and portable</li>
                    <li>Isolated RS232 interface for printer or PC connection</li>
                    <li>90-264V supply voltage range</li>
                    <li>High quality 3m lead set supplied as standard</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Output Ratings</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Supply Voltage</td>
                <td>Output Current</td>
                <td>No Load Voltage</td>
                <td>Full load voltage</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
                <td>0-600Adc</td>
                <td>0-4.4Vdc</td>
                <td>0-2.5Vdc</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
                <td>0-400Adc</td>
                <td>0-2.2Vdc</td>
                <td>0-1.1Vdc</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>90V</strong></td>
                <td>0-300Adc</td>
                <td>0-1.6Vdc</td>
                <td>0-0.75Vdc</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>90-264VAC one phase 50/60Hz. 3200VA Max.</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td>&nbsp;</td>
                <td>60.00A</td>
                <td>600.0A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td height="\&quot;20\&quot;"><strong>40.00mV</strong></td>
                <td>667µΩ</td>
                <td>66.7µΩ</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>400.0mV</strong></td>
                <td>6.67µΩ</td>
                <td>667µΩ</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>4000mV</strong></td>
                <td>66.7µΩ</td>
                <td>6.67µΩ</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">332 x 288 x 202mm</td>
                <td valign="\&quot;top\&quot;">13 x 11.3 x 8in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">26.4 kg</td>
                <td valign="\&quot;top\&quot;">58 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">3m lead set weight 6.0kg</td>
                <td valign="\&quot;top\&quot;">118\" lead set weight 13lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
