<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/ba">Dielectric Oil Testing</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">BA100</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/BA/BA100.png" />
        </div>
        <a href="{{getDataSheet('BA100')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>With a maximum output of 100kV, the BA100 is suitable for testing all types of insulation oils and in all types of laboratory environments. Like the BA75, the BA100 comes complete with an integrated printer and bright color LCD that graphical displays the actual voltage breakdown of each test. Automated testing of small or large volumes of oil using the wireless controlled interface and the supplied BA Control Center software allows the user to run several samples and record test results simultaneously on multiple instruments from just one base station PC running the Control Center software. This feature allows the user to run several test samples and record test results simultaneously on multiple instruments from just one base station PC running the Control Center software. A backup integrated battery also allows this unit to work in a mobile environment, when shore power is either interrupted or not available. The instrument comes complete with pre-installed, fully automatic test sequences and is also user programmable to meet any customer unique testing requirements. All instruments come complete with integrated battery, printer, carry handle, USB memory stick, Mains cable, Calibration sheet, Operation manual, BA Control Center software, and extra paper roll for printer.
                <br/>
                <br/>
                Note: Various Test cells are available – see optional items. BA75 BA100 800 002 ASTM1816 Test Cell complete with integrated stirrer in lid supplied with 1mm or 2mm spacer gauge (please specify gauge size required at time of ordering). (0.4L) Test Vessel ASTM D877 (0.4 l) including: 2.54 mm (0.1?) spacer gauge 801 002 800 008 Test Vessel IEC 60156-Fig I (0.4 l) including: 2.5 mm spacer gauge magnetic stirrer lifting stick for magnetic stirrer 801 008 800 009 801 009 Test Vessel IEC 60156 Fig II (0.4 l) including: 2.5 mm spacer gauge ASTM877 Reduced Volume test cell with 2.54mm/0.1</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Output voltage: 0-100kVrms</li>
                    <li>Easy to use, intuitive, menu driven display</li>
                    <li>Ultra bright, color LCD</li>
                    <li>Weighs only 32kg/71lbs (incl. Battery)</li>
                    <li>Scope display of voltage breakdown</li>
                    <li>Direct, precise voltage and current measurement</li>
                    <li>Ultrafast, low energy switch-off ( &lt; 5 µs)</li>
                    <li>Viewable, screened HV test chamber</li>
                    <li>Automatic PDF generation of results</li>
                    <li>Integrated printer &amp; temperature measurement</li>
                    <li>Compatible with mineral, silicon, and ester based oils</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Fully automatic standards / sequences</li>
                    <li>User-programmable test sequences.</li>
                    <li>No nuisance error messages</li>
                    <li>Adjustable gap spacing mechanism on optional test cells.</li>
                    <li>Moisture impervious test cell construction</li>
                    <li>Low volume test cell available where applicable.</li>
                    <li>EMC shielding</li>
                    <li>Multiple safety interlocks</li>
                    <li>ATA approved transport / cases and test cells available – see options.</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <img class="ui centered image" src="/Products/BA/ba75-chart.jpg" />
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>32kg/71lbs</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Part Number:</strong></p></td>
                <td valign="top" class="rightside"><p>801 001</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Power Supply/Input:</strong></p></td>
                <td valign="top" class="rightside"><p>85&nbsp;V – 264&nbsp;V (47&nbsp;Hz – 63&nbsp;Hz) and 12V DC external power supply</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply Consumption:</strong></p></td>
                <td valign="top" class="rightside"><p>75VA</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Internal Rechargeable Battery:</strong></p></td>
                <td valign="top" class="rightside"><p>1x12V / 7.2Ah</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>0-100kV rms</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Voltage Measurement Accuracy:</strong></p></td>
                <td valign="top" class="rightside"><p>±1 kV over full range</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Voltage Resolution Displayed:</strong></p></td>
                <td valign="top" class="rightside"><p>0.1kV</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Voltage Rate of Rise / Slew Rate:</strong></p></td>
                <td valign="top" class="rightside"><p>0.5 – 10 kV/s</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Trip Time On Discharge Detection:</strong></p></td>
                <td valign="top" class="rightside"><p>&lt; 5 µs</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Temperature Measurement Range:</strong></p></td>
                <td valign="top" class="rightside"><p>0°C – 100°C (32°F – 212°F)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Temperature Resolution:</strong></p></td>
                <td valign="top" class="rightside"><p>1°C (1.8°F)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Display:</strong></p></td>
                <td valign="top" class="rightside"><p>2.8 in. color (ultra-bright)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Preprogrammed test standards:</strong></p></td>
                <td valign="top" class="rightside"><p>ASTM 1816-04-1<br> ASTM 1816-04-2<br> ASTM 877-02A<br> ASTM 977-02B<br> ÖVE EN 60156<br> BS EN 60156<br> NF EN 60156<br> UNE EN 60156<br> SABS EN 60156<br> PA SEV EN 60156<br> NEN 101 56<br> IEC 60156 / 95<br> VDE 370-5 / 96<br> AS 1767:2:1<br> Single measurement<br> Other standards possible</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Customer Specific User Programmable Stds:</strong></p></td>
                <td valign="top" class="rightside"><p>Almost Unlimited</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>PC Software <em>BA Control Center</em>:</strong></p></td>
                <td valign="top" class="rightside"><p>Included</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Communication Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>USB Memory stick, Bluetooth®</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Printer:</strong></p></td>
                <td valign="top" class="rightside"><p>Dot Matrix Ink Printer</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Printer Paper:</strong></p></td>
                <td valign="top" class="rightside"><p>44.5mm / 1.75in</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Operating Temperature:</strong></p></td>
                <td valign="top" class="rightside"><p>-5°C to +45°C (23°F to 113°F)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Storage Temperature:</strong></p></td>
                <td valign="top" class="rightside"><p>-20°C to +60°C (-4°F to 140°F)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Relative Humidity (Operating):</strong></p></td>
                <td valign="top" class="rightside"><p>&lt; 90%, non-condensing</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong></p></td>
                <td valign="top" class="rightside"><p>521 x 343 x 300mm<br> 20.51 x 13.5 x 11.81in</p></td>
            </tr>



            </tbody></table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>