<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/ba">Dielectric Oil Testing</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">BA75</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/BA/BA75.png" />
        </div>
        <a href="{{getDataSheet('BA75')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The BA75 has a maximum output of 75kV, more than sufficient to meet almost all testing standards worldwide. This rugged, portable instrument is the smallest and lightest unit on the market with an integrated battery and carry handle that makes it ideally suited for the field environment. With a color, ultra-bright sunlight viewable LCD display, this unit is equally at home in the testing laboratory as it is in the field. The intuitive, menu driven display, with built-in international testing sequences, allows the user to simply start a test cycle and the unit takes over and completes the test. Results are sent to an integrated printer for an immediate hardcopy. In addition a PDF file can be created directly by the unit and stored onto a standard memory stick. The supplied BA Control center software allows for the control of the instrument and for downloading of the test results via a wireless link to a PC. All instruments come complete with integrated battery, printer, carry handle, USB memory stick, Mains cable, Calibration sheet, Operation manual, BA Control Center software, and extra paper roll for printer.
                <br/>
                <br/>
                Note: Various Test cells are available – see optional items.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Output voltage: 0-75kVrms</li>
                    <li>Easy to use, intuitive, menu driven display</li>
                    <li>Ultra bright, color LCD</li>
                    <li>Rugged, compact, light-weight design</li>
                    <li>Weighs only 22kg/48.5lbs (incl. Battery)</li>
                    <li>Scope display of voltage breakdown</li>
                    <li>Direct, precise voltage and current measurement</li>
                    <li>Ultrafast, low energy switch-off ( &lt; 5 µs)</li>
                    <li>Viewable, screened HV test chamber</li>
                    <li>Automatic PDF generation of results</li>
                    <li>Integrated printer &amp; temperature measurement</li>
                    <li>Compatible with mineral, silicon, and ester based oils</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Pre-installed fully automatic standards</li>
                    <li>User-programmable test sequences.</li>
                    <li>No nuisance error messages</li>
                    <li>Adjustable gap spacing mechanism on optional test cells.</li>
                    <li>Moisture impervious test cell construction</li>
                    <li>Low volume test cell available where applicable.</li>
                    <li>EMC shielding</li>
                    <li>Multiple safety interlocks</li>
                    <li>ATA approved transport / cases and test cells available – see options.</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <img class="ui centered image" src="/Products/BA/ba75-chart.jpg" />
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Part Number:</strong></p></td>
                <td valign="top" class="rightside"><p>800 001</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Communication Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>USB Memory stick, Bluetooth®</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Temperature Resolution:</strong></p></td>
                <td valign="top" class="rightside"><p>1°C (1.8°F)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Display:</strong></p></td>
                <td valign="top" class="rightside"><p>2.8</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Preprogrammed test standards:</strong></p></td>
                <td valign="top" class="rightside"><p>ASTM 1816-04-1<br> ASTM 1816-04-2<br> ASTM 877-02A<br> ASTM 977-02B<br> ÖVE EN 60156<br> BS EN 60156<br> NF EN 60156<br> UNE EN 60156<br> SABS EN 60156<br> PA SEV EN 60156<br> NEN 101 56<br> IEC 60156 / 95<br> VDE 370-5 / 96<br> AS 1767:2:1<br> Single measurement<br> Other standards possible</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Customer Specific User Programmable Stds:</strong></p></td>
                <td valign="top" class="rightside"><p>Almost Unlimited</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>PC Software Control Center</strong></p></td>
                <td valign="top" class="rightside"><p>Included</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply/Input:</strong></p></td>
                <td valign="top" class="rightside"><p>85&nbsp;V – 264&nbsp;V (47&nbsp;Hz – 63&nbsp;Hz) and 12V DC external power supply</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Power Supply Consumption:</strong></p></td>
                <td valign="top" class="rightside"><p>60VA</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Internal Rechargeable Battery:</strong></p></td>
                <td valign="top" class="rightside"><p>1x12V / 7.2Ah</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>0-75kV rms</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Voltage Measurement Accuracy:</strong></p></td>
                <td valign="top" class="rightside"><p>±1 kV over full range</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Voltage Resolution Displayed:</strong></p></td>
                <td valign="top" class="rightside"><p>0.1kV</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Voltage Rate of Rise / Slew Rate:</strong></p></td>
                <td valign="top" class="rightside"><p>0.5 – 10 kV/s</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Trip Time On Discharge Detection:</strong></p></td>
                <td valign="top" class="rightside"><p>&lt; 5 µs</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Temperature Measurement Range:</strong></p></td>
                <td valign="top" class="rightside"><p>0°C – 100°C (32°F – 212°F)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Printer:</strong></p></td>
                <td valign="top" class="rightside"><p>Dot Matrix Ink Printer</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Printer Paper:</strong></p></td>
                <td valign="top" class="rightside"><p>44.5mm / 1.75 in</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Operating Temperature:</strong></p></td>
                <td valign="top" class="rightside"><p>-5°C to +45°C (23°F to 113°F)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Storage Temperature:</strong></p></td>
                <td valign="top" class="rightside"><p>-20°C to +60°C (-4°F to 140°F)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Relative Humidity (Operating):</strong></p></td>
                <td valign="top" class="rightside"><p>&lt; 90%, non-condensing</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong></p></td>
                <td valign="top" class="rightside"><p>430&nbsp;mm x 280&nbsp;mm x 250&nbsp;mm<br> (16.9x 11x9.9 in)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>22 kg / 49 lbs</p></td>
            </tr>



            </tbody></table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>