<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Dielectric Oil Testing
        <div class="sub header">Product</div>
    </h1>
    <p>
        Electrical insulation oils form the critical insulation medium for many of today’s electrical apparatus, such as transformers, tap-changers, circuit breakers, cables, bucket trucks etc. When this critical insulation system becomes contaminated or degraded over time, the dielectric properties can be adversely affected causing a potential breakdown or flashover, often resulting in catastrophic consequences.
        <br/>
        <br/> By measuring the voltage withstand capability of just a small sample of the oil, the level of contamination and/or degradation of the liquid insulation can be established.
        <br/>
        <br/> The HV Diagnostics line of fully automatic dielectric breakdown oil testers has revolutionized the industry with both field and laboratory based units available. Standard features include: Bright Color LCD displays, Integrated Temperature measurement, Wireless Bluetooth communication, USB Memory stick test download, Direct PDF report generator, Integrated Printer, Battery and/or AC operation, and Scope Display of the AC breakdown.
        <br/>
        <br/> All instruments come with the BA Control Center Software, all applicable and current international testing standard sequences (like ASTM and IEC ), a NIST traceable calibration sheet, operation manual, Bluetooth module, spare paper roll etc. Test Cells for the various testing standards are available upon request.
    </p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Dielectric Oil Testing</div>
                            <div class="menu">
                                <a class="item" href="#BA75">BA75</a>
                                <a class="item" href="#BA100">BA100</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="BA75" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">BA75</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'ba', model: 'ba75'})">
                                <img ng-src="/Products/BA/BA75.png" align="left" />
                            </a> The BA75 has a maximum output of 75kV, more than sufficient to meet almost all testing standards worldwide. This rugged, portable instrument is the smallest and lightest unit on the market with an integrated battery and carry handle that makes it ideally suited for the field environment. <a ui-sref="main.model({series: 'ba', model: 'ba75'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Output voltage: 0-75kVrms</li>
                                                    <li>Easy to use, intuitive, menu driven display</li>
                                                    <li>Ultra bright, color LCD</li>
                                                    <li>Rugged, compact, light-weight design</li>
                                                    <li>Weighs only 22kg/48.5lbs (incl. Battery)</li>
                                                    <li>Scope display of voltage breakdown</li>
                                                    <li>Ultrafast, low energy switch-off ( &lt; 5 µs)</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Compatible with mineral, silicon, and ester based oils</li>
                                                    <li>User-programmable test sequences.</li>
                                                    <li>Adjustable gap spacing mechanism on optional test cells.</li>
                                                    <li>ATA approved transport / cases and test cells available – see options.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'ba', model: 'ba75'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('BA75')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'ba', model: 'ba75'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('BA75')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="BA100" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">BA100</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'ba', model: 'ba100'})">
                                <img ng-src="/Products/BA/BA100.png" align="left" />
                            </a> With a maximum output of 100kV, the BA100 is suitable for testing all types of insulation oils and in all types of laboratory environments. Like the BA75, the BA100 comes complete with an integrated printer and bright color LCD that graphical displays the actual voltage breakdown of each test. <a ui-sref="main.model({series: 'ba', model: 'ba100'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Output voltage: 0-100kVrms</li>
                                                    <li>Easy to use, intuitive, menu driven display</li>
                                                    <li>Ultra bright, color LCD</li>
                                                    <li>Direct, precise voltage and current measurement</li>
                                                    <li>Ultrafast, low energy switch-off ( &lt; 5 µs)</li>
                                                    <li>Viewable, screened HV test chamber</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Compatible with mineral, silicon, and ester based oils</li>
                                                    <li>Fully automatic standards / sequences</li>
                                                    <li>No nuisance error messages</li>
                                                    <li>Adjustable gap spacing mechanism on optional test cells.</li>
                                                    <li>ATA approved transport / cases and test cells available – see options.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'ba', model: 'ba100'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('BA100')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'ba', model: 'ba100'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('BA100')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'main/products/baModal.html'"></ng-include>