<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Cable ID & Phasing
        <div class="sub header">Product</div>
    </h1>
    <p>
        Ever since electrical cables have been used to distribute electricity, electrical utilities have been faced with the potentially dangerous task of having to safely identify (ID) a cable, either at its ends or somewhere along its length. There are many reasons for wanting to correctly identify a cable along its length including the need to cut or “spike” a cable to install a new accessory like a transformer or splice or the need to identify the location of the phases in the cable. Both these requirements can be addressed using the EZ Cable ID instrument.
        <br/>
        <br/> The instrument can be used on de-energized and/or energized cables with the optional inductive clamps. The EZ Cable ID unit can be used on LV, MV and Transmission class cables, Extruded insulated (XLPE/EPR/PVC) or PILC type cables from as little as a few feet / meters to many miles in length. Simple, point to point cables to complex network type cables with multiple braches can be Identified. The instrument can ID one, two or three cables or cores in one identification process.
        <br/>
        <br/> Before cutting the cable, the operator can not only ID the correct cable, but also ID the phases under the jacket of the cable. The instrument will also measure and display any resultant 50/60 Hz current that may be present in the cable.
        <br/>
        <br/> The instrument comes complete with one easy to use Transmitter (TX), one Receiver (RX) with LCD backlit display in a rubber holster and integrated batteries, AC power cord, test leads with alligator clips, manual, quick start guide, and a Flexible Pick Up Sensor.
    </p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">EZ-Cable ID</div>
                            <div class="menu">
                                <a class="item" href="#EZ-Cable ID">EZ-Cable ID</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="EZ-Cable ID" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">EZ-Cable ID</div>
                            </div>                            
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'cableID', model: 'ez-cable-id'})">
                                <img src="/Products/EZ-Cable ID/EZ-Cable ID.png" align="left" />
                            </a> The EZ-Cable ID test instrument allows electrical testing personnel to accurately and effectively identify either one or three cables or cores anywhere along the length of the cable in one identification process. This can be done on both single phase and three phase networks. <a ui-sref="main.model({series: 'cableID', model: 'ez-cable-id'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <ul class="ui list">
                                            <li>Simultaneous single and multi (3) phase identification</li>
                                            <li>Can be used on energized and de-energized circuits</li>
                                            <li>3 cables can be identified in one action</li>
                                            <li>Can be used on single and multicore cables</li>
                                        </ul>
                                        <br/>
                                        <a ui-sref="main.model({series: 'cableID', model: 'ez-cable-id'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('EZ-Cable ID')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'cableID', model: 'ez-cable-id'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('EZ-Cable ID')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>