<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">
      VLF/DC Hipots
      <div class="sub header">Product</div>
   </h1>
    <p>
        From the outset, HV Diagnostics was a pioneer in the development a small, portable, single piece oil free VLF (Very Low Frequency) Hipot test instrument that would be reliable, user friendly and more technically advanced than anything available in the industry. The model HVA30 was developed more than 10 years ago, quickly becoming a game changer in the industry making it the most popular VLF/DC unit on the market.
        <br/>
        <br/> From those humble beginnings, the HVA Series of combo VLF / DC high voltage test instruments have grown and strengthened, both in voltage and power capabilities, while still maintaining the same unique quality and performance. From the smallest, but still incredibly capable VLF unit on market - the HVA28 - to one of the largest - the HVA200, we now offer a full spectrum of VLF / DC units covering a wide range of power and voltage requirements.
        <br/>
        <br/> These instruments not only test MV (Medium Voltage) and Transmission class cables, they can also test vacuum bottles, cable jackets / sheaths, motors, generators, transformers etc. A very accurate true RMS measurement system measures and records load capacitance, insulation resistance (Megohmmeter), current, frequency, voltage, breakdown voltage and test duration. The HVA series of VLF instruments form the building blocks for the available Tan Delta and Partial Discharge instruments.
        <br/>
        <br/> The well-known HVA Control Center Software comes free of charge with all HVA test instruments. Firmware updates are also performed free of charge for the life of the instrument and all new instruments are delivered with a NIST traceable calibration certificate.
    </p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">HVA Series</div>
                            <div class="menu">
                                <a class="item" href="#HVA28">HVA28</a>
                                <a class="item" href="#HVA28TD">HVA28TD</a>
                                <a class="item" href="#HVA34">HVA34</a>
                                <a class="item" href="#HVA 30-7">HVA 30-7</a>
                                <a class="item" href="#HVA45 TD">HVA45 TD</a>
                                <a class="item" href="#HVA 60">HVA 60</a>
                                <a class="item" href="#HVA 90/94">HVA 90/94</a>
                                <a class="item" href="#HVA200">HVA200</a>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <a class="ui basic button" ng-click="openModal('hvaComparison')">HVA Comparison Chart & Overview</a>
                    </div>
                </div>
                <div class="ui grid ">
                    <div id="HVA28" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA28</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva28'})">
                                <img ng-src="/Products/HVA/HVA28.png" align="left" />
                            </a> The HVA28 is the smallest, lightest VLF/DC test instrument on the market. It is about as small as you can make it! Do not let its compact size lead you to believe this unit is lacking in power. The instrument can test up to 100,000ft/30kms of cable (at reduced voltage and frequency). In addition to cables, this unit can test vacuum bottles, transformers, motors / generators, cable sheath/shields, etc. <a ui-sref="main.model({series: 'hva', model: 'hva28'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Weighs only 31 lbs / 14 kg</li>
                                                    <li>Smallest unit available</li>
                                                    <li>Extremely rugged and portable</li>
                                                    <li>Insulation Resistance &amp; Cap. measurement</li>
                                                    <li>HVA Control Center - User friendly software for immediate, professional detailed reporting and setup</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Auto &amp; Manual Test Sequences</li>
                                                    <li>Computer interface via Bluetooth or USB</li>
                                                    <li>Color LCD display</li>
                                                    <li>VLF 20kVrms/28kV pk output</li>
                                                    <li>Sinewave/Squarewave &amp; DC output</li>
                                                    <li>Cable Jacket / Sheath testing</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva28'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">HVA28TD</a>
                                            <a class="item">PD30-E</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('HVA28')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva28'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA28')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA28TD" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA28TD</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">
                                <img ng-src="/Products/HVA/HVA28TD.png"  align="left" />
                            </a> The smallest VLF /DC unit on the market now includes an integrated Tan Delta measurement system to perform advanced electrical insulation diagnostics. For example, this can be extremely useful when performing advanced diagnostics on cable systems as it provides valuable information as to the condition of the cable insulation and shield. <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Weighs only 31 lbs / 14 kg</li>
                                                    <li>Smallest unit available</li>
                                                    <li>Extremely rugged and portable</li>
                                                    <li>Insulation Resistance &amp; Cap. measurement</li>
                                                    <li>HVA Control Center - User friendly software for immediate, professional detailed reporting and setup</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Auto &amp; Manual Test Sequences</li>
                                                    <li>Computer interface via Bluetooth or USB</li>
                                                    <li>Color LCD display</li>
                                                    <li>VLF 20kVrms/28kV pk output</li>
                                                    <li>Sinewave/Squarewave &amp; DC output</li>
                                                    <li>Cable Jacket / Sheath testing</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">PD30-E</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('HVA28TD')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva28td'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA28TD')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA34" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA34</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva34'})">
                                <img ng-src="/Products/HVA/HVA34.png" align="left" />
                            </a> This model replaces the ground breaking and very popular model HVA30. The HVA30 was upgraded to the HVA34 to accommodate the new testing requirements for 25kV rated cables as per the latest revision of IEEE400.2 testing standard. Arguably the top selling VLF/DC instrument on the market, this instrument has become the standard for testing 25kV rated cables and below. <a ui-sref="main.model({series: 'hva', model: 'hva34'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Test your 25(Maint), 15, 11, 8, 6.6, 5kV long MV cables</li>
                                                    <li>Weighs only 44lbs / 19.5kg</li>
                                                    <li>Perform tests fully automatically</li>
                                                    <li>Oscilloscope Display of Output Waveform</li>
                                                    <li>Insulation Resistance &amp; Cap. Measurement</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                                                    <li>VLF 24kVrms / 34kVpk output</li>
                                                    <li>DC &plusmn;34kV</li>
                                                    <li>Cable Jacket / Sheath testing</li>
                                                    <li>Vacuum Bottle testing</li>
                                                    <li>Integrated internal discharge of DUT</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva34'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">PD30-E</a>
                                            <a class="item">TD30</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA34')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva34'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA34')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA 30-7" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA30-7</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva30-7'})">
                                <img ng-src="/Products/HVA/HVA 30-5.png" align="left"/>
                            </a> This model was designed primarily for electrical utilities that have large complex cable networks that demand a very powerful test instrument to overcome the large loads presented by these long cable systems. Capable of testing up to 150,000ft / 45km of cable - it does not get much more powerful than this. <a ui-sref="main.model({series: 'hva', model: 'hva30-7'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Internal Storage of Test Reports</li>
                                                    <li>Download to PC and / or USB flash drive</li>
                                                    <li>Unlimited duty cycle</li>
                                                    <li>Flashover voltage detection</li>
                                                    <li>Bright backlit LCD display</li>
                                                    <li>Power supply immunity and independence</li>
                                                    <li>Low maintenance, oil-free design</li>
                                                    <li>HVA Control Center – User friendly software for immediate, professional detailed reporting and setup</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Test your 25(Maint), 15, 11, 8, 6.6, 5kV long MV cables</li>
                                                    <li>Test long cables up to ~ 150,000ft / 45km</li>
                                                    <li>Weighs only 125 lbs / 57kg.</li>
                                                    <li>Perform tests fully automatically</li>
                                                    <li>Real time oscilloscope display</li>
                                                    <li>Insulation Resistance &amp; Cap. Measurement</li>
                                                    <li>RMS Metering of Current and Voltage</li>
                                                    <li>Output Frequency optimization</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva30-7'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">PD30-E</a>
                                            <a class="item">TD30</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA 30-7')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva30-7'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA 30-7')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA45 TD" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA45 TD</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                     <a id="hva45tdCarousel" class="hva45tdCarousel productImageCarousel" ui-sref="main.model({series: 'hva', model: 'hva45 td'})">
                                <img ng-src="/Products/HVA/HVA45 TD.jpg" align="left" />
                                <img ng-src="/Products/HVA/HVA45 TD_02.jpg" align="left" />
                            </a>
                                    This unit packs a punch at 45kV peak output and with integrated Tan Delta. There is no need to have a separate external Tan Delta instrument with this all-in-one design. Fully compliance with the IEEE400, 400.2, IEC 60502, CENELEC HD620/621 guides and standards. At only 86 lbs/39kbs this unit is very portable, housed in a rugged IP67 case. With a high test capacity of 10uF, there are very few loads or cables this instrument cannot test. With the a large 4.3" color display, automatic TD evaluation, and manual and automatic test functionality, DC and AC operation, testing in the field just got a whole lot easier. Designed for performing diagnostic testing for up to 35kV rated cables and full acceptance testing of cables 25kV and lower, this unit covers most of the MV cables installed today. All instruments are shipped with a NIST calibration certificate, TD Control Center software, corona protection shields, Bluetooth dongle, and accessories tote. <a ui-sref="main.model({series: 'hva', model: 'hva45 td'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Pure AC VLF, and DC (+ or - polarity)</li>
                                                    <li>Load independent sinusoidal 0.1Hz</li>
                                                    <li>Integrated TD</li>
                                                    <li>TD Resolution ±1x10-4</li>
                                                    <li>TD Analysis & Reporting using TD Control Center</li>
                                                    <li>Digital RMS metering</li>
                                                    <li>Smallest compact rugged construction</li>
                                                    <li>Bluetooth/USB Mem. stick PC Interface</li>
                                                    <li>4.3" Color LCD Display</li>
                                                    <li>Weighs only 86 lbs / 39 kg</li>
                                                    <li>Insulation Resistance & Cap. Measurement</li>
                                                    <li>Perform advanced diagnostics on MV Cables acc. to IEEE400, 400.2, CENELEC HD620/621</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Output Frequency optimization</li>
                                                    <li>Real time oscilloscope display</li>
                                                    <li>Auto & Manual Test programmable Sequences</li>
                                                    <li>Internal Storage of Test Reports</li>
                                                    <li>Unlimited duty cycle</li>
                                                    <li>Flashover voltage detection</li>
                                                    <li>Power supply immunity and independence</li>
                                                    <li>Low maintenance, oil-free design</li>
                                                    <li>RMS Digital Metering of Current and Voltage</li>
                                                    <li>Automatic TD Evaluation</li>
                                                    <li>Vacuum Bottle Test functionality</li>
                                                    <li>Optional Partial Discharge Interface</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">PD60</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA45 TD')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva45 td'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA45 TD')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA 60" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA60</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva60'})">
                                <img ng-src="/Products/HVA/HVA 60.png" />
                            </a> The HVA60 VLF /DC high voltage test instrument is the instrument of choice when customers require a single instrument that can test the full range of Medium Voltage cables available - that is 35kV rated cables and below. This very popular, single piece instrument is widely used on long 35/33kV cable systems found in electrical utilities, wind and solar farms, etc. <a ui-sref="main.model({series: 'hva', model: 'hva60'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Test your 35kV below MV cable systems.</li>
                                                    <li>Single Piece Design</li>
                                                    <li>Weighs only 126 lbs / 57kg</li>
                                                    <li>Perform tests fully automatically</li>
                                                    <li>Real time oscilloscope display</li>
                                                    <li>Insulation Resistance &amp; Cap. measurement</li>
                                                    <li>HVA Control Center - User friendly software for immediate, professional detailed reporting and setup</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Bright backlit LCD display</li>
                                                    <li>VLF 44kVrms / 62kVpk output</li>
                                                    <li>DC &plusmn;60kV</li>
                                                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                                                    <li>Cable Jacket / Sheath testing</li>
                                                    <li>Low maintenance, oil-free design</li>
                                                    <li>Integrated internal discharge of DUT</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva60'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">TD60</a>
                                            <a class="item">PD60-2</a>
                                            <a class="item">PD60-2/TD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA 60')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva60'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA 60')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA 90/94" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA90/94</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva90'})">
                                <img ng-src="/Products/HVA/HVA 90_94.png" align="left" />
                            </a> The model HVA90 and HVA94 offer customers the ability to test MV and Sub Transmission class cables including 69kV and 46kV cable and below. The lightest 90kV VLF/DC system on the market, this single instrument not only produces some of the highest VLF AC voltages available, but it also has a very powerful output capability. This facilitates the testing of long cables. <a ui-sref="main.model({series: 'hva', model: 'hva90'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Tests your MV and Transmission cable networks</li>
                                                    <li>Test up to 10&micro;F (100,000ft/30kms)</li>
                                                    <li>Single Piece Design</li>
                                                    <li>Weighs only 280 lbs / 127kg</li>
                                                    <li>Insulation Resistance &amp; Cap. measurement</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>High voltage 90kV (HVA90) or 94kV output (HVA94)</li>
                                                    <li>DC &plusmn;90/94kV</li>
                                                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                                                    <li>Integrated internal discharge of DUT</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva90'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">TD90</a>
                                            <a class="item">PD90-2</a>
                                            <a class="item">PD90-2/TD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA 90/94')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva90'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA 90/94')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="HVA200" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA200</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})" >
                                <img ng-src="/Products/HVA/HVA200.jpg" align="left" style="margin-right: 10px;" />
                            </a> The HVA200 finally provides cable owners a cost effective, practical solution for testing their transmission class cables in the field. Ideally suited for testing 138kV transmission cables to 1.7Uo.
                                    <br/>
                                    <br/> The HVA200 provides AC test voltages up to 140kV rms / 200kV Peak and DC up to +/- 200kV. <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Cable Testing in compliance with IEEE400 and 400.2</li>
                                                    <li>Both AC VLF and DC plus and minus modes</li>
                                                    <li>Load Independent Pure Sinewave Voltage output</li>
                                                    <li>Accurate RMS metering of current and voltage</li>
                                                    <li>Continuous duty cycle</li>
                                                    <li>Trailer mountable with flexible and fast setup</li>
                                                    <li>Programmable automatic voltage test sequences </li>
                                                    <li>Automatic Frequency optimization from 0.01 to 0.1Hz </li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Voltage Waveform Display </li>
                                                    <li>Automatic discharging of load</li>
                                                    <li>Control and reporting software included</li>
                                                    <li>Remote HV Status indication and Emergency Off Kill Switch</li>
                                                    <li>Flashover voltage and short circuit detection</li>
                                                    <li>Automatic Measurement of Load Resistance and</li>
                                                    <li> Capacitance </li>
                                                    <li>Upgradeable to include Optional Partial Discharge and Tan Delta</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">More features &raquo;</a>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Video
                                    </div>
                                    <div class="content">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/_lfeZunEDq4" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny two buttons">
                                    <a class="ui button" ui-sref="main.model({series: 'pdTd', model: 'hva200'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA 200')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>