<div class="ui fullscreen modal 100ADM-MK4">
    <i class="close icon"></i>
    <div class="header">
        100 ADM-MK4
        <div class="sub header"><a href="{{getDataSheet('100 ADM-MK4')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/100 ADM-MK4.png" />
        </div>
        <div class="description">
            <p>The 100ADM mk4 provides commissioning and maintenance engineers with a flexible system for testing protective systems. An easy to use front panel layout and a simple user interface. The status of every function can be seen at a glance, and there are no complex menus to navigate.
                <br/>
                <br/>
                The 100ADM mk4 keeps the familiar user interface of previous models but adds a new metering system that accurately measures the RMS of a single cycle. It also features a new current limit mode that provides precise control of low currents, even into low impedance loads. Current limit mode also assists in testing self-powered overcurrent protection schemes.
                <br/>
                <br/>
                The instrument has a range of outputs allowing injection of currents as low as few mA and as high as 100A. Voltages up to 240V are available allowing high impedance current relays and voltage relays to be tested. Four true RMS metering ranges are provided, and the full scale of the meter (and trip level) can be set independently of output tap. Industry standard safety connectors are used on all inputs and outputs for convenience, reliability, and safety.
                <br/>
                <br/>
                A very flexible two channel timing system is provided, allowing trip times, reset times, and reclose times to be quickly measured to a high degree of accuracy. The timer auto-ranges to measure from 1ms to 99999.9s.
                <br/>
                <br/>
                The outputs of the 100ADM- mk4 are well protected. The main output is protected by overcurrent, duty-cycle and thermal trips. The auxiliary dc supply is protected by a current limit, and the auxiliary AC supply is fuse protected.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Clear and simple user interface</li>
                    <li>0-100A single phase output current</li>
                    <li>Current limit mode for fine current control</li>
                    <li>True RMS metering with single cycle capture memory ammeter</li>
                    <li>Multi-function auto-ranging timing system</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Auxiliary DC and AC output</li>
                    <li>Large back-lit liquid crystal display</li>
                    <li>Thermal and over-current protection</li>
                    <li>Compact and portable</li>
                    <li>Automatic mains voltage selection</li>
                    <li>Shoulder carry strap</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">Range</td>
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>5 min*</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>1 min*</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">33A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">67A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">100A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10.5V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">8.7V@100A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">30A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">36V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">32V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">108V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">276V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240Vdc</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <p>* Off time of 15 minutes. On tmes based on an ambient temperature of 25 ° C</p>
        <h4>I Limit Mode</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Short Circuit</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>5 min</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>2 min</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">8.6V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">5V@6A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">29V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">13V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">88V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">224V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxilary AC and DC Outputs</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>DC stablised output</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>24V, 48V, 60V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>1.0A</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110V, 220V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.23A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Fixed AC output</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110Vac</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">300mA</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Trip Current</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Aquisition Time</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>2.000A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.001A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2.2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10.00A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">11A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">22A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100.0A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">200.0A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Timing</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1/10/100ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode)</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">24V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Contact s/c</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20mA</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Vdc</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">24—240V</td>
            </tr>
            </tbody>
        </table>

        <h4>Supply Requirements</h4>

        <p>115V/230V ±10% auto-selecting 50/60Hz 1ph 1200VA max.</p>

        <h4>Safety</h4>

        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Storage:</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Operating:</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20 kg</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">44 lbs</td>
            </tr>
            </tbody>
        </table>
        <h4>Lead Set Specifications</h4>
        <p>The 100ADM mk4 is supplied with a lead set consisting of:</p>
        <ul>
            <li>2 x 5m 25mm2 100A leads terminated in M10 ring crimps</li>
            <li>2 x 5m, 2 x 0.5m 2.5mm2 25A leads terminated in 4mm plugs</li>
            <li>1 x 5m 2 core 0.75mm2 lead terminated in 4mm plugs</li>
            <li>The lead set is supplied in a plastic carrying case.</li>
            <li><strong>Lead set weight:</strong> 5.3kg including case.</li>
        </ul>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>

<div class="ui fullscreen modal 200ADM-P">
    <i class="close icon"></i>
    <div class="header">
        200ADM-P
        <div class="sub header"><a href="{{getDataSheet('200ADM-P')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/200ADM-P.png" />
        </div>
        <div class="description">
            <p>200ADM-P is a current injection system with a wide range of advanced features including phase shift, data storage and harmonic analysis.
                <br/>
                <br/>
                The unit has a range of outputs allowing injection of currents between 1mA and 200A. Voltages up to 240V are available on the main outputs allowing high impedance current relays to be tested. True RMS metering with single cycle capture is provided. 4 current ranges allow the full scale of the meter and trip level to be set independently of the selected output. Industry standard safety connectors are used throughout for safe, reliable convenience.
                <br/>
                <br/>

                The unit has a comprehensive timing system linked to the outputs allow trip times, reset times and reclose times to be quickly measured to a high degree of accuracy. The timer includes a current operated mode and can accurately test instantaneous trips.
                <br/>
                <br/>

                Two USB host sockets are provided to connect a memory stick, keyboard or printer. Results of every test can be stored to the memory stick in spreadsheet format for later analysis. The keyboard allows entry of a comment against each result. In addition, a graphics file of the waveform may be stored to the memory stick. Harmonic analysis of results can also be recorded.
                <br/>
                <br/>

                The 200ADM-P has a flexible auxiliary ac output up to 260V for voltage relays or up to 10A for current relays. The phase and frequency of this output are fully adjustable. This combination of voltage and current allows testing of relays that require two voltages, one voltage and one current or two currents.
                <br/>
                <br/>

                An auxiliary metering module is provided that meters ac and dc voltage, current and frequency from the auxiliary outputs or external signals. The module can also take measurements in conjunction with the main current output to meter phase angle, power, impedance, CT ratio and harmonics.
                <br/>
                <br/>

                A variable stabilized DC supply with current limit is provided to power the relay under test.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                    <li>Rugged, one piece portability</li>
                    <li>Large output load capability (up to 15µF)</li>
                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                    <li>No oil or arcing contacts that require routine maintenance</li>
                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Range</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min*</strong></td>
                <td valign="\&quot;top\&quot;"><strong>1 min*</strong></td>
                <td valign="\&quot;top\&quot;"><strong>6 sec **</strong></td>
                <td valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td valign="\&quot;top\&quot;">33A</td>
                <td valign="\&quot;top\&quot;">67A</td>
                <td valign="\&quot;top\&quot;">100A</td>
                <td valign="\&quot;top\&quot;">200A</td>
                <td valign="\&quot;top\&quot;">10.6V</td>
                <td valign="\&quot;top\&quot;">8.7V@100A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">20A</td>
                <td valign="\&quot;top\&quot;">30A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">36V</td>
                <td valign="\&quot;top\&quot;">32V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">6A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">108V</td>
                <td valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">276V</td>
                <td valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240Vdc</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <p>* Off time of 15 minutes. On tmes based on an ambient temperature of 25 ° C <br> ** 6 second intermittent ratings available with 230V supply</p>
        <h4>I Limit Mode</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Short Circuit</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min</strong></td>
                <td valign="\&quot;top\&quot;"><strong>2 min</strong></td>
                <td valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">6A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">8.6V</td>
                <td valign="\&quot;top\&quot;">5V@5A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">29V</td>
                <td valign="\&quot;top\&quot;">13V@2A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">0.6A</td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">88V</td>
                <td valign="\&quot;top\&quot;">40V@06A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">0.1A</td>
                <td valign="\&quot;top\&quot;">0.2A</td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">224V</td>
                <td valign="\&quot;top\&quot;">130V@0.2A</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxilary DC Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Maximum A</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous Rating</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>12-60V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">25W</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>60-220V</strong></td>
                <td valign="\&quot;top\&quot;">0.23A</td>
                <td valign="\&quot;top\&quot;">25W</td>
            </tr>
            </tbody>
        </table>
        <h4>Phase-shifting AC Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;"><strong>Maximum Voltage</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Current</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Current</strong></td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>No Load</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Full Load</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min on/15 min off</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>0-130V</strong></td>
                <td valign="\&quot;top\&quot;">144V</td>
                <td valign="\&quot;top\&quot;">125V</td>
                <td valign="\&quot;top\&quot;">0.23A</td>
                <td valign="\&quot;top\&quot;">0.46A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>0-260V</strong></td>
                <td valign="\&quot;top\&quot;">288V</td>
                <td valign="\&quot;top\&quot;">250V</td>
                <td valign="\&quot;top\&quot;">0.11A</td>
                <td valign="\&quot;top\&quot;">0.23A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">0-6V</td>
                <td valign="\&quot;top\&quot;">6.6V</td>
                <td valign="\&quot;top\&quot;">5V</td>
                <td valign="\&quot;top\&quot;">5A</td>
                <td valign="\&quot;top\&quot;">10A</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Trip Current</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Aquisition Time</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>5.000A</strong></td>
                <td valign="\&quot;top\&quot;">0.001A</td>
                <td valign="\&quot;top\&quot;">5.5A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">22A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>50.00A</strong></td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">55A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>200.0A</strong></td>
                <td valign="\&quot;top\&quot;">200.0A</td>
                <td valign="\&quot;top\&quot;">220A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxiliary Metering Inputs</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Setting</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Vdc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">300.0V</td>
                <td valign="\&quot;top\&quot;">0.1V</td>
                <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Idc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">5.000A CF &lt; 3<br> 9.999A CF &lt; 1.5</td>
                <td valign="\&quot;top\&quot;">0.001A</td>
                <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Phase</strong></td>
                <td valign="\&quot;top\&quot;">-179.9° to +180.0°</td>
                <td valign="\&quot;top\&quot;">0.1°</td>
                <td valign="\&quot;top\&quot;">±3°</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Frequency</strong></td>
                <td valign="\&quot;top\&quot;">40-100Hz</td>
                <td valign="\&quot;top\&quot;">0.01Hz</td>
                <td valign="\&quot;top\&quot;">±0.02%<br>rdg±2d</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Timing</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;">1/10/100ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode)</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
                <td valign="\&quot;top\&quot;">24V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Contact s/c</strong></td>
                <td valign="\&quot;top\&quot;">20mA</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Vdc</strong></td>
                <td valign="\&quot;top\&quot;">24—240V</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>115V/230V ±10% auto-selecting 50/60Hz 1ph 2300VA max.</p>
        <h4>Safety</h4>
        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td valign="\&quot;top\&quot;">380mm x 314mm x221mm</td>
                <td valign="\&quot;top\&quot;">15in x 12.4in x 8.7in</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Pelicase Unit</strong></td>
                <td valign="\&quot;top\&quot;">560mm x 456mm x 265mm</td>
                <td valign="\&quot;top\&quot;">22in x 18in x 10.4in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td valign="\&quot;top\&quot;">19.5 kg</td>
                <td valign="\&quot;top\&quot;">43 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Pelicase Unit</strong></td>
                <td valign="\&quot;top\&quot;">23.3 kg</td>
                <td valign="\&quot;top\&quot;">51.4 lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>

<div class="ui fullscreen modal 750ADMmk2">
    <i class="close icon"></i>
    <div class="header">
        750ADM mk2 / 750ADM-H mk2
        <div class="sub header"><a href="{{getDataSheet('750ADM mk2 / 750ADM-H mk2')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/750ADM mk2 _ 750ADM-H mk2.png" />
        </div>
        <div class="description">
            <p>The 750ADM mk2 and 750ADM-H mk2 are compact, rugged primary current injection systems with a 750A capability. The 750ADM has a maximum no load output voltage of a 3.5V and the 750ADM-H has a maximum voltage of 5V. The units are ideally suited to all low power primary injection tasks requiring up to 750A for short periods.
                <br/>
                <br/>
                The units have two outputs, allowing injection of currents as low as a few hundred milliamps and up to 750A. Voltages up to 16V are available on the 40A output, allowing higher impedance trips to be tested. Four true RMS metering ranges are provided, allowing the full scale of the meter and trip level to be set independently of the selected output. The metering has a capture time of less than 20ms, allowing the rms of a single cycle to be accurately measured. Industry standard connectors are used on all inputs and outputs for convenience, reliability, and thermal trips.
                <br/>
                <br/>

                The timing system is very flexible without compromising ease of use, allowing trip times, reset time, and reclose times to be quickly measured to a high degree of accuracy. Two contact inputs are provided, each of which may be trigged by a volt-free contact or a dc voltage. The contact inputs auto-sense for normally open or normally closed contacts.
                <br/>
                <br/>

                The 750ADM can be used to test many devices including: circuit breakers, primary injection over-current relays, auto-reclosers, MCB’s, CT ratio (with external meter for secondary current).</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                    <li>Rugged, one piece portability</li>
                    <li>Large output load capability (up to 15µF)</li>
                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                    <li>No oil or arcing contacts that require routine maintenance</li>
                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td valign="\&quot;top\&quot;">&nbsp;</td>
            <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">750ADM</td>
            <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">750ADM-H</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;">&nbsp;</td>
            <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
            <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
            <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
            <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>750A Output</strong></td>
            <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Open Circuit Voltage</strong></td>
            <td valign="\&quot;top\&quot;">2.5V</td>
            <td valign="\&quot;top\&quot;">3.5V</td>
            <td valign="\&quot;top\&quot;">3.5V</td>
            <td valign="\&quot;top\&quot;">5.0V</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Voltage at 500A</strong></td>
            <td valign="\&quot;top\&quot;">1.9V</td>
            <td valign="\&quot;top\&quot;">2.8V</td>
            <td valign="\&quot;top\&quot;">2.8V</td>
            <td valign="\&quot;top\&quot;">4V</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Continuous Current</strong></td>
            <td valign="\&quot;top\&quot;">125A</td>
            <td valign="\&quot;top\&quot;">125A</td>
            <td valign="\&quot;top\&quot;">125A</td>
            <td valign="\&quot;top\&quot;">125A</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>5 min on</strong></td>
            <td valign="\&quot;top\&quot;">250A</td>
            <td valign="\&quot;top\&quot;">250A</td>
            <td valign="\&quot;top\&quot;">250A</td>
            <td valign="\&quot;top\&quot;">250A</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>1 min on</strong></td>
            <td valign="\&quot;top\&quot;">500A</td>
            <td valign="\&quot;top\&quot;">500A</td>
            <td valign="\&quot;top\&quot;">440A</td>
            <td valign="\&quot;top\&quot;">500A</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Max Current</strong></td>
            <td valign="\&quot;top\&quot;">750A</td>
            <td valign="\&quot;top\&quot;">750A</td>
            <td valign="\&quot;top\&quot;">500A</td>
            <td valign="\&quot;top\&quot;">750A</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Max current on time</strong></td>
            <td valign="\&quot;top\&quot;">10s</td>
            <td valign="\&quot;top\&quot;">30s</td>
            <td valign="\&quot;top\&quot;">10s</td>
            <td valign="\&quot;top\&quot;">20s</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>40A Output</strong></td>
            <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Open Circuit Voltage</strong></td>
            <td valign="\&quot;top\&quot;">10V</td>
            <td valign="\&quot;top\&quot;">16V</td>
            <td valign="\&quot;top\&quot;">10V</td>
            <td valign="\&quot;top\&quot;">16V</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Full load voltage</strong></td>
            <td valign="\&quot;top\&quot;">7.5V</td>
            <td valign="\&quot;top\&quot;">10V</td>
            <td valign="\&quot;top\&quot;">7.5V</td>
            <td valign="\&quot;top\&quot;">10V</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Continuous Current</strong></td>
            <td valign="\&quot;top\&quot;">10A</td>
            <td valign="\&quot;top\&quot;">10A</td>
            <td valign="\&quot;top\&quot;">10A</td>
            <td valign="\&quot;top\&quot;">10A</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>1 min on</strong></td>
            <td valign="\&quot;top\&quot;">40A</td>
            <td valign="\&quot;top\&quot;">40A</td>
            <td valign="\&quot;top\&quot;">40A</td>
            <td valign="\&quot;top\&quot;">40A</td>
        </tr>
        </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td valign="\&quot;top\&quot;">Range</td>
            <td valign="\&quot;top\&quot;">Resolution</td>
            <td valign="\&quot;top\&quot;">Trip current</td>
            <td valign="\&quot;top\&quot;">Accuracy</td>
            <td valign="\&quot;top\&quot;">Aquisition time</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;">20.00A</td>
            <td valign="\&quot;top\&quot;">0.01A</td>
            <td valign="\&quot;top\&quot;">21A</td>
            <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
            <td valign="\&quot;top\&quot;">20ms</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;">50.00A</td>
            <td valign="\&quot;top\&quot;">0.01A</td>
            <td valign="\&quot;top\&quot;">53A</td>
            <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
            <td valign="\&quot;top\&quot;">20ms</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;">200.00A</td>
            <td valign="\&quot;top\&quot;">0.1A</td>
            <td valign="\&quot;top\&quot;">210A</td>
            <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
            <td valign="\&quot;top\&quot;">20ms</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;">750A</td>
            <td valign="\&quot;top\&quot;">1A</td>
            <td valign="\&quot;top\&quot;">788A</td>
            <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
            <td valign="\&quot;top\&quot;">20ms</td>
        </tr>
        </tbody>
        </table>
        <h4>Auxiliary Metering Inputs</h4>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td valign="\&quot;top\&quot;">Setting</td>
            <td valign="\&quot;top\&quot;">Range</td>
            <td valign="\&quot;top\&quot;">Resolution</td>
            <td valign="\&quot;top\&quot;">Accuracy</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Vdc/ac rms</strong></td>
            <td valign="\&quot;top\&quot;">300.0V</td>
            <td valign="\&quot;top\&quot;">0.1V</td>
            <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Idc/ac rms</strong></td>
            <td valign="\&quot;top\&quot;">5.000A CF9.999A CF0.001A±0.7% rdg±5d</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;" height="\&quot;32\&quot;"><strong>Phase</strong></td>
            <td valign="\&quot;top\&quot;">-179.9° to +180.0°</td>
            <td valign="\&quot;top\&quot;">0.1°</td>
            <td valign="\&quot;top\&quot;">±3°</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;" height="\&quot;32\&quot;"><strong>Frequency</strong></td>
            <td valign="\&quot;top\&quot;">40-100Hz</td>
            <td valign="\&quot;top\&quot;">0.01Hz</td>
            <td valign="\&quot;top\&quot;">±0.02% rdg±2d</td>
        </tr>
        </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td colspan="\&quot;2\&quot;">Timing</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
            <td valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
            <td valign="\&quot;top\&quot;">1/10/100ms</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
            <td valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode) ±0.01%rdg+4d (current operated mode)</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
            <td valign="\&quot;top\&quot;">24V</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;">Contact s/c</td>
            <td valign="\&quot;top\&quot;">20mA</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;">Vdc</td>
            <td valign="\&quot;top\&quot;">24—240V</td>
        </tr>
        </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr>
            <td valign="\&quot;top\&quot;">Auto-selecting</td>
            <td valign="\&quot;top\&quot;">750ADM</td>
            <td valign="\&quot;top\&quot;">750ADM-H</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;">115V/230V ±10% auto-selecting 50/60Hz 1ph</td>
            <td valign="\&quot;top\&quot;">2000VA max</td>
            <td valign="\&quot;top\&quot;">1900VA max</td>
        </tr>
        <tr>
            <td valign="\&quot;top\&quot;">230V±10% 50/60Hz 1ph</td>
            <td valign="\&quot;top\&quot;">3000VA max</td>
            <td valign="\&quot;top\&quot;">3900VA max</td>
        </tr>
        </tbody>
        </table>
        <h4>Safety</h4>
        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
            <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
            <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
            <td valign="\&quot;top\&quot;">0°C to 45°C</td>
            <td valign="\&quot;top\&quot;">32°F to 113°F</td>
        </tr>
        </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
            <td valign="\&quot;top\&quot;">380mm x 314mm x221mm</td>
            <td valign="\&quot;top\&quot;">15in x 12.4in x 8.7in</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;" height="\&quot;19\&quot;"><strong>Pelicase Unit</strong></td>
            <td valign="\&quot;top\&quot;">560mm x 456mm x 265mm</td>
            <td valign="\&quot;top\&quot;">22in x 18in x 10.4in</td>
        </tr>
        </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
        <tbody>
        <tr class="\&quot;row3\&quot;">
            <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
        </tr>
        <tr class="\&quot;row1\&quot;">
            <td valign="\&quot;top\&quot;"><strong>750ADM</strong></td>
            <td valign="\&quot;top\&quot;">21.5</td>
        </tr>
        <tr class="\&quot;row2\&quot;">
            <td valign="\&quot;top\&quot;"><strong>750ADM-H</strong></td>
            <td valign="\&quot;top\&quot;">23.5</td>
        </tr>
        </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>