<div id="hva" class="ui segment padded products hva" >
    <h1 class="ui header">Current Injectors
        <div class="sub header">Product</div>
    </h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Dielectric Oil Testing</div>
                            <div class="menu">
                                <a class="item" href="#100 ADM-MK4">100 ADM-MK4</a>
                                <a class="item" href="#200ADM-P">200ADM-P</a>
                                <a class="item" href="#750ADM mk2 / 750ADM-H mk2">750ADM mk2 / 750ADM-H mk2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="100 ADM-MK4" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">100 ADM-MK4</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Current Injectors/100 ADM-MK4.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    The 100ADM mk4 provides commissioning and maintenance engineers with a flexible system for testing protective systems. An easy to use front panel layout and a simple user interface. <a ui-sref="main.model({series: 'injectors', model: '100adm-mk4'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Clear and simple user interface</li>
                                                    <li>0-100A single phase output current</li>
                                                    <li>Current limit mode for fine current control</li>
                                                    <li>True RMS metering with single cycle capture memory ammeter</li>
                                                    <li>Multi-function auto-ranging timing system</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Auxiliary DC and AC output</li>
                                                    <li>Large back-lit liquid crystal display</li>
                                                    <li>Thermal and over-current protection</li>
                                                    <li>Compact and portable</li>
                                                    <li>Automatic mains voltage selection</li>
                                                    <li>Shoulder carry strap</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'injectors', model: '100adm-mk4'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('100 ADM-MK4')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'injectors', model: '100adm-mk4'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('100 ADM-MK4')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="200ADM-P" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">200ADM-P</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Current Injectors/200ADM-P.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    200ADM-P is a current injection system with a wide range of advanced features including phase shift, data storage and harmonic analysis.
                                    <br/>
                                    <br/>
                                    The unit has a range of outputs allowing injection of currents between 1mA and 200A. Voltages up to 240V are available on the main outputs allowing high impedance current relays to be tested. <a ui-sref="main.model({series: 'injectors', model: '200adm-p'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                                                    <li>Rugged, one piece portability</li>
                                                    <li>Large output load capability (up to 15µF)</li>
                                                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                                                    <li>No oil or arcing contacts that require routine maintenance</li>
                                                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'injectors', model: '200adm-p'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('200ADM-P')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'injectors', model: '200adm-p'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('200ADM-P')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="750ADM mk2 / 750ADM-H mk2" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">750ADM mk2 / 750ADM-H mk2</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Current Injectors/750ADM mk2 _ 750ADM-H mk2.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    The 750ADM mk2 and 750ADM-H mk2 are compact, rugged primary current injection systems with a 750A capability. The 750ADM has a maximum no load output voltage of a 3.5V and the 750ADM-H has a maximum voltage of 5V. <a ui-sref="main.model({series: 'injectors', model: '750admmk2'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                                                    <li>Rugged, one piece portability</li>
                                                    <li>Large output load capability (up to 15µF)</li>
                                                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                                                    <li>No oil or arcing contacts that require routine maintenance</li>
                                                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'injectors', model: '750admmk2'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('750ADM mk2 / 750ADM-H mk2')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'injectors', model: '750admmk2'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('750ADM mk2 / 750ADM-H mk2')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'main/products/injectorsModal.html'"></ng-include>