<div class="ui fullscreen modal DSM200">
    <i class="close icon"></i>
    <div class="header">
        DSM200
        <div class="sub header"><a href="{{getDataSheet('DSM200')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DSM200.png" />
        </div>
        <div class="description">
            <p>DSM200 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM200 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. The unit is equally suited to commissioning, maintenance, and production line environments. Contact resistances in circuit breakers, switch panels, isolators, and busbar joints are all easily and safely measured.
                <br/>
                <br/>
                The DSM200 is simple to operate, only requiring the user to switch the output on and set the test current. Selection of all ranges is fully automatic, and current, voltage and resistance are displayed simultaneously at all times. The resistance is calculated from the test current and sense voltage, and there is no need to set an exact test current to guarantee an accurate test result. To assist the user, all readings are held on the display when the output is switched off.
                <br/>
                <br/>
                Connecting the DSM200 to a PC running the optional DSMlog software adds data capture and reporting functions to the unit, allowing test results to be exported directly to Excel or saved to a file. All results are time stamped, and a comment may be added to each test. Data capture can be controlled from the PC, and the resistance of a test object can be monitored over a period of time.
                Alternatively, connecting a printer allows of the test parameters to be printed automatically whenever the reading is held.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <ul class="ui list">
            <li>0-10A and 0-200A DC test current</li>
            <li>0.1µΩ resolution</li>
            <li>mV, A, and µΩ displayed simultaneously</li>
        </ul>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Output Ratings</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;">Output Current</td>
                <td valign="\&quot;top\&quot;">No Load Voltage</td>
                <td valign="\&quot;top\&quot;">Full load voltage</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">200A</td>
                <td valign="\&quot;top\&quot;">0-200Adc</td>
                <td valign="\&quot;top\&quot;">0-6.0Vdc</td>
                <td valign="\&quot;top\&quot;">0-3.4Vdc</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">10A smoothed</td>
                <td valign="\&quot;top\&quot;">0-10Adc</td>
                <td valign="\&quot;top\&quot;">0-6.0Vdc</td>
                <td valign="\&quot;top\&quot;">0-2.5Vdc</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>240V±10% 1 phase 50/60Hz. 1000VA Max. <br> 220V±10% 1 phase 50/60Hz. 1000VA Max. <br> 115V -6% to +10% 1 phase 50/60Hz. 1000VA Max.</p>
        <h4>Temperature Range</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td valign="\&quot;top\&quot;"><strong>200.0A</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;" height="\&quot;20\&quot;"><strong>40.00mV</strong></td>
                <td valign="\&quot;top\&quot;">2000µΩ</td>
                <td valign="\&quot;top\&quot;">200.0µΩ</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>400.0mV</strong></td>
                <td valign="\&quot;top\&quot;">20.00µΩ</td>
                <td valign="\&quot;top\&quot;">2000µΩ</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>4000mV</strong></td>
                <td valign="\&quot;top\&quot;">200.0µΩ</td>
                <td valign="\&quot;top\&quot;">20.00µΩ</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">340 x 230 x 330mm</td>
                <td valign="\&quot;top\&quot;">13.4 x 9 x 13in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">21.4 kg</td>
                <td valign="\&quot;top\&quot;">47 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">3m lead set weight 2.7kg</td>
                <td valign="\&quot;top\&quot;">118\" lead set weight 6lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>

<div class="ui fullscreen modal DMO200">
    <i class="close icon"></i>
    <div class="header">
        DMO200
        <div class="sub header"><a href="{{getDataSheet('DMO200')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DMO200.png" />
        </div>
        <div class="description">
            <p style="margin-bottom: 0in;"><strong>Busbar joint resistance<br></strong>The DMO200 is ideal for measuring busbar joint resistance. Before making connections, ensure that the supply is off and necessary earths have been applied. Connect the high current leads to the busbar, ensuring that the joint to be measured is in the circuit. Connect the sense leads as close as possible to the joint to be measured. Select the desired test current using one of the preset test currents (or use the adjust knob to set a custom test current). Switch the output on, and the current rises to the preset current. Switch the output off again, and the reading is held on the display.</p>
            <br/>
            <p style="margin-bottom: 0in;"><strong>Storing results<br></strong>The DMO200 is supplied with a USB memory key and USB keyboard for storing annotated results. To enter or edit a comment tap the COMMENT/MENU button. The comment can then be edited using the keyboard. This comment is stored with each result until a new comment is entered. Each time the output of the unit is switched off the readings from the unit are saved to the USB memory key in CSV format along with the date, time, and your comment. The CSV file can be opened with any spreadsheet program such as Microsoft Excel™ or OpenOffice Calc.</p>
            <br/>
            <p style="margin-bottom: 0in;"><strong>Circuit breaker contact resistance<br></strong>The DMO200 is suited to all low resistance measurements on power systems, and is particularly suited to measure contact resistances on substation circuit breakers, isolators, and grounding equipment. The unit has a powerful output capable of driving 200A through 20m output leads to reach the contacts of even the largest circuit breakers. Optional output lead extensions are available which extend the high current and sense leads by 3, 5, or 10m.</p>
            <br/>
            <p style="margin-bottom: 0in;">Accurate measurements on circuit breakers, isolators, and grounding links with both side earthed are simple with the optional current clamp. This allows the current flowing through the earthing equipment to be subtracted from the test current.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>All test results can be stored automatically on a standard USB memory key</li>
                    <li>Main output: 5V 1-200A pre-settable current</li>
                    <li>Thermal and over-current protection</li>
                    <li>Optional DC current clamp to measure resistances with both sides earthed</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>High quality 3m 200A output leads</li>
                    <li>90-264V supply voltage with no restriction on output current</li>
                    <li>Programmable buttons to set test currents</li>
                    <li>Supplied with a USB keyboard and 2Gb USB memory key</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Supply requirements:</strong></p></td>
                <td valign="top" class="rightside"><p>90-265Vac 1300VA max</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output:</strong></p></td>
                <td valign="top" class="rightside"><p>1-200Adc 5V</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Resistance measurement:</strong></p></td>
                <td valign="top" class="rightside"><p>0.1µΩ-5Ω</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>DMO200 dimensions:</strong></p></td>
                <td valign="top" class="rightside"><p>360 x 290 x 165mm</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>DMO200 weight:</strong></p></td>
                <td valign="top" class="rightside"><p>6.9kg</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Accessories supplied with unit:</strong></p></td>
                <td valign="top" class="rightside"><p>Mains lead, user manual,</p></td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>

<div class="ui fullscreen modal DSM600">
    <i class="close icon"></i>
    <div class="header">
        DSM600
        <div class="sub header"><a href="{{getDataSheet('DSM600')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
        <!--<div class="sub header">-->
        <!--<a href="/quote.html?add_quote=hva28" class="rq">Request Quote</a> | <a href="/download/datasheet/1" target="_blank">Data Sheet</a> | <a href="#specs">Technical Specs</a>-->
        <!--</div>-->
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Micro-Ohmmeters/DSM600.png" />
        </div>
        <div class="description">
            <p>DSM600 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM600 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. The unit is equally suited to commissioning, maintenance, and production line environments. Contact resistances in circuit breakers, switch panels, isolators, and busbar joints are all easily and safely measured.
                <br/>
                <br/>
                The DSM600 is simple to operate, only requiring the user to switch the output on and set the test current. Selection of all ranges is fully automatic, and current, voltage and resistance are displayed simultaneously at all times. The resistance is calculated from the test current and sense voltage, and there is no need to set an exact test current to guarantee an accurate test result. To assist the user, all readings are held on the display when the output is switched off.
                <br/>
                <br/>
                Connecting the DSM600 to a PC running the optional DSMlog software adds data capture and reporting functions to the unit, allowing test results to be exported directly to Excel or saved to a file. All results are time stamped, and a comment may be added to each test. Data capture can be controlled from the PC, and the resistance of a test object can be monitored over a period of time.
                <br/>
                <br/>
                Alternatively, connecting a printer allows of the test parameters to be printed automatically whenever the reading is held.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>0-600A DC test current</li>
                    <li>0.1µO resolution</li>
                    <li>mV, A, and µO displayed simultaneously</li>
                    <li>Direct Ohms reading at any current</li>
                    <li>Large back-lit liquid crystal display</li>
                    <li>Thermal and over-current protection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Compact and portable</li>
                    <li>Isolated RS232 interface for printer or PC connection</li>
                    <li>90-264V supply voltage range</li>
                    <li>High quality 3m lead set supplied as standard</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Output Ratings</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Supply Voltage</td>
                <td>Output Current</td>
                <td>No Load Voltage</td>
                <td>Full load voltage</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
                <td>0-600Adc</td>
                <td>0-4.4Vdc</td>
                <td>0-2.5Vdc</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
                <td>0-400Adc</td>
                <td>0-2.2Vdc</td>
                <td>0-1.1Vdc</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>90V</strong></td>
                <td>0-300Adc</td>
                <td>0-1.6Vdc</td>
                <td>0-0.75Vdc</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>90-264VAC one phase 50/60Hz. 3200VA Max.</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td>&nbsp;</td>
                <td>60.00A</td>
                <td>600.0A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td height="\&quot;20\&quot;"><strong>40.00mV</strong></td>
                <td>667µΩ</td>
                <td>66.7µΩ</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>400.0mV</strong></td>
                <td>6.67µΩ</td>
                <td>667µΩ</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>4000mV</strong></td>
                <td>66.7µΩ</td>
                <td>6.67µΩ</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">332 x 288 x 202mm</td>
                <td valign="\&quot;top\&quot;">13 x 11.3 x 8in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">26.4 kg</td>
                <td valign="\&quot;top\&quot;">58 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">3m lead set weight 6.0kg</td>
                <td valign="\&quot;top\&quot;">118\" lead set weight 13lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>