<div id="hva" class="ui segment padded products hva" >
    <h1 class="ui header">Micro-Ohmmeters
        <div class="sub header">Product</div>
    </h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                   <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Micro-Ohmmeters</div>
                            <div class="menu">
                                <a class="item" href="#DSM200">DSM200</a>
                                <a class="item" href="#DMO200">DMO200</a>
                                <a class="item" href="#DSM600">DSM600</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="DSM200" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">DSM200</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Micro-Ohmmeters/DSM200.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    DSM200 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM200 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm200'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>0-10A and 0-200A DC test current</li>
                                                    <li>0.1µΩ resolution</li>
                                                    <li>mV, A, and µΩ displayed simultaneously <br><br></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm200'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('DSM200')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm200'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('DSM200')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DMO200" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">DMO200</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Micro-Ohmmeters/DMO200.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    The DMO200 is ideal for measuring busbar joint resistance. Before making connections, ensure that the supply is off and necessary earths have been applied. Connect the high current leads to the busbar, ensuring that the joint to be measured is in the circuit. <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dmo200'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>All test results can be stored automatically on a standard USB memory key</li>
                                                    <li>Main output: 5V 1-200A pre-settable current</li>
                                                    <li>Thermal and over-current protection</li>
                                                    <li>Optional DC current clamp to measure resistances with both sides earthed</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>High quality 3m 200A output leads</li>
                                                    <li>90-264V supply voltage with no restriction on output current</li>
                                                    <li>Programmable buttons to set test currents</li>
                                                    <li>Supplied with a USB keyboard and 2Gb USB memory key</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dmo200'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('DMO200')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'micro-ohmmeters', model: 'dmo200'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('DMO200')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DSM600" class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <!--<a title="Request quote" class="right floated ui icon button"><i class="dollar icon"></i></a>-->
                                <!--<a title="Full description"><i class="right floated external icon"></i></a>-->
                                <!--<a title="Data Sheet"><i class="right floated file pdf outline icon"></i></a>-->
                                <div class="header">DSM600</div>
                            </div>
                            <div class="image">
                                <img ng-src="/Products/Micro-Ohmmeters/DSM600.png" />
                            </div>
                            <div class="content">
                                <div class="description">
                                    DSM600 Digital Micro-Ohmmeter is a market leader in the field of high current micro-ohmmeters, manufacturing durable, accurate, and user friendly units. The DSM600 is a high current micro-ohmmeter suitable for measuring very low resistances in a wide range of applications. The unit is equally suited to commissioning, maintenance, and production line environments. <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm600'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>0-600A DC test current</li>
                                                    <li>0.1µO resolution</li>
                                                    <li>mV, A, and µO displayed simultaneously</li>
                                                    <li>Direct Ohms reading at any current</li>
                                                    <li>Large back-lit liquid crystal display</li>
                                                    <li>Thermal and over-current protection</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Compact and portable</li>
                                                    <li>Isolated RS232 interface for printer or PC connection</li>
                                                    <li>90-264V supply voltage range</li>
                                                    <li>High quality 3m lead set supplied as standard</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm600'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('DSM600')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'micro-ohmmeters', model: 'dsm600'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('DSM600')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'main/products/micro-ohmModal.html'"></ng-include>