<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Partial Discharge
        <div class="sub header">Product</div>
    </h1>
    <p>What was once thought to be unachievable a mere 20 years ago, on site Partial Discharge (PD) diagnostics in the field has developed significantly over the past decade. Partial Discharge detection used to be consigned to special test bays in factory and laboratory environments. With the advances in electronics and software, performing PD measurements in the field has now become a routine and important maintenance check of an electrical system.
        <br/>
        <br/> While there is a great deal of good information on PD on the internet and in technical papers, there is also a great deal of hype, misrepresentation and sales propaganda out there.
        <br/>
        <br/> Partial Discharge is a very fast, small electrical spark or discharge that does not completely collapse the applied voltage. These discharges can, over time, degrade the insulation, resulting in a complete breakdown of the insulation, often with catastrophic consequences. PD is normally no more than a few mV in amplitude and when considering that the applied voltage is normally several kilovolts, with good modern test instruments, you are literally detecting a needle in haystack, when you detect and measure PD.
        <br/>
        <br/> The PD series of partial discharge detectors, primarily geared at cables, allows the operator to detect and locate PD. The systems have been designed to work with the HVA Series of VLF high voltage test generators. The powerful software that comes with the PD systems has been engineered to be user friendly and flexible allowing the operator to detect and interpret PD activity coming from the device under test (DUT).</p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">PD Series</div>
                            <div class="menu">
                                <a class="item" href="#PD30E">PD30E</a>
                                <a class="item" href="#PD60-2">PD60-2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="PD30E" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">PD30E</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a id="pd30eCarousel" class="pd30eCarousel productImageCarousel" ui-sref="main.model({series: 'pd', model: 'pd30e'})">
                                <img ng-src="/Products/PD/PD30E_01.png" align="left" />
                                <img ng-src="/Products/PD/PD30E_02.png" align="left" />
                                <img ng-src="/Products/PD/PD30E_03.png" align="left" />
                            </a> The PD30E is an ultra-compact partial discharge (PD) measurement and location system that interfaces to the HVA30 HVA34 or HVA28TD VLF AC test systems. The portable combination with the HVA28TD allows the user to perform VLF withstand, Tan Delta and Partial Discharge with one easy setup. Designed for testing cables up to 25kV class cables, the PD30E uses the same user friendly powerful software suite used in all our other PD systems and allows for both the detection and location mapping of PD activity in cable or device. The PD30E comes complete in a rugged injection molded case with NIST traceable PD Calibrator. <a ui-sref="main.model({series: 'pd', model: 'pd30e'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Weighs only 64 lbs / 29kgs (complete)</li>
                                                    <li>Battery or AC shore power operation</li>
                                                    <li>HVD Suite Software – for control and display</li>
                                                    <li>Extremely rugged and portable</li>
                                                    <li>Automatic and Manual Control of gain, trigger, and filtering options</li>
                                                    <li>Analog and Digital Noise mitigating algorithms and Filtering Options</li>
                                                    <li>Multiple Display format of PD Activity includes Phase Resolved Pattern, PD mapping, Raw signal , PD Intensity, PD Clusters, Voltage Dependence, Background Noise etc.</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Detection of PDIV and PDEV</li>
                                                    <li>Rated at 34kV Peak (ideal for 25kV Maintenance and below rated cables)</li>
                                                    <li>Includes PD Calibration Instrument (acc. to IEC 60270) </li>
                                                    <li>While mainly used for testing cables, can also be used for testing switchgear, motors, coils, transformers etc.</li>
                                                    <li>Quick and Easy reporting functionality</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'pd', model: 'pd30e'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('PD30E')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'pd', model: 'pd30e'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('PD30E')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PD60-2" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">PD60-2</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">
                                <img ng-src="/Products/PD/PD60-2.png" align="left" />
                            </a> The PD60-2 is a portable two-piece partial discharge (PD) measurement and location system that interfaces to the HVA28/30/34 or HVA 60 AC VLF test systems. The PD60, rated at 62kV peak test voltage, allows the operator to detect, locate and map PD in cable systems up to 35kV. Ideal for PD testing on 35kV MV collector networks found in wind and solar farms. The PD system runs on either battery or shore power or both. Combined with one of the HVA series of VLF test instruments, the user can perform both an AC withstand and a partial discharge test on a cable system at the same time without having to make any new connections or change out equipment. <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Flexible Separate standalone coupling capacitor and filter for ease of setup and portability</li>
                                                    <li>Battery or AC shore power operation</li>
                                                    <li>HVD Suite Software – for control and display</li>
                                                    <li>Rugged and portable</li>
                                                    <li>Automatic and Manual Control of gain, trigger, and filtering options</li>
                                                    <li>Analog and Digital Noise mitigating algorithms and Filtering Options</li>
                                                    <li>Ergonomic process driven menu guided user interface</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Multiple Display format of PD Activity includes Phase Resolved Pattern, PD mapping, Raw signal , PD Intensity, PD Clusters, Voltage Dependence, Background Noise etc.</li>
                                                    <li>Detection of PDIV and PDEV</li>
                                                    <li>Rated at 62kV Peak (ideal for 35kV Acceptance and Maintenance testing and below rated cables)</li>
                                                    <li>Includes PD Calibration Instrument (acc. to IEC 60270)</li>
                                                    <li>While mainly used for testing cables, can also be used for testing switchgear, motors, coils, transformers etc.</li>
                                                    <li>Quick and Easy reporting functionality</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny two buttons">
                                    <!-- <a class="ui button" target="_blank" ng-href="{{getDataSheet('PD30E')}}">Data Sheet</a> -->
                                    <a class="ui button" ui-sref="main.model({series: 'pd', model: 'pd60-2'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('PD60-2')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>