<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Partial Discharge Tan Delta
        <div class="sub header">Product</div>
    </h1>
    <p>As in any diagnostic field, be it medical or engineering, providing a true and accurate diagnosis of the health of a person or device, often requires the combination of more than one diagnostic test. It is very seldom that simply one diagnostic is sufficient to provide enough information to make a complete and accurate assessment.
        <br/>
        <br/> With electrical apparatus such as cables, performing a couple of tests is always better than simply pinning your hopes on just one. The PD/TD series of test instruments provide a combo package of Partial Discharge and Tan Delta in one integrated system allowing the testing engineer to perform a multitude of diagnostic tests, thereby gaining a better understanding as to the condition of that device.
        <br/>
        <br/> For example, there are many case studies from the field, where a cable has had no PD present, had good TD results, but then went on to fail the 30 minute withstand (hipot) test. In other cases, a cable that passed the withstand test, had no PD present and failed the TD diagnostic test – moisture in a splice was one example. In other cases, we have had cables that passed both the TD and withstand test, but had PD activity present in a termination. There are obviously also those cases where a cable can fail all 3 types of tests and one could argue that even the relatively simple but effective withstand test would have been sufficient. The bottom line is that no one tool will work every time to effectively diagnose the condition of an electrical device such as a cable. The combo PD TD series offers an excellent global perspective on the true condition of a cable system.
        <br/>
        <br/> All the combo systems are shipped in a rugged injection molded transport case/s that house the instrument and all its accessories. The PD TD combo systems combine with the HVA series of VLF AC sources. HVA Systems are sold separately. All the customer needs to provide is a Windows compatible laptop and true desire to accurately assess their cable systems.
    </p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui stackable two column grid productCards">
                    <div id="HVA200" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA200 PD TD</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">
                                <img ng-src="/Products/HVA/HVA200.jpg" align="left" />
                            </a> The HVA200 finally provides cable owners a cost effective, practical solution for testing their transmission class cables in the field. Ideally suited for testing 138kV transmission cables to 1.7Uo.
                                    <br/>
                                    <br/> The HVA200 provides AC test voltages up to 140kV rms / 200kV Peak and DC up to +/- 200kV. <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Cable Testing in compliance with IEEE400 and 400.2</li>
                                                    <li>Both AC VLF and DC plus and minus modes</li>
                                                    <li>Load Independent Pure Sinewave Voltage output</li>
                                                    <li>Accurate RMS metering of current and voltage</li>
                                                    <li>Continuous duty cycle</li>
                                                    <li>Trailer mountable with flexible and fast setup</li>
                                                    <li>Programmable automatic voltage test sequences </li>
                                                    <li>Automatic Frequency optimization from 0.01 to 0.1Hz </li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Voltage Waveform Display </li>
                                                    <li>Automatic discharging of load</li>
                                                    <li>Control and reporting software included</li>
                                                    <li>Remote HV Status indication and Emergency Off Kill Switch</li>
                                                    <li>Flashover voltage and short circuit detection</li>
                                                    <li>Automatic Measurement of Load Resistance and</li>
                                                    <li> Capacitance </li>
                                                    <li>Upgradeable to include Optional Partial Discharge and Tan Delta</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">More features &raquo;</a>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features of the HVA200’s Optional PD and TD Interface
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>PD Test done in accordance with IEC60270 and IEEE400.3</li>
                                                    <li>TD Test done in accordance with IEEE400.2</li>
                                                    <li>The PD and TD Section are integrated into the one system</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Allows Accurate location and measurement of PD with phase resolved pattern, magnitude, mapping and intensity displayed</li>
                                                    <li>Fast and Efficient Reporting software interface </li>
                                                    <li>Industry leading TD measurement and reporting software – the standard in the industry !</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'pdTd', model: 'hva200'})">More features &raquo;</a>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Video
                                    </div>
                                    <div class="content">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/_lfeZunEDq4" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny two buttons">
                                    <a class="ui button" ui-sref="main.model({series: 'pdTd', model: 'hva200'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA 200')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>