<div id="hva" class="ui segment padded products hva" >
    <h1 class="ui header">Get a quote</h1>
    <form name="quoteForm" class="ui form" ng-submit="requestQuoteSubmit(quoteForm)">
        <div class="required field">
            <label>Company</label>
            <input type="text" name="name" placeholder="Company Name" ng-model="quote.company" required>
        </div>
        <div class="required field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name" ng-model="quote.name" required>
        </div>
        <div class="required field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" ng-model="quote.email" required>
        </div>
        <div class="required field">
            <label>Phone</label>
            <input type="text" name="phone" placeholder="Phone" ng-model="quote.phone" required>
        </div>
        <div class="required field">
            <label>Selected Products:</label>
            <select multiple="" class="ui dropdown" ng-model="quote.products">
                <option value="HVA28">HVA28</option>
                <option value="HVA28TD">HVA28TD</option>
                <option value="HVA34">HVA34</option>
                <option value="HVA 30-5">HVA 30-5</option>
                <option value="HVA 60">HVA 60</option>
                <option value="HVA 90/94">HVA 90/94</option>
                <option value="HVA200">HVA200</option>
                <option value="HVA45 TD">HVA45 TD</option>
                <option value="TD30">TD30</option>
                <option value="TD60">TD60</option>
                <option value="TD90">TD90</option>
                <option value="EZ-Cable ID">EZ-Cable ID</option>
                <option value="1205 CXA TDR">1205 CXA TDR</option>
                <option value="BA75">BA75</option>
                <option value="BA100">BA100</option>
                <option value="100 ADM-MK4">100 ADM-MK4</option>
                <option value="200ADM-P">200ADM-P</option>
                <option value="750ADM mk2 / 750ADM-H mk2">750ADM mk2 / 750ADM-H mk2</option>
                <option value="DSM200">DSM200</option>
                <option value="DMO200">DMO200</option>
                <option value="DSM600">DSM600</option>
                <option value="PD30E">PD30E</option>
                <option value="PD60-2">PD60-2</option>
                <option value="HVA200 PD TD">HVA200 PD TD</option>
            </select>
        </div>
        <button class="ui blue button" type="submit" ng-class="{disabled: submitting, loading: submitting}">Submit</button>
    </form>
</div>