<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Tan Delta Cable Diagnostics
        <div class="sub header">Product</div>
    </h1>
    <p>
        The Tan Delta (TD) series of diagnostic test instruments was developed to help cable engineers evaluate the condition of their MV and EHV cables. Tan Delta, also known as TD, or Dissipation Factor, is an excellent diagnostic tool to evaluate both aged and new cables systems, particularly when evidence of moisture ingress into the cable is concerned. This can manifest itself as corrosion of the neutrals (also called concentric neutral corrosion) and/ or tracking in splices, and as water tree degradation in cable insulation etc.
        <br/>
        <br/> The TD Series of instruments work hand in hand with the HVA Series of VLF high voltage test instruments. Some of the TD systems are external and interface to the HVA as a separate device while others are integrated into the HVA System.
        <br/>
        <br/> HV Diagnostics is also one of the few companies in the world with the capability of performing an accurate and traceable Tan Delta calibration at VLF having developed a unique TD measurement reference system.
        <br/>
        <br/> Every TD system comes complete with corona suppression shields, a traceable TD calibration certificate, the Industry “Standard” TD Control Center software, all housed in a rugged carry case. TD systems are available up to 200kV!
    </p>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">TD Series</div>
                            <div class="menu">
                                <a class="item" href="#HVA28TD">HVA28TD</a>
                                <a class="item" href="#TD30">TD30</a>
                                <a class="item" href="#HVA45TD">HVA45TD</a>                                
                                <a class="item" href="#TD60">TD60</a>
                                <a class="item" href="#TD90">TD90</a>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <a class="ui basic button" ui-sref="main.diagnosticsInformation">Tan Delta Diagnostics Info</a>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="ui grid productCards">
                    <div id="HVA28TD" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA28TD</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">
                                <img ng-src="/Products/HVA/HVA28TD.png"  align="left" />
                            </a> The smallest VLF /DC unit on the market now includes an integrated Tan Delta measurement system to perform advanced electrical insulation diagnostics. For example, this can be extremely useful when performing advanced diagnostics on cable systems as it provides valuable information as to the condition of the cable insulation and shield. <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Weighs only 31 lbs / 14 kg</li>
                                                    <li>Smallest unit available</li>
                                                    <li>Extremely rugged and portable</li>
                                                    <li>Insulation Resistance &amp; Cap. measurement</li>
                                                    <li>HVA Control Center - User friendly software for immediate, professional detailed reporting and setup</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Auto &amp; Manual Test Sequences</li>
                                                    <li>Computer interface via Bluetooth or USB</li>
                                                    <li>Color LCD display</li>
                                                    <li>VLF 20kVrms/28kV pk output</li>
                                                    <li>Sinewave/Squarewave &amp; DC output</li>
                                                    <li>Cable Jacket / Sheath testing</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'hva', model: 'hva28td'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">PD30-E</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('HVA28TD')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva28td'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA28TD')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TD30" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">TD30</div>
                            </div>
                            
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'td', model: 'td30'})">
                                <img ng-src="/Products/TD/TD30.png" align="left" />
                            </a>
                                    The TD30 was the first small portable VLF TD system with wireless Bluetooth technology that really made performing TD testing in the field easy to perform. Compared to other TD systems on the market that required several connections to be made or were large and bulky, the TD30 requires very few connections and does not use any special batteries. <a ui-sref="main.model({series: 'td', model: 'td30'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Perform advanced diagnostics on MV Cables according to IEEE400 and 400.2</li>
                                                    <li>Suitable for testing 25kV cables and below</li>
                                                    <li>Wireless Bluetooth Connection</li>
                                                    <li>Minimum connection hookups</li>
                                                    <li>Accurate 1E-5 Resolution!</li>
                                                    <li>Excellent, easy to use TD reporting</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Supplied with Free TD control center Software and FW upgrades</li>
                                                    <li>Local LED indication for TD value range</li>
                                                    <li>Leakage Current Guard Protection</li>
                                                    <li>Sleep mode saves battery life</li>
                                                    <li>Uses universal C-type batteries</li>
                                                    <li>Supplied in rugged transport case with all accessories.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'td', model: 'td30'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">HVA 30-5</a>
                                            <a class="item">HVA34</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('TD30')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'td', model: 'td30'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('TD30')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div id="HVA45TD" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">HVA45 D</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                     <a id="hva45tdCarousel" class="hva45tdCarousel productImageCarousel" ui-sref="main.model({series: 'hva', model: 'hva45 td'})">
                                <img ng-src="/Products/HVA/HVA45 TD.jpg" align="left" />
                                <img ng-src="/Products/HVA/HVA45 TD_02.jpg" align="left" />
                            </a>
                                    This unit packs a punch at 45kV peak output and with integrated Tan Delta. There is no need to have a separate external Tan Delta instrument with this all-in-one design. Fully compliance with the IEEE400, 400.2, IEC 60502, CENELEC HD620/621 guides and standards. At only 86 lbs/39kbs this unit is very portable, housed in a rugged IP67 case. With a high test capacity of 10uF, there are very few loads or cables this instrument cannot test. With the a large 4.3" color display, automatic TD evaluation, and manual and automatic test functionality, DC and AC operation, testing in the field just got a whole lot easier. Designed for performing diagnostic testing for up to 35kV rated cables and full acceptance testing of cables 25kV and lower, this unit covers most of the MV cables installed today. All instruments are shipped with a NIST calibration certificate, TD Control Center software, corona protection shields, Bluetooth dongle, and accessories tote. <a ui-sref="main.model({series: 'hva', model: 'hva45 td'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Pure AC VLF, and DC (+ or - polarity)</li>
                                                    <li>Load independent sinusoidal 0.1Hz</li>
                                                    <li>Integrated TD</li>
                                                    <li>TD Resolution ±1x10-4</li>
                                                    <li>TD Analysis & Reporting using TD Control Center</li>
                                                    <li>Digital RMS metering</li>
                                                    <li>Smallest compact rugged construction</li>
                                                    <li>Bluetooth/USB Mem. stick PC Interface</li>
                                                    <li>4.3" Color LCD Display</li>
                                                    <li>Weighs only 86 lbs / 39 kg</li>
                                                    <li>Insulation Resistance & Cap. Measurement</li>
                                                    <li>Perform advanced diagnostics on MV Cables acc. to IEEE400, 400.2, CENELEC HD620/621</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Output Frequency optimization</li>
                                                    <li>Real time oscilloscope display</li>
                                                    <li>Auto & Manual Test programmable Sequences</li>
                                                    <li>Internal Storage of Test Reports</li>
                                                    <li>Unlimited duty cycle</li>
                                                    <li>Flashover voltage detection</li>
                                                    <li>Power supply immunity and independence</li>
                                                    <li>Low maintenance, oil-free design</li>
                                                    <li>RMS Digital Metering of Current and Voltage</li>
                                                    <li>Automatic TD Evaluation</li>
                                                    <li>Vacuum Bottle Test functionality</li>
                                                    <li>Optional Partial Discharge Interface</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">PD60</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" href="{{getDataSheet('HVA45 TD')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'hva', model: 'hva45 td'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('HVA45 TD')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TD60" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">TD60</div>
                            </div>
                            
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'td', model: 'td60'})">
                                <img ng-src="/Products/TD/TD60.png" align="left" />
                            </a>
                                    The Wireless TD60 system uses wireless Bluetooth technology like to the TD 60 to allow easy setup in the field. Compared to other TD systems on the market that required several connections to be made or were large and bulky, the TD60 requires very few connections and does not use any special batteries or fiber optic cabling. <a ui-sref="main.model({series: 'td', model: 'td60'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Perform advanced diagnostics on MV Cables according to IEEE400 and 400.2</li>
                                                    <li>Suitable for testing 35kV cables and below</li>
                                                    <li>Wireless Bluetooth Connection</li>
                                                    <li>Minimum connection hookups</li>
                                                    <li>Accurate 1E-5 Resolution!</li>
                                                    <li>Excellent, easy to use TD reporting</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Supplied with Free TD control center Software and FW upgrades</li>
                                                    <li>Local LED indication for TD value range</li>
                                                    <li>Leakage Current Guard Protection</li>
                                                    <li>Sleep mode saves battery life</li>
                                                    <li>Uses universal C-type batteries</li>
                                                    <li>Supplied in rugged transport case with all accessories.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'td', model: 'td60'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">HVA60</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('TD60')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'td', model: 'td60'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('TD60')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TD90" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">TD90</div>
                            </div>
                            
                            <div class="content">
                                <div class="description">
                                    <a  ui-sref="main.model({series: 'td', model: 'td90'})">
                                <img ng-src="/Products/TD/TD90.png" align="left" />
                            </a>
                                    The TD90 instrument allows users to perform advanced diagnostics, not only on medium voltage cables, but also on transmission class cables to assess their condition in a non-destructive way. The TD90 can help verify the cable’s integrity as well as track cable insulation data over time. <a ui-sref="main.model({series: 'td', model: 'td90'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Perform advanced diagnostics on MV Cables according to IEEE400 and 400.2</li>
                                                    <li>Suitable for testing 69kV cables and below</li>
                                                    <li>Wireless Bluetooth Connection</li>
                                                    <li>Minimum connection hookups</li>
                                                    <li>Accurate 1E-5 Resolution!</li>
                                                    <li>Excellent, easy to use TD reporting</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Supplied with Free TD control center Software and FW upgrades</li>
                                                    <li>Local LED indication for TD value range</li>
                                                    <li>Leakage Current Guard Protection</li>
                                                    <li>Sleep mode saves battery life</li>
                                                    <li>Uses universal C-type batteries</li>
                                                    <li>Supplied in rugged transport cases with all accessories.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'td', model: 'td90'})">More features &raquo;</a>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i> Optional Accessories
                                    </div>
                                    <div class="content">
                                        <div class="ui link horizontal list">
                                            <a class="item">HVA 90</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('TD90')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'td', model: 'td90'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('TD90')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>