<div id="hva" class="ui segment padded products hva">
    <h1 class="ui header">Time Domain Reflectometry (TDR)
        <div class="sub header">Product</div>
    </h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>
                    <p>Do you have short term needs for testing equipment? If purchasing equipment isn't practical for your business, consider diagnostic equipment <a ui-sref="main.rentals">rentals</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui two column grid">
                    <div class="ten wide column">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Time Domain Reflectometry (TDR)</div>
                            <div class="menu">
                                <a class="item" href="#1205 CXA TDR">1205 CXA TDR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <p>TDR (time domain reflectometers) are often compared and referred to as “radar” devices for cables as they generate pulses and then measure the reflections that may follow. In the case of cables, these reflections come from impedance changes along the length of the cable. The impedance changes can be caused by the normal parts of a cable such as open ends, taps, joints/splices etc. but TDRs are also able to locate cable faults, such as open or shorts. In addition, less subtle, but equally as important abnormalities in the cable system, such as concentric neutral corrosion or degradation, moisture ingress etc. can be detected. Concentric neutral corrosion is a major problem particularly on unjacketed cables or when the neutrals of the cable are exposed to excessive moisture over time. The corrosion can lead to premature cable failures and / or cause touch potential risks. The TDR we offer have been customized to effectively focus on these more subtle abnormalities where most conventional TDR that are available, simply do not work or are not very effective.
                    <br/>
                    <br/> We believe in providing a complete solution to our clients and the TDR compliments the other MV cable diagnostic tools, such as Tan Delta and Partial Discharge. We recommend that whenever possible and applicable, all cables should be TDR'd before performing a cable diagnostic or withstand test.</p>
                <br/>
                <br/>
                <div class="ui stackable two column grid productCards">
                    <div id="1205 CXA TDR" class="sixteen wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">1205 CXA TDR</div>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <a ui-sref="main.model({series: 'tdr', model: '1205cxatdr'})">
                                <img ng-src="/Products/TDR/1205 CXA TDR.png" align="left" />
                            </a> The 1205 provides a rugged portable solution to locate cable abnormalities such as neutral corrosion, bad splices, shorts or open in the cable. With an easy to use menu driven display the TDR can be connected to a std. PC to download the stored TDR traces. <a ui-sref="main.model({series: 'tdr', model: '1205cxatdr'})">Read more &raquo;</a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i> Features
                                    </div>
                                    <div class="content">
                                        <div class="ui stackable two column grid">
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>Adjustable Sub-ns pulse output.</li>
                                                    <li>Rugged, water proof case</li>
                                                    <li>Ease of use.</li>
                                                    <li>PC connectivity</li>
                                                    <li>Auto / Manual Range adjustment</li>
                                                </ul>
                                            </div>
                                            <div class="column">
                                                <ul class="ui list">
                                                    <li>TDR trace storage</li>
                                                    <li>Dual Independent Cursors</li>
                                                    <li>Auto fault find</li>
                                                    <li>Adjustable VOP in %, ft/uS or m/uS.</li>
                                                    <li>Supplied PC based Software to download and analyze TDR traces</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br/>
                                        <a ui-sref="main.model({series: 'tdr', model: '1205cxatdr'})">More features &raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui tiny three buttons">
                                    <a class="ui button" target="_blank" ng-href="{{getDataSheet('1205 CXA TDR')}}">Data Sheet</a>
                                    <a class="ui button" ui-sref="main.model({series: 'tdr', model: '1205cxatdr'})">Full Specs</a>
                                    <a class="ui button" ng-click="requestQuote('1205 CXA TDR')">Request Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'main/products/tdrModal.html'"></ng-include>