<div class="ui fullscreen modal 1205CXATDR">
    <i class="close icon"></i>
    <div class="header">
        1205 CXA TDR
        <div class="sub header"><a href="{{getDataSheet('1205 CXA TDR')}}" class="ui red small button" target="_blank">Data Sheet</a></div>
    </div>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/TDR/1205 CXA TDR.png" />
        </div>
        <div class="description">
            <p>The 1205 provides a rugged portable solution to locate cable abnormalities such as neutral corrosion, bad splices, shorts or open in the cable. With an easy to use menu driven display the TDR can be connected to a std. PC to download the stored TDR traces. Its advanced features provide a unique solution to detection both gross and subtle issues in a cable system.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Adjustable Sub-ns pulse output.</li>
                    <li>Rugged, water proof case</li>
                    <li>Ease of use.</li>
                    <li>PC connectivity</li>
                    <li>Auto / Manual Range adjustment</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>TDR trace storage</li>
                    <li>Dual Independent Cursors&nbsp;</li>
                    <li>Auto fault find</li>
                    <li>Adjustable VOP in %, ft/uS or m/uS.</li>
                    <li>Supplied PC based Software to download and analyze TDR traces <br><br><br><br></li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Physical Dimensions:</strong><br> Width:<br> Height:<br> Depth:<br> Weight:</p></td>
                <td valign="top" class="rightside"><p><br> 10.5 inches / 267 mm<br> 9.75 inches / 247.6 mm<br> 5 inches / 127 mm<br> 6 lbs / 2.7 kg</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power:</strong><br> Battery:<br> Charging Source:<br> Operating Time:</p></td>
                <td valign="top" class="rightside"><p><br> Internal, rechargeable, 7.2V Nickel metal hydride<br> External 12 VAC transformer, 1.3A<br> Greater than 6 hours, continuous without backlight</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Environment:</strong><br> Operating Temperature:<br> Typical Temperature:<br> Storage Temperature:<br> Humidity:</p></td>
                <td valign="top" class="rightside"><p><br> 0°C to 50° C / 32°F to 122°F<br> -15° C to +60° C / 5° F to +140° F<br> -20°C to +60°C / -4° F to +140° F<br> 95% maximum relative humidity, non-condensing</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Display:</strong></p></td>
                <td valign="top" class="rightside"><p>320 x 240 dot-matrix, liquid crystal display (LCD) with cathode fluorescent (CFL) backlighting</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Maximum Range:</strong></p></td>
                <td valign="top" class="rightside"><p>63,700 feet (19,400 meters) at .990 VOP<br> 51,500 feet (15,500 meters) at .800 VOP<br> Range varies with VOP. Maximum testable cable length varies with pulse width and cable type.</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Horizontal Resolution:</strong><br> Up to 2,000 ft (610 m):<br><br> Over 2,000 ft (610 m):</p></td>
                <td valign="top" class="rightside"><p><br> &lt; .05 ft (.03 m) at .990 VOP<br> &lt; .02 ft (.01 m) at .300 VOP<br> 1 ft. (.1 m) at any VOP</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Vertical Resolution:</strong></p></td>
                <td valign="top" class="rightside"><p>14 bits with 170 dots displayed</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Vertical Sensitivity:</strong></p></td>
                <td valign="top" class="rightside"><p>Greater than 65 dB</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Connector:</strong></p></td>
                <td valign="top" class="rightside"><p>Front panel Female BNC</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Input Protection:</strong></p></td>
                <td valign="top" class="rightside"><p>400 volts (AC + DC) from DC to 400 Hz and decreases to 10 volts at 1 MHz</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Distance Accuracy:</strong></p></td>
                <td valign="top" class="rightside"><p>Accuracy will vary with cable VOP and cable type. +/- .1 ft (.03 m) plus +/- .01% of reading</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Serial I/O Port:</strong></p></td>
                <td valign="top" class="rightside"><p>RS-232</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Pulses:</strong></p></td>
                <td valign="top" class="rightside"><p>Selectable output pulse widths</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Auto dBRL:</strong></p></td>
                <td valign="top" class="rightside"><p>2 digit auto return calculation at cursor setting</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Waveform Storage:</strong><br> Standard<br> Optional</p></td>
                <td valign="top" class="rightside"><p>Each with full vertical resolution<br> 8 waveforms<br> 32 waveforms</p></td>
            </tr>



            </tbody></table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>