<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/pd">Partial Discharge</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">PD30E</div>
    </div>
    <br/>
    <br/>
    <div class="image content">
        <div id="pd30eCarousel" class="ui image pd30eCarousel" style="width: 330px;">
            <img ng-src="/Products/PD/PD30E_01.png" />
            <img ng-src="/Products/PD/PD30E_02.png" />
            <img ng-src="/Products/PD/PD30E_03.png" />
        </div>
        <a href="{{getDataSheet('PD30E')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <br/>
        <br/>
        <div class="description">
            <p>The PD30E is an ultra-compact partial discharge (PD) measurement and location system that interfaces to the HVA30 HVA34 or HVA28TD VLF AC test systems. The portable combination with the HVA28TD allows the user to perform VLF withstand, Tan Delta and Partial Discharge with one easy setup. Designed for testing cables up to 25kV class cables, the PD30E uses the same user friendly powerful software suite used in all our other PD systems and allows for both the detection and location mapping of PD activity in cable or device. The PD30E comes complete in a rugged injection molded case with NIST traceable PD Calibrator</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Weighs only 64 lb. / 29 kg (complete)</li>
                    <li>Battery or AC shore power operation</li>
                    <li>HVD Suite Software – for control and display</li>
                    <li>Extremely rugged and portable</li>
                    <li>Automatic and Manual Control of gain, trigger, and filtering options</li>
                    <li>Analog and Digital Noise mitigating algorithms and Filtering Options</li>
                    <li>Multiple Display format of PD Activity includes Phase Resolved Pattern, PD mapping, Raw signal, PD Intensity, PD Clusters, Voltage Dependence, Background Noise, etc.</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Detection of PDIV and PDEV</li>
                    <li>Rated at 34kV Peak (ideal for 25kV Maintenance and below rated cables)</li>
                    <li>Includes PD Calibration Instrument (acc. to IEC 60270)</li>
                    <li>While mainly used for testing cables, can also be used for testing switchgear, motors, coils, transformers, etc.</li>
                    <li>Quick and Easy reporting functionality</li>
                    <li>Corona protection toroids included</li>
                    <li>All cables and accessories included in the injection molded transport case with wheels and pull handle</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <img class="ui fluid image" src="/Products/PD/PD30E_chart01.png">
        <img class="ui fluid image" src="/Products/PD/PD30E_chart02.png">
        <img class="ui fluid image" src="/Products/PD/PD30E_chart03.png">
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Ordering information (Part Number)</td>
                    <td>700 221</td>
                </tr>
                <tr>
                    <td>Power Supply/Input Voltage</td>
                    <td>Internal Battery or 120-240V 50/60 Hz</td>
                </tr>
                <tr>
                    <td>Supply Power Required</td>
                    <td>20VA</td>
                </tr>
                <tr>
                    <td>Rated Max Voltage</td>
                    <td>0-34kV Peak / 24kV RMS @ 0.1Hz</td>
                </tr>
                <tr>
                    <td>Rated Max Current</td>
                    <td>1 Amp</td>
                </tr>
                <tr>
                    <td>Operating Frequencies</td>
                    <td>0.01 to 0.1Hz (Default 0.1Hz)</td>
                </tr>
                <tr>
                    <td>Filter Capacitance</td>
                    <td>4nF</td>
                </tr>
                <tr>
                    <td>Coupling Capacitance</td>
                    <td>1nF</td>
                </tr>
                <tr>
                    <td>Input Impedance</td>
                    <td>10kOhm/50pF</td>
                </tr>
                <tr>
                    <td>Sampling Rate</td>
                    <td>125 MHz</td>
                </tr>
                <tr>
                    <td>Bandwidth</td>
                    <td>100 MHz</td>
                </tr>
                <tr>
                    <td>Measuring Range</td>
                    <td>12 miles @260 ft/uS
                        <br/> 20 km @ 80 m/uS</td>
                </tr>
                <tr>
                    <td>PD Noise Sensitivity</td>
                    <td>5pC *</td>
                </tr>
                <tr>
                    <td>Voltages Synchronization</td>
                    <td>Automatic</td>
                </tr>
                <tr>
                    <td>Triggering</td>
                    <td>Manual and Automatic</td>
                </tr>
                <tr>
                    <td>Dimensions</td>
                    <td>12" x 19" x 10"
                        <br/> 300mm x 486mm x 250mm
                    </td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>64 lb.
                        <br/> 29 kg
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Environmental</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Storage</td>
                    <td>-4F&#176; to 150F&#176; / -20C&#176; to +65C&#176;</td>
                </tr>
                <tr>
                    <td>Operating</td>
                    <td>23F&#176; to 113F&#176; / -5C&#176; to 45C&#176;</td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui sub header">Calibrator (acc. IEC 60270)</h4>
        <span>(included with every PD30E system)</span>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Ordering information</td>
                    <td>700 222</td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td>100pC to 10 nC</td>
                </tr>
                <tr>
                    <td>Size and Weight</td>
                    <td>0.7 lb. @ 2.4” x 6.5” x 1.3”
                        <br/> 0.3 kg @ 60mm x 164mm x 33mm
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui sub header">Diagnostics Software: HVD Suite</h4>
        <span>(included with part number 700 221)</span>
        <table class="ui selectable striped celled table">
            <tbody>
                <tr>
                    <td>Features</td>
                    <td>Automatic and Manual Control of HVA and PD Test System Fully Guided Measurement Process Storage Database PD Display – Raw Data, Calibration Pulse/s, PD Amplitude versus Distance, PD Amplitude versus Phase, PD Location (PD mapping), PDIV and PDEV, Automatic Distance to PD fault location, Noise and filtering options</td>
                </tr>
                <tr>
                    <td>Windows Compatible **</td>
                    <td>100pC to 10 nC</td>
                </tr>
                <tr>
                    <td>Size and Weight</td>
                    <td>Windows 7, 8, 10 64 bit Operating Systems</td>
                </tr>
            </tbody>
        </table>
        <div>* Depends on Environmental Noise.</div>
        <div class="ui segment">
            <p>Note not included in scope of supply:</p>
            <p>** A PC is required to operate the PD system. A PC/Laptop is however not supplied with the system, unless specifically ordered as a separate item.</p>
            <p>A HVA Series VLF AC is required to operate with this instrument and is not automatically included.</p>
        </div>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
