<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/pd">Partial Discharge</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">PD60-2</div>
    </div>
    <br/>
    <br/>
    <div class="image content">
        <div class="ui image" style="width: 330px;">
            <img ng-src="/Products/PD/PD60-2.png" />
        </div>
        <!-- <a href="{{getDataSheet('PD60-2')}}" class="ui red small button" target="_blank">Data Sheet</a> -->
        <br/>
        <br/>
        <div class="description">
            <p>The PD60-2 is a portable two-piece partial discharge (PD) measurement and location system that interfaces to the HVA28/30/34 or HVA 60 AC VLF test systems. The PD60, rated at 62kV peak test voltage, allows the operator to detect, locate and map PD in cable systems up to 35kV. Ideal for PD testing on 35kV MV collector networks found in wind and solar farms. The PD system runs on either battery or shore power or both. Combined with one of the HVA series of VLF test instruments, the user can perform both an AC withstand and a partial discharge test on a cable system at the same time without having to make any new connections or change out equipment. The PD 60 uses the same user friendly powerful windows based software suite as used in all our other PD systems. The software controls both the AC VLF source and PD acquisition allowing for automatic or manual control. The PD60 comes complete with PD coupling capacitor and filter units in a rugged injection molded cases with all accessories including a NIST traceable PD Calibrator.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Flexible Separate standalone coupling capacitor and filter for ease of setup and portability</li>
                    <li>Battery or AC shore power operation</li>
                    <li>HVD Suite Software – for control and display</li>
                    <li>Rugged and portable</li>
                    <li>Automatic and Manual Control of gain, trigger, and filtering options</li>
                    <li>Analog and Digital Noise mitigating algorithms and Filtering Options</li>
                    <li>Ergonomic process driven menu guided user interface</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Multiple Display format of PD Activity includes Phase Resolved Pattern, PD mapping, Raw signal , PD Intensity, PD Clusters, Voltage Dependence, Background Noise etc.</li>
                    <li>Detection of PDIV and PDEV</li>
                    <li>Rated at 62kV Peak (ideal for 35kV Acceptance and Maintenance testing and below rated cables)</li>
                    <li>Includes PD Calibration Instrument (acc. to IEC 60270)</li>
                    <li>While mainly used for testing cables, can also be used for testing switchgear, motors, coils, transformers etc.</li>
                    <li>Quick and Easy reporting functionality</li>
                    <li>Corona protection toroids included</li>
                    <li>All cables and accessories included in the injection molded transport case with wheels and pull handle</li>
                </ul>
            </div>
        </div>
        <img class="ui fluid image" src="/Products/PD/PD60-2_chart_01.png">
        <img class="ui fluid image" src="/Products/PD/PD60-2_chart_02.png">
        <img class="ui fluid image" src="/Products/PD/PD60-2_chart_03.png">
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Ordering information (Part Number)</td>
                    <td>706 221</td>
                </tr>
                <tr>
                    <td>Power Supply/Input Voltage</td>
                    <td>Internal Battery or 120-240V 50/60 Hz</td>
                </tr>
                <tr>
                    <td>Supply Power Required</td>
                    <td>20VA</td>
                </tr>
                <tr>
                    <td>Rated Max Voltage</td>
                    <td>0-62kV Peak / 44kV RMS @ 0.1Hz</td>
                </tr>
                <tr>
                    <td>Rated Max Current</td>
                    <td>1 Amp</td>
                </tr>
                <tr>
                    <td>Operating Frequencies</td>
                    <td>0.01 to 0.1Hz (Default 0.1Hz)</td>
                </tr>
                <tr>
                    <td>Filter Capacitance</td>
                    <td>1nF</td>
                </tr>
                <tr>
                    <td>Coupling Capacitance</td>
                    <td>1nF</td>
                </tr>
                <tr>
                    <td>Input Impedance</td>
                    <td>10kOhm/50pF</td>
                </tr>
                <tr>
                    <td>Sampling Rate</td>
                    <td>125 MHz (Ver2 - 200MHz)</td>
                </tr>
                <tr>
                    <td>Bandwidth</td>
                    <td>100 MHz</td>
                </tr>
                <tr>
                    <td>Measuring Range</td>
                    <td>12 miles @260 ft/uS
                        <br/> 20 km @ 80 m/uS</td>
                </tr>
                <tr>
                    <td>VOP Range (V/2)</td>
                    <td>10m-150 m/uS or 32-490ft/uS</td>
                </tr>
                <tr>
                    <td>PD Noise Sensitivity</td>
                    <td>5pC</td>
                </tr>
                <tr>
                    <td>PD Location Accuracy</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>PD resolution</td>
                    <td>0.2m/0.6ft and 0.1pC</td>
                </tr>
                <tr>
                    <td>Voltages Synchronization</td>
                    <td>Automatic</td>
                </tr>
                <tr>
                    <td>Triggering</td>
                    <td>Manual and Automatic</td>
                </tr>
                <tr>
                    <td><b>Coupling Capacitor</b>
                        <br/> Dimensions
                        <br/> Weight
                    </td>
                    <td>
                        <br/> 330mm x 280mm x 730mm / 13" x 11" x 29”
                        <br/> 21 kgs / 46 lbs
                    </td>
                </tr>
                <tr>
                    <td><b>Filter</b>
                        <br/> Dimensions
                        <br/> Weight
                    </td>
                    <td>
                        <br/> 300mm x 280m x 720mm / 12" x 11" x 28”
                        <br/> 20 kgs / 44 lbs
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Environmental</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Storage</td>
                    <td>-4F&#176; to 150F&#176; / -20C&#176; to +65C&#176;</td>
                </tr>
                <tr>
                    <td>Operating</td>
                    <td>23F&#176; to 113F&#176; / -5C&#176; to 45C&#176;</td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui sub header">Calibrator (acc. IEC 60270)</h4>
        <span>(included with every PD60-2 system)</span>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr>
                    <td>Ordering information</td>
                    <td>700 222</td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td>100pC to 10 nC</td>
                </tr>
                <tr>
                    <td><b>Size and Weight</b>
                        <br/> Imperial
                        <br/> Metric
                    </td>
                    <td>
                        <br/>0.7 lbs / 2.4” X 6.5” X 1.3”
                        <br/>0.3 kg / 60mm X 164mm X 33mm
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ui segment">
            <p><b>Diagnostics Software:</b> HVD Suite
                <br/>Included with part number 700 221
            </p>
            <p><b>Not included in scope of supply:</b> VLF AC power supply, Laptop / PC</p>
        </div>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
