<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/injectors">Current Injectors</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">100ADM-MK4</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/100 ADM-MK4.png" />
        </div>
        <a href="{{getDataSheet('100 ADM-MK4')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The 100ADM mk4 provides commissioning and maintenance engineers with a flexible system for testing protective systems. An easy to use front panel layout and a simple user interface. The status of every function can be seen at a glance, and there are no complex menus to navigate.
                <br/>
                <br/>
                The 100ADM mk4 keeps the familiar user interface of previous models but adds a new metering system that accurately measures the RMS of a single cycle. It also features a new current limit mode that provides precise control of low currents, even into low impedance loads. Current limit mode also assists in testing self-powered overcurrent protection schemes.
                <br/>
                <br/>
                The instrument has a range of outputs allowing injection of currents as low as few mA and as high as 100A. Voltages up to 240V are available allowing high impedance current relays and voltage relays to be tested. Four true RMS metering ranges are provided, and the full scale of the meter (and trip level) can be set independently of output tap. Industry standard safety connectors are used on all inputs and outputs for convenience, reliability, and safety.
                <br/>
                <br/>
                A very flexible two channel timing system is provided, allowing trip times, reset times, and reclose times to be quickly measured to a high degree of accuracy. The timer auto-ranges to measure from 1ms to 99999.9s.
                <br/>
                <br/>
                The outputs of the 100ADM- mk4 are well protected. The main output is protected by overcurrent, duty-cycle and thermal trips. The auxiliary dc supply is protected by a current limit, and the auxiliary AC supply is fuse protected.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Clear and simple user interface</li>
                    <li>0-100A single phase output current</li>
                    <li>Current limit mode for fine current control</li>
                    <li>True RMS metering with single cycle capture memory ammeter</li>
                    <li>Multi-function auto-ranging timing system</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Auxiliary DC and AC output</li>
                    <li>Large back-lit liquid crystal display</li>
                    <li>Thermal and over-current protection</li>
                    <li>Compact and portable</li>
                    <li>Automatic mains voltage selection</li>
                    <li>Shoulder carry strap</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">Range</td>
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>5 min*</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>1 min*</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">33A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">67A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">100A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10.5V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">8.7V@100A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">30A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">36V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">32V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">108V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">276V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240Vdc</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <p>* Off time of 15 minutes. On tmes based on an ambient temperature of 25 ° C</p>
        <h4>I Limit Mode</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Short Circuit</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>5 min</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>2 min</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">10A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">8.6V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">5V@6A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">29V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">13V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.6A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">88V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.1A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.3A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">224V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxilary AC and DC Outputs</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>DC stablised output</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>24V, 48V, 60V</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>1.0A</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110V, 220V</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.23A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Fixed AC output</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110Vac</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">300mA</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Trip Current</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Aquisition Time</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>2.000A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.001A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">2.2A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>10.00A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">11A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">22A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>100.0A</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">200.0A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">110A</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20ms</td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Timing</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">1/10/100ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode)</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">24V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Contact s/c</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20mA</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Vdc</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">24—240V</td>
            </tr>
            </tbody>
        </table>

        <h4>Supply Requirements</h4>

        <p>115V/230V ±10% auto-selecting 50/60Hz 1ph 1200VA max.</p>

        <h4>Safety</h4>

        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Storage:</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Operating:</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">20 kg</td>
                <td align="\&quot;center\&quot;" valign="\&quot;top\&quot;">44 lbs</td>
            </tr>
            </tbody>
        </table>
        <h4>Lead Set Specifications</h4>
        <p>The 100ADM mk4 is supplied with a lead set consisting of:</p>
        <ul>
            <li>2 x 5m 25mm2 100A leads terminated in M10 ring crimps</li>
            <li>2 x 5m, 2 x 0.5m 2.5mm2 25A leads terminated in 4mm plugs</li>
            <li>1 x 5m 2 core 0.75mm2 lead terminated in 4mm plugs</li>
            <li>The lead set is supplied in a plastic carrying case.</li>
            <li><strong>Lead set weight:</strong> 5.3kg including case.</li>
        </ul>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>