<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/injectors">Current Injectors</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">200ADM-P</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/200ADM-P.png" />
        </div>
        <a href="{{getDataSheet('200ADM-P')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>200ADM-P is a current injection system with a wide range of advanced features including phase shift, data storage and harmonic analysis.
                <br/>
                <br/>
                The unit has a range of outputs allowing injection of currents between 1mA and 200A. Voltages up to 240V are available on the main outputs allowing high impedance current relays to be tested. True RMS metering with single cycle capture is provided. 4 current ranges allow the full scale of the meter and trip level to be set independently of the selected output. Industry standard safety connectors are used throughout for safe, reliable convenience.
                <br/>
                <br/>

                The unit has a comprehensive timing system linked to the outputs allow trip times, reset times and reclose times to be quickly measured to a high degree of accuracy. The timer includes a current operated mode and can accurately test instantaneous trips.
                <br/>
                <br/>

                Two USB host sockets are provided to connect a memory stick, keyboard or printer. Results of every test can be stored to the memory stick in spreadsheet format for later analysis. The keyboard allows entry of a comment against each result. In addition, a graphics file of the waveform may be stored to the memory stick. Harmonic analysis of results can also be recorded.
                <br/>
                <br/>

                The 200ADM-P has a flexible auxiliary ac output up to 260V for voltage relays or up to 10A for current relays. The phase and frequency of this output are fully adjustable. This combination of voltage and current allows testing of relays that require two voltages, one voltage and one current or two currents.
                <br/>
                <br/>

                An auxiliary metering module is provided that meters ac and dc voltage, current and frequency from the auxiliary outputs or external signals. The module can also take measurements in conjunction with the main current output to meter phase angle, power, impedance, CT ratio and harmonics.
                <br/>
                <br/>

                A variable stabilized DC supply with current limit is provided to power the relay under test.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                    <li>Rugged, one piece portability</li>
                    <li>Large output load capability (up to 15µF)</li>
                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                    <li>No oil or arcing contacts that require routine maintenance</li>
                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Range</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min*</strong></td>
                <td valign="\&quot;top\&quot;"><strong>1 min*</strong></td>
                <td valign="\&quot;top\&quot;"><strong>6 sec **</strong></td>
                <td valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td valign="\&quot;top\&quot;">33A</td>
                <td valign="\&quot;top\&quot;">67A</td>
                <td valign="\&quot;top\&quot;">100A</td>
                <td valign="\&quot;top\&quot;">200A</td>
                <td valign="\&quot;top\&quot;">10.6V</td>
                <td valign="\&quot;top\&quot;">8.7V@100A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">20A</td>
                <td valign="\&quot;top\&quot;">30A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">36V</td>
                <td valign="\&quot;top\&quot;">32V@30A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">6A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">108V</td>
                <td valign="\&quot;top\&quot;">99V@10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">276V</td>
                <td valign="\&quot;top\&quot;">259V@3A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240Vdc</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">-</td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <p>* Off time of 15 minutes. On tmes based on an ambient temperature of 25 ° C <br> ** 6 second intermittent ratings available with 230V supply</p>
        <h4>I Limit Mode</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">Current</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Output @230V</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Short Circuit</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min</strong></td>
                <td valign="\&quot;top\&quot;"><strong>2 min</strong></td>
                <td valign="\&quot;top\&quot;"><strong>O/CV</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Load V</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>10V</strong></td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">6A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">8.6V</td>
                <td valign="\&quot;top\&quot;">5V@5A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>35V</strong></td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">2A</td>
                <td valign="\&quot;top\&quot;">3A</td>
                <td valign="\&quot;top\&quot;">29V</td>
                <td valign="\&quot;top\&quot;">13V@2A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>100V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">0.6A</td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">88V</td>
                <td valign="\&quot;top\&quot;">40V@06A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>240V</strong></td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">0.1A</td>
                <td valign="\&quot;top\&quot;">0.2A</td>
                <td valign="\&quot;top\&quot;">0.3A</td>
                <td valign="\&quot;top\&quot;">224V</td>
                <td valign="\&quot;top\&quot;">130V@0.2A</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxilary DC Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Maximum A</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous Rating</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>12-60V</strong></td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">25W</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>60-220V</strong></td>
                <td valign="\&quot;top\&quot;">0.23A</td>
                <td valign="\&quot;top\&quot;">25W</td>
            </tr>
            </tbody>
        </table>
        <h4>Phase-shifting AC Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;"><strong>Maximum Voltage</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Current</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Current</strong></td>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>No Load</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Full Load</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Continuous</strong></td>
                <td valign="\&quot;top\&quot;"><strong>5 min on/15 min off</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>0-130V</strong></td>
                <td valign="\&quot;top\&quot;">144V</td>
                <td valign="\&quot;top\&quot;">125V</td>
                <td valign="\&quot;top\&quot;">0.23A</td>
                <td valign="\&quot;top\&quot;">0.46A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>0-260V</strong></td>
                <td valign="\&quot;top\&quot;">288V</td>
                <td valign="\&quot;top\&quot;">250V</td>
                <td valign="\&quot;top\&quot;">0.11A</td>
                <td valign="\&quot;top\&quot;">0.23A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">0-6V</td>
                <td valign="\&quot;top\&quot;">6.6V</td>
                <td valign="\&quot;top\&quot;">5V</td>
                <td valign="\&quot;top\&quot;">5A</td>
                <td valign="\&quot;top\&quot;">10A</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Trip Current</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Aquisition Time</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>5.000A</strong></td>
                <td valign="\&quot;top\&quot;">0.001A</td>
                <td valign="\&quot;top\&quot;">5.5A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>20.00A</strong></td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">22A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>50.00A</strong></td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">55A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>200.0A</strong></td>
                <td valign="\&quot;top\&quot;">200.0A</td>
                <td valign="\&quot;top\&quot;">220A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxiliary Metering Inputs</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Setting</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Vdc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">300.0V</td>
                <td valign="\&quot;top\&quot;">0.1V</td>
                <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Idc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">5.000A CF &lt; 3<br> 9.999A CF &lt; 1.5</td>
                <td valign="\&quot;top\&quot;">0.001A</td>
                <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Phase</strong></td>
                <td valign="\&quot;top\&quot;">-179.9° to +180.0°</td>
                <td valign="\&quot;top\&quot;">0.1°</td>
                <td valign="\&quot;top\&quot;">±3°</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Frequency</strong></td>
                <td valign="\&quot;top\&quot;">40-100Hz</td>
                <td valign="\&quot;top\&quot;">0.01Hz</td>
                <td valign="\&quot;top\&quot;">±0.02%<br>rdg±2d</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Timing</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;">1/10/100ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode)</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
                <td valign="\&quot;top\&quot;">24V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Contact s/c</strong></td>
                <td valign="\&quot;top\&quot;">20mA</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Vdc</strong></td>
                <td valign="\&quot;top\&quot;">24—240V</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <p>115V/230V ±10% auto-selecting 50/60Hz 1ph 2300VA max.</p>
        <h4>Safety</h4>
        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td valign="\&quot;top\&quot;">380mm x 314mm x221mm</td>
                <td valign="\&quot;top\&quot;">15in x 12.4in x 8.7in</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Pelicase Unit</strong></td>
                <td valign="\&quot;top\&quot;">560mm x 456mm x 265mm</td>
                <td valign="\&quot;top\&quot;">22in x 18in x 10.4in</td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td valign="\&quot;top\&quot;">19.5 kg</td>
                <td valign="\&quot;top\&quot;">43 lbs</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Pelicase Unit</strong></td>
                <td valign="\&quot;top\&quot;">23.3 kg</td>
                <td valign="\&quot;top\&quot;">51.4 lbs</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>