<div id="hva" class="ui segment padded" >
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/injectors">Current Injectors</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">100ADM-MK4</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/Current Injectors/750ADM mk2 _ 750ADM-H mk2.png" />
        </div>
        <a href="{{getDataSheet('200ADM-P')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The 750ADM mk2 and 750ADM-H mk2 are compact, rugged primary current injection systems with a 750A capability. The 750ADM has a maximum no load output voltage of a 3.5V and the 750ADM-H has a maximum voltage of 5V. The units are ideally suited to all low power primary injection tasks requiring up to 750A for short periods.
                <br/>
                <br/>
                The units have two outputs, allowing injection of currents as low as a few hundred milliamps and up to 750A. Voltages up to 16V are available on the 40A output, allowing higher impedance trips to be tested. Four true RMS metering ranges are provided, allowing the full scale of the meter and trip level to be set independently of the selected output. The metering has a capture time of less than 20ms, allowing the rms of a single cycle to be accurately measured. Industry standard connectors are used on all inputs and outputs for convenience, reliability, and thermal trips.
                <br/>
                <br/>

                The timing system is very flexible without compromising ease of use, allowing trip times, reset time, and reclose times to be quickly measured to a high degree of accuracy. Two contact inputs are provided, each of which may be trigged by a volt-free contact or a dc voltage. The contact inputs auto-sense for normally open or normally closed contacts.
                <br/>
                <br/>

                The 750ADM can be used to test many devices including: circuit breakers, primary injection over-current relays, auto-reclosers, MCB’s, CT ratio (with external meter for secondary current).</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Easy to use, ergonomic, menu guided, large backlit user interface</li>
                    <li>Rugged, one piece portability</li>
                    <li>Large output load capability (up to 15µF)</li>
                    <li>Automatic and integrated load capacitance measurement with optimum frequency selection</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Storage of test results for later retrieval or download to a PC/Laptop</li>
                    <li>No oil or arcing contacts that require routine maintenance</li>
                    <li>Short circuited protected with active arc manage-ment regulation that avoids the usual nuisance tripping of conventional HV test equipment</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <h4>Main Output</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">750ADM</td>
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">750ADM-H</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">&nbsp;</td>
                <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
                <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
                <td valign="\&quot;top\&quot;"><strong>115V</strong></td>
                <td valign="\&quot;top\&quot;"><strong>230V</strong></td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>750A Output</strong></td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Open Circuit Voltage</strong></td>
                <td valign="\&quot;top\&quot;">2.5V</td>
                <td valign="\&quot;top\&quot;">3.5V</td>
                <td valign="\&quot;top\&quot;">3.5V</td>
                <td valign="\&quot;top\&quot;">5.0V</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Voltage at 500A</strong></td>
                <td valign="\&quot;top\&quot;">1.9V</td>
                <td valign="\&quot;top\&quot;">2.8V</td>
                <td valign="\&quot;top\&quot;">2.8V</td>
                <td valign="\&quot;top\&quot;">4V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Continuous Current</strong></td>
                <td valign="\&quot;top\&quot;">125A</td>
                <td valign="\&quot;top\&quot;">125A</td>
                <td valign="\&quot;top\&quot;">125A</td>
                <td valign="\&quot;top\&quot;">125A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>5 min on</strong></td>
                <td valign="\&quot;top\&quot;">250A</td>
                <td valign="\&quot;top\&quot;">250A</td>
                <td valign="\&quot;top\&quot;">250A</td>
                <td valign="\&quot;top\&quot;">250A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>1 min on</strong></td>
                <td valign="\&quot;top\&quot;">500A</td>
                <td valign="\&quot;top\&quot;">500A</td>
                <td valign="\&quot;top\&quot;">440A</td>
                <td valign="\&quot;top\&quot;">500A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Max Current</strong></td>
                <td valign="\&quot;top\&quot;">750A</td>
                <td valign="\&quot;top\&quot;">750A</td>
                <td valign="\&quot;top\&quot;">500A</td>
                <td valign="\&quot;top\&quot;">750A</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Max current on time</strong></td>
                <td valign="\&quot;top\&quot;">10s</td>
                <td valign="\&quot;top\&quot;">30s</td>
                <td valign="\&quot;top\&quot;">10s</td>
                <td valign="\&quot;top\&quot;">20s</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>40A Output</strong></td>
                <td colspan="\&quot;4\&quot;" valign="\&quot;top\&quot;">&nbsp;</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Open Circuit Voltage</strong></td>
                <td valign="\&quot;top\&quot;">10V</td>
                <td valign="\&quot;top\&quot;">16V</td>
                <td valign="\&quot;top\&quot;">10V</td>
                <td valign="\&quot;top\&quot;">16V</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Full load voltage</strong></td>
                <td valign="\&quot;top\&quot;">7.5V</td>
                <td valign="\&quot;top\&quot;">10V</td>
                <td valign="\&quot;top\&quot;">7.5V</td>
                <td valign="\&quot;top\&quot;">10V</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Continuous Current</strong></td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">10A</td>
                <td valign="\&quot;top\&quot;">10A</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>1 min on</strong></td>
                <td valign="\&quot;top\&quot;">40A</td>
                <td valign="\&quot;top\&quot;">40A</td>
                <td valign="\&quot;top\&quot;">40A</td>
                <td valign="\&quot;top\&quot;">40A</td>
            </tr>
            </tbody>
        </table>
        <h4>Metering</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Range</td>
                <td valign="\&quot;top\&quot;">Resolution</td>
                <td valign="\&quot;top\&quot;">Trip current</td>
                <td valign="\&quot;top\&quot;">Accuracy</td>
                <td valign="\&quot;top\&quot;">Aquisition time</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">20.00A</td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">21A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">50.00A</td>
                <td valign="\&quot;top\&quot;">0.01A</td>
                <td valign="\&quot;top\&quot;">53A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;">200.00A</td>
                <td valign="\&quot;top\&quot;">0.1A</td>
                <td valign="\&quot;top\&quot;">210A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;">750A</td>
                <td valign="\&quot;top\&quot;">1A</td>
                <td valign="\&quot;top\&quot;">788A</td>
                <td valign="\&quot;top\&quot;">±0.5% rdg±5d</td>
                <td valign="\&quot;top\&quot;">20ms</td>
            </tr>
            </tbody>
        </table>
        <h4>Auxiliary Metering Inputs</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td valign="\&quot;top\&quot;">Setting</td>
                <td valign="\&quot;top\&quot;">Range</td>
                <td valign="\&quot;top\&quot;">Resolution</td>
                <td valign="\&quot;top\&quot;">Accuracy</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Vdc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">300.0V</td>
                <td valign="\&quot;top\&quot;">0.1V</td>
                <td valign="\&quot;top\&quot;">±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Idc/ac rms</strong></td>
                <td valign="\&quot;top\&quot;">5.000A CF9.999A CF0.001A±0.7% rdg±5d</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;" height="\&quot;32\&quot;"><strong>Phase</strong></td>
                <td valign="\&quot;top\&quot;">-179.9° to +180.0°</td>
                <td valign="\&quot;top\&quot;">0.1°</td>
                <td valign="\&quot;top\&quot;">±3°</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;" height="\&quot;32\&quot;"><strong>Frequency</strong></td>
                <td valign="\&quot;top\&quot;">40-100Hz</td>
                <td valign="\&quot;top\&quot;">0.01Hz</td>
                <td valign="\&quot;top\&quot;">±0.02% rdg±2d</td>
            </tr>
            </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;">Timing</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Range</strong></td>
                <td valign="\&quot;top\&quot;">0-999.999s/9999.99s/99999.9s autoranging</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Resolution</strong></td>
                <td valign="\&quot;top\&quot;">1/10/100ms</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Accuracy</strong></td>
                <td valign="\&quot;top\&quot;">0.01%rdg+2d (+4d current operated mode) ±0.01%rdg+4d (current operated mode)</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;"><strong>Contact o/c</strong></td>
                <td valign="\&quot;top\&quot;">24V</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">Contact s/c</td>
                <td valign="\&quot;top\&quot;">20mA</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">Vdc</td>
                <td valign="\&quot;top\&quot;">24—240V</td>
            </tr>
            </tbody>
        </table>
        <h4>Supply Requirements</h4>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr>
                <td valign="\&quot;top\&quot;">Auto-selecting</td>
                <td valign="\&quot;top\&quot;">750ADM</td>
                <td valign="\&quot;top\&quot;">750ADM-H</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">115V/230V ±10% auto-selecting 50/60Hz 1ph</td>
                <td valign="\&quot;top\&quot;">2000VA max</td>
                <td valign="\&quot;top\&quot;">1900VA max</td>
            </tr>
            <tr>
                <td valign="\&quot;top\&quot;">230V±10% 50/60Hz 1ph</td>
                <td valign="\&quot;top\&quot;">3000VA max</td>
                <td valign="\&quot;top\&quot;">3900VA max</td>
            </tr>
            </tbody>
        </table>
        <h4>Safety</h4>
        <p>An earth terminal is provided for connection to a local earth. The unit is designed to comply with BSEN61010 and is CE marked</p>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Temperature Range</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Storage</strong></td>
                <td valign="\&quot;top\&quot;">-20°C to 60°C</td>
                <td valign="\&quot;top\&quot;">-4°F to 140°F</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Operating</strong></td>
                <td valign="\&quot;top\&quot;">0°C to 45°C</td>
                <td valign="\&quot;top\&quot;">32°F to 113°F</td>
            </tr>
            </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;3\&quot;" valign="\&quot;top\&quot;">Dimensions</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>Standard Unit</strong></td>
                <td valign="\&quot;top\&quot;">380mm x 314mm x221mm</td>
                <td valign="\&quot;top\&quot;">15in x 12.4in x 8.7in</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;" height="\&quot;19\&quot;"><strong>Pelicase Unit</strong></td>
                <td valign="\&quot;top\&quot;">560mm x 456mm x 265mm</td>
                <td valign="\&quot;top\&quot;">22in x 18in x 10.4in</td>
            </tr>
            </tbody>
        </table>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="\&quot;row3\&quot;">
                <td colspan="\&quot;2\&quot;" valign="\&quot;top\&quot;">Weight</td>
            </tr>
            <tr class="\&quot;row1\&quot;">
                <td valign="\&quot;top\&quot;"><strong>750ADM</strong></td>
                <td valign="\&quot;top\&quot;">21.5</td>
            </tr>
            <tr class="\&quot;row2\&quot;">
                <td valign="\&quot;top\&quot;"><strong>750ADM-H</strong></td>
                <td valign="\&quot;top\&quot;">23.5</td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>