<div class="ui segment padded about">
    <h1 class="ui header"> About us</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Diagnostic Services Available</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="caret right icon"></i>
                            Location of difficult to find cable faults
                        </div>
                        <div class="item">
                            <i class="caret right icon"></i>
                            Diagnostic testing of cables
                        </div>
                        <div class="item">
                            <i class="caret right icon"></i>
                            AC and DC Hipot Testing
                        </div>
                    </div>
                    <a ui-sref="main.services">More info &raquo;</a>
                </div>
            </div>
            <div class="twelve wide column">
                <p>HV Diagnostics Inc. based in Atlanta, GA, USA provides the electrical industry with field proven, sophisticated and reliable electrical test equipment including High Voltage DC & VLF (Very Low Frequency), Fully Automatic Oil Testers, Cable Testing and Diagnostic Systems, Relay Testing and Current Injection systems etc.
                    <br/>
                    <br/>
                    In addition to being a leading supplier and manufacturer of electrical test equipment, we also offer excellent technical support and provide specialized electrical testing services that include cable testing, cable fault location and cable diagnostics.
                    <br/>
                    <br/>
                    We are market leaders in the cable diagnostics and cable testing in both application, experience and equipment supply. We understand the technical requirements and applications for electrical test equipment in the field and in the laboratory environments.
                    <br/>
                    <br/>
                    Our equipment is capable of testing motors, generators, switchgear, transformers, relays and cables.</p>
            </div>
        </div>
    </div>
</div>