<div class="ui segment padded faqs">
    <h1 class="ui header">Product Catalog</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Rentals Available</h4>

                    <p>Do you have short term requirements for our testing equipment? If purchasing equipment isn't practical for your business at this time, please consider the following <a ui-sref="main.rentals">Diagnostic Test Equipment Rental providers</a>.</p>
                </div>
            </div>
            <div class="twelve wide column">
                <h2>Browse Products by Category</h2>
                <p>We are proud to offer a wide variety of quality high voltage test equipment for the electrical industry. Click on any product category to see a listing of all products in that category.</p>
                <div class="ui small images">
                    <a ui-sref="main.products({series: 'hva'})"><img src="/Catalog/hva.jpg"></a>
                    <a ui-sref="main.products({series: 'td'})"><img src="/Catalog/td.jpg"></a>
                    <!--<a ui-sref="main.products({series: 'pd'})"><img src="/Catalog/pd.jpg"></a>-->
                    <a ui-sref="main.products({series: 'cableID'})"><img src="/Catalog/testing.jpg"></a>
                    <a ui-sref="main.products({series: 'tdr'})"><img src="/Catalog/tdr.jpg"></a>
                    <a ui-sref="main.products({series: 'ba'})"><img src="/Catalog/ba.jpg"></a>
                    <a ui-sref="main.products({series: 'pd'})"><img src="/Catalog/pd.png"></a>
                    <a ui-sref="main.products({series: 'pdTd'})"><img src="/Catalog/pd_td.png"></a>
                    <!--<a ui-sref="main.products({series: 'injectors'})"><img src="/Catalog/current-injectors.jpg"></a>-->
                    <!--<a ui-sref="main.products({series: 'micro-ohmmeters'})"><img src="/Catalog/micro-ohmmeters.jpg"></a>-->
                </div>
            </div>
        </div>
    </div>
</div>