<div class="ui segment padded about">
    <h1 class="ui header">Data Sheets</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Data sheets are in pdf format and must be viewed using the Adobe Reader. If you don't have the software installed on your computer, you can download it <a href="https://acrobat.adobe.com/us/en/products/pdf-reader.html" target="_blank">here</a>.</p>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Diagnostic Services Available</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="caret right icon"></i>
                            Location of difficult to find cable faults
                        </div>
                        <div class="item">
                            <i class="caret right icon"></i>
                            Diagnostic testing of cables
                        </div>
                        <div class="item">
                            <i class="caret right icon"></i>
                            AC and DC Hipot Testing
                        </div>
                    </div>
                    <a ui-sref="main.services">More info &raquo;</a>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
            </div>
            <div class="twelve wide column">
                <p>
                    Whether you're researching products to purchase or looking up specs for products you already own, you can get the product data sheets here. Click on any category to see the list of products for that category. Data sheets are in pdf format and must be viewed using the Adobe Reader. If you don't have the software installed on your computer, you can download it <a href="https://acrobat.adobe.com/us/en/products/pdf-reader.html" target="_blank">here</a>.
                    <br/>
                    <br/>
                    If you're a current customer you can <a ui-sref="main.login">login</a> into our Support Portal and get access to looking for operation manuals, software or firmware downloads.
                    <br/>
                    <br/>
                    As always if you need information that isn't provided on this website, you may <a ui-sref="main.contact">contact us</a> and we will be happy to assist you.
                </p>
                <div class="ui inverted divider"></div>
                <div class="ui list">
                    <!--<div class="item" ng-repeat="(key, value) in dataSheets">-->
                    <!--<div class="header">{{key}}</div>-->
                    <!--<div class="ui middle aligned animated list">-->
                    <!--<div class="item" ng-repeat="filename in value | orderBy: 'filename'">-->
                    <!--<img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">-->
                    <!--<div class="content">-->
                    <!--<a href="{{filename}}" target="_self">{{filename | filename}}</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<br/>-->
                    <!--</div>-->

                    <div class="item">
                        <div class="header">VLF/DC Hipots</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['VLF/DC Hipots'] | orderBy">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="header">Tan Delta Cable Diagnostics</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['Tan Delta Cable Diagnostics'] | orderBy">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="item">-->
                    <!--<div class="header">PD</div>-->
                    <!--<div class="ui middle aligned animated list">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="item">-->
                    <!--<div class="header">Combo TD and PD</div>-->
                    <!--<div class="ui middle aligned animated list">-->
                    <!---->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="item">
                        <div class="header">Cable ID & Phasing</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['Cable ID & Phasing'] | orderBy">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="header">Time Domain Reflectometry (TDR)</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['Time Domain Reflectometry (TDR)'] | orderBy">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="header">Dielectric Oil Testing</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['Dielectric Oil Testing'].slice().reverse()">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="item">
                        <div class="header">Partial Discharge</div>
                        <div class="ui middle aligned animated list">
                            <div class="item" ng-repeat="dataSheet in dataSheets['Partial Discharge'].slice().reverse()">
                                <img class="ui avatar image" src="/images/Adobe_PDF_Icon.svg_.png">
                                <div class="content">
                                    <a href="{{dataSheet}}" target="_self">{{dataSheet | filename}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>