<div class="ui segment padded faqs">
    <h1 class="ui header">Frequently Asked Questions (FAQs)</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
            </div>
            <div class="twelve wide column">
                <h3 class="ui header">Q{{faqAnswer.faq_order}}: {{faqAnswer.question}}</h3>
                <h4 class="ui header">A: <span ng-bind-html="faqAnswer.answer"></span></h4>
                <a ui-sref="main.faqs">&laquo; Back</a>
            </div>

        </div>
    </div>
</div>
