<div class="ui segment padded faqs">
    <h1 class="ui header">Frequently Asked Questions (FAQs)</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
            </div>
            <div class="twelve wide column">
                <p>
                    THe following are answers to common questions about our products and diagnostic services. As always if your question is not addressed here, you may <a ui-sref="main.contact">contact us</a> online or call us at +1 (678) 445-2555 and we will be happy to assist you.
                </p>
                <div class="ui ordered list">
                    <a class="item question" ng-repeat="faq in faqs | orderBy: 'faq_order'" ng-href="/faqs/{{faq.id}}">{{faq.question}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
