<div class="home">
    <div class="ui equal width grid stackable center aligned">
        <div class="column whatsnew">
            <div class="ui padded segment">
                <a ui-sref="main.news">
                    <h2>What's New</h2>
                    <br/>
                    <img class="ui centered image" src="/Home/whats-new.png" />
                    <br/>
                    <h5 style="color: black;">
                        Keep up with our latest products as well as upcoming events and news about what's going on with our company.
                    </h5>
                </a>
                <br/>
                <a class="small ui blue button fluid" ui-sref="main.news">New Events & Products</a>
            </div>
        </div>
        <div class="column products">
            <div class="ui padded segment">
                <a ui-sref="main.catalog">
                    <h2>Products</h2>
                    <br/>
                    <img class="ui centered image" src="/Home/products.png" />
                    <br/>
                    <h5 style="color: black;">
                        HV Diagnostics is a leading supplier of electrical test equipment.
                        <br/>
                        <br/>
                        Browse our product catalog or download data sheets to learn more about the products we offer.
                    </h5>
                </a>
                <br/>
                <a class="small ui blue button fluid" ui-sref="main.catalog">Products</a>
                </br>
                <a class="small ui blue button fluid" ui-sref="main.dataSheets">Data Sheets</a>
            </div>
        </div>
        <div class="column services">
            <div class="ui padded segment">
                <a ui-sref="main.services">
                    <h2>Services</h2>
                    <br/>
                    <img class="ui centered image" src="/Home/services.png" />
                    <br/>
                    <h5 style="color: black;">
                        HV Diagnostics offers excellent technical support and provides specialized electrical testing services.
                    </h5>
                </a>
                <br/>
                <a class="small ui blue button fluid" ui-sref="main.services({tabName: 'repairs'})">Repairs & Calibration</a>
                </br>
                <a class="small ui blue button fluid" ui-sref="main.services({tabName: 'testing'})">Cable Testing & Fault Location</a>
                </br>
                <a class="small ui blue button fluid" ui-sref="main.services({tabName: 'training'})">Training</a>
            </div>
        </div>
    </div>
</div>