<h4 class="ui header">Product Catalog</h4>
<div class="ui list">
    <a class="item" ui-sref="main.products({series: 'hva'})">
        <i class="caret right icon"></i>
        VLF/DC Hipots
    </a>
    <a class="item" ui-sref="main.products({series: 'td'})">
        <i class="caret right icon"></i>
        Tan Delta Cable Diagnostics
    </a>
    <a class="item" ui-sref="main.products({series: 'pd'})">
        <i class="caret right icon"></i>
        Partial Discharge Diagnostics
    </a>
    <a class="item" ui-sref="main.products({series: 'cableID'})">
        <i class="caret right icon"></i>
        Cable ID & Phasing
    </a>
    <a class="item" ui-sref="main.products({series: 'tdr'})">
        <i class="caret right icon"></i>
        Time Domain Reflectometry (TDR)
    </a>
    <a class="item" ui-sref="main.products({series: 'ba'})">
        <i class="caret right icon"></i>
        Dielectric Oil Testing
    </a>
     <a class="item" ui-sref="main.products({series: 'pdTd'})">
        <i class="caret right icon"></i>
        Partial Discharge Tan Delta
    </a>
    <!--<a class="item" ui-sref="main.products({series: 'injectors'})">-->
        <!--<i class="caret right icon"></i>-->
        <!--Current Injectors-->
    <!--</a>-->
    <!--<a class="item" ui-sref="main.products({series: 'micro-ohmmeters'})">-->
        <!--<i class="caret right icon"></i>-->
        <!--Micro-Ohmmeters-->
    <!--</a>-->
</div>