<div class="ui segment padded faqs">
    <h1 class="ui header">What's New</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
                <div class="ui segment">
                    <h4 class="ui header">Diagnostic Services Available</h4>
                    <div class="ui bulleted list">
                        <div class="item">Location of difficult to find cable faults</div>
                        <div class="item">Diagnostic testing of cables</div>
                        <div class="item">AC and DC Hipot Testing</div>
                        <br />
                        <a ui-sref="main.contact">Request More Info &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <h2 class="ui red header">Upcoming Events</h2>
                <div class="ui grid">
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="image">
                                    <img src="/News/t_d_logo.png">
                                </div>
                                <div class="content">
                                    <a class="header">IEEE PES T&D Conference & Exposition</a>
                                    <div class="meta">
                                        CANCELLED – Due to the COVID-19 crisis, IEEE has decided to cancel the 2020 T&D Tradeshow.

We look forward to seeing you for a great experience in New Orleans, April 2022! 
                                    </div>
                                    <div class="description">
                                        <p>
                                            Ernest N. Morial Convention Center <br />
                                            New Orleans, Louisiana <br />
                                            Booth # TBD <br />
                                            April 25 – 28, 2020 <br />
                                            <a href="www.ieeet-d.org/IEEE20">www.ieeet-d.org/IEEE20</a>
                                        </p>
                                        <p>Drop by to sign up for our YETI Tumbler Set Giveaway!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui red header">News</h2>
                <div class="ui grid">
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="content">
                                    <a href="https://www.electricity-today.com/" target="_blank" class="header">Electricity Today</a>
                                    <div class="meta">
                                        Check out our recent article published by Electricity Today in the latest Special Edition on HV Electrical Testing!
                                    </div>
                                    <div class="description">
                                       <a href="/News/Electricity Today HV Special Ed. - HVD Advertorial.pdf" target="_blank">
                                        <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                                       </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <h2 class="ui red header">New Product Announcements</h2>
                <div class="ui grid">
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="image">
                                    <img src="/News/200kV.jpeg">
                                </div>
                                <div class="content">
                                    <a class="header">NEW 200kV - Model HVA200</a>
                                    <div class="meta">
                                        <span>The New 200kV !! Model HVA200 mounted conveniently on a mobile trailer.
                                            A very cost effective, fast and efficient setup to test your transmission class cables.</span>
                                    </div>
                                    <div class="description">
                                        <p>Available options include Tan Delta and / or Partial Discharge</p>
                                    </div>
                                </div>
                            </div>
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/_lfeZunEDq4" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="ui items">
                            <div class="item">
                                <div class="image">
                                    <img src="/Products/HVA/HVA45 TD.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">HVA45 TD</a>
                                    <div class="meta">
                                        This unit packs a punch at 45kV peak output and with integrated Tan Delta. There is no need to have a separate external Tan Delta instrument with this all-in-one design. <a ui-sref="main.model({series: 'hva', model: 'hva45 td'})">Read more &raquo;</a>
                                    </div>
                                    <div class="description">
                                        Available options include <a ui-sref="main.model({series: 'pd', model: 'pd60-2'})">PD60</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>