<div class="ui segment padded privacy">
    <h1 class="ui header">
        Privacy Policy
        <div class="sub header">Our Internet Privacy Policy</div>
    </h1>

    <p>HV Diagnostics is committed to high ethical standards in our business operations. We recognize and respect our clients expectations of privacy and confidentiality of information provided. We will not share, disclose or sell any non-public or confidential information to any persons or organizations unless said parties are directly involved in the fulfillment of a client's project, or if information is requested by any law enforcement agency. This policy is designed to specifically prevent the intrusion upon our clients from unsolicited, third-party contact such as spam e-mails, direct mail, phone solicitations and other sales or marketing efforts. Additionally, we will not share any information which might cause a conflict of interest, be deemed collusion, or other for any unethical purposes.
        <br/>
        <br/>
        Our website includes analytics scripts which use cookies to track session information such as pages visited, time on our site, search engine and browser information. No personal data is collected with our website analytics services. We may use certain information provided in our promotional efforts such as portfolios, testimonials, press releases, advertising or other promotional displays. Any display of, or reference to, a client will be done in a professional, business-like manner. We will not use any information that would generally be considered as confidential, proprietary, or of a private nature.
        <br/>
        <br/>
        We do not partner with or have formal relationships with any online advertising companies. Any information that you choose to provide to HV Diagnostics will not be sold or shared by us with any online advertising companies. We avoid actions which may cause users of our website to be subjected to spam emails.
        <br/>
        <br/>
        We are responsible for the content on only HV Diagnostics website. Our website does provide links to external web pages that are owned and managed by parties not affiliated with HV Diagnostics. We are not responsible for any content on said websites or activity conducted on or from the visitation of these websites. Visitors to any website should read any available privacy policy before providing information or executing downloads. Visitors to our website may also be interested in our Website Terms Of Use
        <br/>
        <br/>
        We may use information provided for uses not previously addressed in our internet privacy policy statement. While we do make reasonable efforts to maintain our internet privacy policy in a timely manner, any changes to our internet privacy policy may not be immediately posted on our website. We do not issue formal or informal notices of any changes directly to any past or present users of our website.
        <br/>
        <br/>
        As required to complete a business transaction with HV Diagnostics, we may require, and retain, limited personal information such as personal shipping addresses, credit card account information, purchase history, etc. Any information that is obtained, used or retained will be given an appropriate level of security and privacy protection.</p>
</div>