<div class="ui segment padded rentals">
    <h1 class="ui header">Rentals</h1>
    <div class="ui grid">
        <div class="doubling two column row">
            <div class="four wide column computer only">
                <div class="ui segment">
                    <h4 class="ui header">Research Products</h4>
                    <img class="ui mini left floated image" src="/images/Adobe_PDF_Icon.svg_.png" />
                    <p>Download Product <a ui-sref="main.dataSheets">Data Sheets</a> to learn more about the diagnostic equipment you're interested in.</p>
                </div>
                <div class="ui segment">
                    <ng-include src="'main/miniCatalog.html'"></ng-include>
                </div>
            </div>
            <div class="twelve wide column">
                <h2 class="ui header">Recommended Rental Companies</h2>
                <p>
                    Do you have need of electrical diagnostic equipment for short periods of time? Will leasing or renting meet your needs better than purchasing your own equipment?
                    <br />
                    <br /> Though we do not rent equipment ourselves, the following is a list of companies we recommend for your equipment rental needs.
                </p>
                <div class="ui special three doubling cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.accutechrentals.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/accutech.jpg">
                        </div>
                        <div class="content">
                            9730-32 Avenue
                            <br /> Edmonton, AB T6N 1L9 Canada
                            <br /> Phone: (780) 434-0501
                            <br /> Ian Miller
                            <br />
                            <br /> HVA28TD, HVA30/34, TD30, HVA60, TD60, HVA90
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.bhdrentals.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/bhd.jpg">
                        </div>
                        <div class="content">
                            8505 Argyll Road
                            <br /> Edmonton, AB
                            <br /> T6C 4B2
                            <br /> Phone: (800) 565-3317
                            <br /> Fax: (780) 988-5177
                            <br /> Greg Anaka
                            <br />
                            <br /> HVA28TD, HVA30/34, HVA60, TD60
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.electrorent.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/electrorent.jpg">
                        </div>
                        <div class="content">
                            6060 Sepulveda Blvd.
                            <br /> Van Nuys, CA 91411
                            <br /> Fax: (510) 675-1843
                            <br /> Sales: (800)-835-6494
                            <br />
                            <br /> HVA28TD, HVA30/34, TD30, HVA60, TD60, HVA90
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.intellirentco.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/intellirent.jpg">
                        </div>
                        <div class="content">
                            604 Henrietta Creek, Suite 400
                            <br /> Roanoke, Texas 76262
                            <br /> Phone: (972) 317-0479
                            <br /> Fax: (972) 317-1891
                            <br /> Dave Gibson
                            <br />
                            <br /> HVA28TD, HVA30/34, HVA60, TD60, HVA90
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.protecequip.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/protect.jpg">
                        </div>
                        <div class="content">
                            1517 W N Carrier Parkway
                            <br /> Suite 116
                            <br /> Grand Prairie, TX 75050
                            <br /> Phone: (972) 352-5550
                            <br /> Dugan Richards
                            <br />
                            <br /> HVA28TD, HVA30/34, TD30, HVA60, TD60, HVA90, BA75
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.ecpsales.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/ecp.jpg">
                        </div>
                        <div class="content">
                            Lane Batson
                            <br /> 3302 Harrisburg
                            <br /> Houston, TX 77003
                            <br /> Email: lane@ecpsales.com
                            <br /> <a href="http://www.ecpsales.com/" target="_blank">www.ecpsales.com</a>
                            <br /> Phone: 713.222.9191
                            <br /> Cell: 713.702.5453
                            <br /> Toll Free: 866.725.3771
                            <br />
                            <br /> HVA28TD, HVA60, TD60
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="http://www.bhdtm.com" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/bhd.png">
                        </div>
                        <div class="content">
                            <br /> 2100 W. 6th Ave, Unit C
                            <br /> Broomfield, CO 80020
                            <br /> Email: greg@bhdtm.com
                            <br /> T: 1.303.469.5335
                            <br /> TF: 888.573.5468
                            <br /> M: 1.720.676.9119
                            <br />
                            <br /> HVA28TD, HVA30/34, HVA60, TD60
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="https://www.catrentalstore.com/" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/tcrs.jpg">
                        </div>
                        <div class="content">
                            <div>Stephan Cybulsky</div>
                            <div>10235-180 Street</div>
                            <div>Edmonton, AB, Canada</div>
                            <div>Email: scybulsky@catrants.ca</div>
                            <div>Direct: 780-989-8666</div>
                            <div><a href="https://www.catrentalstore.com/" target="_blank">https://www.catrentalstore.com/</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="https://a-rent.com" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                            <img src="/Rentals/a-rent.png">
                        </div>
                        <div class="content">
                            <div>A-Rent Test Equipment</div>
                            <div>161 Tower Dr, Unit G</div>
                            <div>Burr Ridge, IL 60527</div>
                            <div><a href="https://a-rent.com" target="_blank">www.a-rent.com</a></div>
                            <div>info@a-rent.com</div>
                            <div>630.748.8900</div>
                            <br />
                            <div>HVA28TD, HVA34, HVA45TD, HVA60, TD60</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>