<div class="ui segment padded services">
    <div class="ui top attached tabular menu">
        <a class="item" data-tab="testing" ng-class="{active: tabName == 'testing'}">Testing</a>
        <a class="item" data-tab="training" ng-class="{active: tabName == 'training'}">Training</a>
        <a class="item" data-tab="repairs" ng-class="{active: tabName == 'repairs'}">Repairs & Calibration</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="testing" ng-class="{active: tabName == 'testing'}">
        <h5>Testing</h5>
        <p>With over 30 years of experience in cable testing / diagnostics and oil testing, we have become one of the industry leaders in these fields. While we do not compete against our customers in the field, there are many occasions when we are called on by our customers, to perform the actual testing for them.
            <br/>
            <br/>
            While this testing service is not part of any long term testing programs, we have a fully equipped test van as well as portable equipment that we can dispatch as relatively short notice.</p>
        <h5>Our expertise and capabilities include:</h5>
        <ul class="ui list">
            <li>MV and Transmission Class Cable Fault Location</li>
            <li>MV Cable Testing and Diagnostics (PD and TD)</li>
            <li>Cable Neutral Checks and Cable ID (Cable Identification)</li>
        </ul>
        <br/>
        <div id="testing-for" class="slickCarousel" >
            <a ng-repeat="img in testing" href="{{img}}" target="_blank"  ><img  ng-src="{{img}}" class="ui centered align image" /></a>
        </div>
        <div id="testing-nav" class="slickCarousel ui tiny images" >
            <img ng-repeat="img in testing" ng-src="{{img}}" class="ui image" />
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="training" ng-class="{active: tabName == 'training'}">
        <h5>Training</h5>
        <p>We offer some of the best MV Cable testing training available. Our training programs have been approved by some of the national and international testing associations. Our many years of working in the field has allowed us to not only provide the theory, but also the practical aspects of testing in the field. We offer training both at our office/ laboratory as well as at the customers sites where we encourage hands on training.</p>
        <br/>
        <div id="training-for" class="slickCarousel" >
            <a ng-repeat="img in training" href="{{img}}" target="_blank" ><img ng-src="{{img}}" class="ui centered align image" /></a>
        </div>
        <div id="training-nav" class="slickCarousel ui tiny images" >
            <img ng-repeat="img in training" ng-src="{{img}}" class="ui image" />
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="repairs" ng-class="{active: tabName == 'repairs'}">
        <h5>Repairs and Calibration</h5>
        <p>At HV Diagnostics we have always believed that any product that is worth selling, is also worth supporting. This may seem obvious, but many companies simply enjoy the short term profit of the sale and then distant themselves from the expense of supporting the product. For us this support firstly comes in the form of having an in depth knowledge of the product and its application/s. Our support team not only provides support for the product itself, but based on the wealth of experience we have in the field, we offer application specific support. Our involvement in research with entities such a EPRI and NEETRAC, in standard committees like IEEE and ASTM, in testing organizations like NETA, and our years of field experience, all mean that we offer the full breath of expertise that is unmatched in the industry.
            <br/>
            <br/>
            It also comes in the form of providing efficient and cost effective repairs and calibration service for the equipment. This in-house capability is an essential part of our success. We offer NIST traceability for all calibrations where applicable.
            <br/>
            <br/>
            If you have a product in need of repair/calibration, please <a ui-sref="main.login">login</a> and click on <a ui-sref="account.rmas">RMA</a> to initiate a RMA request. If you don't have an account, please <a ui-sref="main.signup">signup</a> for an account.
        </p>
        <div style="text-align: center; margin: 20px 0;">
            <a class="big green ui button" ui-sref="account.newRma">
                Generate RMA
            </a>
        </div>
    </div>
</div>