<div class="ui segment padded support">
    <h1 class="ui header">Customer Support</h1>
    <div class="ui top attached tabular menu">
        <div class="active item">Remote Support</div>
    </div>
    <div class="ui bottom attached active tab segment" style="position: relative">
        <h4 class="ui header">We can offer support in one of two ways:</h4>
        <p>Contact us by phone or <a href="mailto:service@hvdiagnostics.com">service@hvdiagnostics.com</a>. This normally resolves most issues.</p>
        <h2 class="ui center aligned header">+1 (678) 445-2555</h2>
        <div class="ui horizontal divider">
            Or
        </div>
        <p>We can also remote access into your computer by following the steps below (NOTE: You will need to notify us by phone prior to performing this step)</p>
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui small header">Step 1</div>
                <p>Contact us by phone at the numbers listed below so that we can remotely access your workstation to allow us to troubleshoot an issue:</p>
                <h4 class="ui center aligned header">+1 (678) 445-2555</h4>
            </div>
            <div class="ui segment">
                <div class="ui small header">Step 2</div>
                <p>Once we are on the phone, click on the picture below:</p>
                <a href="http://support.hvdiagnostics.com:8008/" target="_blank"><img class="ui small centered image" src="/Support/Remote-Connect.gif" /></a>
            </div>
            <div class="ui segment">
                <div class="ui small header">Step 3</div>
                <p>Click on "Open Customer Page"</p>
                <img class="ui medium centered image" src="/Support/step_03.png" />
            </div>
            <div class="ui segment">
                <div class="ui small header">Step 4</div>
                <p>Click on "Download Remote Support" and install the downloaded software</p>
                <img class="ui medium centered image" src="/Support/step_04.png" />
            </div>
            <div class="ui segment">
                <div class="ui small header">Step 5</div>
                <p>Login into the system</p>
                <img class="ui medium centered image" src="/Support/step_05.png" />
            </div>
        </div>
    </div>
</div>