<div class="ui segment padded warranty">
    <h1 class="ui header">Warranty Information</h1>
    <p>
        HV Diagnostics provides a one-year warranty from the original purchase date of instrument for all necessary parts and labor. This warranty is void in the event of abuse, incorrect operation or use, unauthorized modification or repairs, or failure to perform the specified maintenance as indicated in the appropriate operation manual. This warranty does not include normal consumable items such as lamps, paper rolls, printer ribbons, batteries or other auxiliary items.
    <br/>
    <br/>
        This warranty and our liability are limited to replacing or repairing defective equipment, at our discretion. Equipment that is returned to HV Diagnostics must be packed in original packaging. All shipped items must be prepaid and insured. No other warranties are expressed or implied.
    </p>
</div>