<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/hva">VLF/DC Hipots</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA28TD</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/HVA/HVA28TD.png" />
        </div>
        <a href="{{getDataSheet('HVA28TD')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The smallest VLF /DC unit on the market now includes an integrated Tan Delta measurement system to perform advanced electrical insulation diagnostics. For example, this can be extremely useful when performing advanced diagnostics on cable systems as it provides valuable information as to the condition of the cable insulation and shield. The instrument automatically performs a TD test, stepping up the voltage at the user prescribed levels (according to the IEEE) and stores the results. All test parameters including insulation resistance, capacitance, RMS current and voltage, test durations, voltage steps, tan delta, and standard deviation are all measured and displayed by the HVA28 LCD display or stored to an internal memory. Test results can also be transferred directly to a USB memory stick or wirelessly via Bluetooth to a PC for later analysis and reporting using the supplied industry leading reporting software -TD Control Center. All units are shipped with a calibration certificate, TD Control Center software, corona protection shields, Bluetooth dongle, and an accessories tote.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Integrated TD unit</li>
                    <li>TD Resolution ±1x10<sup>-4</sup></li>
                    <li>TD Analysis &amp; Reporting using TD Control Center</li>
                    <li>Digital RMS metering</li>
                    <li>Smallest unit available</li>
                    <li>Bluetooth/USB Mem. stick PC Interface</li>
                    <li>Color LCD Display</li>
                    <li>Weighs only 31 lbs / 14 kg</li>
                    <li>Insulation Resistance &amp; Cap. Measurement</li>
                    <li>Perform advanced diagnostics on MV Cables according to IEEE400 and 400.2</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Output Frequency optimization</li>
                    <li>Real time oscilloscope display</li>
                    <li>Auto &amp; Manual Test Sequences</li>
                    <li>Internal Storage of Test Reports</li>
                    <li>Unlimited duty cycle</li>
                    <li>Flashover voltage detection</li>
                    <li>Power supply immunity and independence</li>
                    <li>Low maintenance, oil-free design</li>
                    <li>RMS Digital Metering of Current and Voltage</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Output Modes</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>VLF 20kVrms/28kV Peak output</li>
                    <li>DC ±28kV</li>
                    <li>Sine/Square/ DC outputs</li>
                    <li>Cable Jacket / Sheath testing mode</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>TD measurement mode</li>
                    <li>Vacuum bottle testing mode</li>
                    <li>Fault Conditioning/Trip</li>
                    <li>Load independent output waveform</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Safety</h3>
        <div class="ui grid">
            <div class="column">
                <ul class="ui list">
                    <li>Short circuit detection</li>
                    <li>Emergency Off button</li>
                    <li>Integrated internal discharge of DUT.</li>
                    <li>12kV power frequency voltage feedback protection</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <p>PD30-E</p>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Ordering Information:</strong></p></td>
                <td valign="top" class="rightside"><p>702 001</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply/Input Voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>110 to 240V AC ±10% (50/60Hz)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Input Power Requirements:</strong></p></td>
                <td valign="top" class="rightside"><p>400VA</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Rated Max Output Voltage:</strong><br> Sinusoidal RMS/Peak<br> Squarewave<br> DC</p></td>
                <td valign="top" class="rightside"><p><br> 20kV/28kV<br> 28kV<br> ±28kV</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Rate Max Output Current:</strong><br> Sinusoidal RMS<br> DC/Squarewave</p></td>
                <td valign="top" class="rightside"><p><br> 20mA<br> 28mA</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Frequency (default 0.1Hz):</strong></p></td>
                <td valign="top" class="rightside"><p>0.01Hz to 0.1Hz adjustable small increment of 0.01Hz (10 frequencies)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Frequency Optimization:</strong></p></td>
                <td valign="top" class="rightside"><p>Yes</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Maximum Output Load Capability @ maximum voltage and frequency:</strong></p></td>
                <td valign="top" class="rightside"><p>0.5µF <br> *5000ft <br> *1.5km</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Metering:</strong><br> Voltage<br> Current<br> Capacitance<br> Resistance<br> Timing<br> Fast Arc/Flashover<br> Waveform</p></td>
                <td valign="top" class="rightside"><p><br> 0.1kV Resolution ±1% Accuracy<br> 1 µA Resolution ±1% Accuracy<br> 0.1 nF to 20 µF Range<br> 0.1MΩ to 5GΩ Range<br> Included and integrated<br> Detection Included and Integrated<br> Real time oscilloscope display of actual output voltage waveform</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Mode (all load independent &amp; symmetrical):</strong></p></td>
                <td valign="top" class="rightside"><p>VLF AC Sinewave<br> VLF AC Squarewave<br> DC (both Positive and Negative Polarity)<br> Fault Condition Mode / Fault Trip Mode<br> Vacuum Bottle Test Mode (DC) - optional<br> Cable Jacket / Sheath Test Mode</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Duty:</strong></p></td>
                <td valign="top" class="rightside"><p>Continuous</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Computer Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>USB Flash &amp; BT<br> HVA Contol Center Software included with every HVA instrument</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Memory / Test Record Storage:</strong><br> Built in Memory<br> USB Flash Drive</p></td>
                <td valign="top" class="rightside"><p><br> 50 Test Records <br> Unlimited (see options)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>No. of programmable Automatic Test Sequences:</strong></p></td>
                <td valign="top" class="rightside"><p>40</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Standard HV Test Lead Cable Included:</strong></p></td>
                <td valign="top" class="rightside"><p>13ft/4m</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>31lbs / 14kg</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong><br> Imperial (inches)<br> Metric (mm)</p></td>
                <td valign="top" class="rightside"><p><br> 16.9 x 9.4 x 13.4<br> 430x240x340</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Environmental:</strong><br> Storage<br> Operating<br> Humidity</p></td>
                <td valign="top" class="rightside"><p><br>-13°F to 158°F / -25°C to 70°C<br> 23°F to 113°F / -5°C to +45°C<br> 85% RH non-condensing</p></td>
            </tr>
            </tbody>
        </table>
        <p>* Based on typical MV cable. 100pf/ft or 330 pF/m</p>

        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>