<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/hva">VLF/DC Hipots</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA 30-7</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/HVA/HVA 30-5.png" />
        </div>
        <a href="{{getDataSheet('HVA 30-7')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>This model was designed primarily for electrical utilities that have large complex cable networks that demand a very powerful test instrument to overcome the large loads presented by these long cable systems. Capable of testing up to 150,000ft / 45km of cable - it does not get much more powerful than this. This instrument, like all other HVA models, provides a very powerful high voltage DC output in addition to the VLF AC output. It can be used for testing many other electrical apparatus like transformers, motors/ generators, switchgear, etc. Its single piece design has one of the highest power-to-weight ratios outputs in the industry. Like all other instruments in the HVA series, there is no need to connect two heavy pieces of test equipment with interconnecting cables, etc. There is no warm-up period required before use and no insulation oil used in the design that needs to be maintained.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Internal Storage of Test Reports</li>
                    <li>Download to PC and / or USB flash drive</li>
                    <li>Unlimited duty cycle</li>
                    <li>Flashover voltage detection</li>
                    <li>Bright backlit LCD display</li>
                    <li>Power supply immunity and independence</li>
                    <li>Low maintenance, oil-free design</li>
                    <li>HVA Control Center – User friendly software for immediate, professional detailed reporting and setup</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Test your 25(Maint), 15, 11, 8, 6.6, 5kV long MV cables</li>
                    <li>Test long cables up to ~ 150,000ft / 45km</li>
                    <li>Weighs only 125 lbs / 57kg.</li>
                    <li>Perform tests fully automatically</li>
                    <li>Real time oscilloscope display</li>
                    <li>Insulation Resistance &amp; Cap. Measurement</li>
                    <li>RMS Metering of Current and Voltage</li>
                    <li>Output Frequency optimization</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Output Modes</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                    <li>DC ±34kV</li>
                    <li>Powerful VLF 34kVrms / 24kVpk output</li>
                    <li>Cable Jacket / Sheath testing</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                    <li>DC ±34kV</li>
                    <li><div>Powerful VLF 34kVrms / 24kVpk output</div></li>
                    <li>Cable Jacket / Sheath testing</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Safety</h3>
        <div class="ui grid">
            <div class="column">
                <ul class="ui list">
                    <li>Remote interlock “kill switch” and HV status indication</li>
                    <li>Integrated internal discharge of DUT</li>
                    <li>12kV power frequency voltage feedback protection</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <p>TD30 | PD30-E</p>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Ordering Information:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>707 001</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Power Supply/Input Voltage:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>110 to 240V AC ±10% (50/60Hz)</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Rated Max Output Voltage:</strong>
                            <br> Sinusoidal RMS/Peak
                            <br> Squarewave
                            <br> DC</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br> 23kV/33kV
                            <br> 30kV
                            <br> ±30kV</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Rate Max Output Current:</strong>
                            <br> Sinusoidal RMS
                            <br> DC/Squarewave</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br> 85mA
                            <br> 120mA</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Output Frequency (default 0.1Hz):</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>0.01Hz to 0.1Hz adjustable small increment of 0.01Hz (10 frequencies)</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Frequency Optimization:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>Yes</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Maximum Output Load Capability @ maximum voltage and frequency:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>3.8µF
                            <br> *38 000ft
                            <br> *11.5km</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Maximum Output Load Capability @ Reduced Frequency and / or voltage:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>15µF
                            <br> *150 000ft
                            <br> *45km</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Metering:</strong>
                            <br> Voltage
                            <br> Current
                            <br> Capacitance
                            <br> Resistance
                            <br> Timing
                            <br> Fast Arc/Flashover
                            <br> Waveform</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br> 0.1kV Resolution ±1% Accuracy
                            <br> 1 &amp;181;A Resolution ±1% Accuracy
                            <br> 0.1 nF to 20 µF Range
                            <br> 0.1MΩ to 20GΩ Range
                            <br> Included and integrated
                            <br> Detection Included and Integrated
                            <br> Real time oscilloscope display of actual output voltage waveform</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Output Mode (all load independent &amp; symmetrical):</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>VLF AC Sinewave
                            <br> VLF AC Squarewave
                            <br> DC (both Positive and Negative Polarity)
                            <br> Fault Condition Mode / Fault Trip Mode
                            <br> Vacuum Bottle Test Mode (DC) - optional
                            <br> Cable Jacket / Sheath Test Mode</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Output Duty:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>Continuous</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Computer Interface:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>RS232 Standard, USB Flash Memory Download Module (optional)
                            <br> HVA Contol Center Software included with every HVA instrument</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Memory / Test Record Storage:</strong>
                            <br> Built in Memory
                            <br> USB Flash Drive</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br> 50 Test Records
                            <br> Unlimited (see options)</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>No. of programmable Automatic Test Sequences:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>40</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Standard HV Test Lead Cable Included:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>15ft/4.5m</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Weight:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>125 lbs / 57kg</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Dimensions (HVA120- excluding handle):</strong>
                            <br> Imperial (inches)
                            <br> Metric (mm)</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br> 18x13.5x 20.5
                            <br> 450x340x520</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Environmental:</strong>
                            <br> Storage
                            <br> Operating
                            <br> Humidity</p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>
                            <br>-13°F to 158°F / -25°C to 70°C
                            <br> 23°F to 113°F / -5°C to +45°C
                            <br> 85% RH non-condensing</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>* Based on typical MV cable. 100pf/ft or 330 pF/m</p>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>