<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/hva">VLF/DC Hipots</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA45 TD</div>
    </div>
    <br/>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/HVA/HVA45 TD.jpg" />
        </div>
        <a href="{{getDataSheet('HVA45 TD')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <br/>
        <div class="description">
            <p> This unit packs a punch at 45kV peak output and with integrated Tan Delta. There is no need to have a separate external Tan Delta instrument with this all-in-one design. Fully compliance with the IEEE400, 400.2, IEC 60502, CENELEC HD620/621 guides and standards. At only 86 lbs/39kbs this unit is very portable, housed in a rugged IP67 case. With a high test capacity of 10uF, there are very few loads or cables this instrument cannot test. With the a large 4.3" color display, automatic TD evaluation, and manual and automatic test functionality, DC and AC operation, testing in the field just got a whole lot easier. Designed for performing diagnostic testing for up to 35kV rated cables and full acceptance testing of cables 25kV and lower, this unit covers most of the MV cables installed today. All instruments are shipped with a NIST calibration certificate, TD Control Center software, corona protection shields, Bluetooth dongle, and accessories tote.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Pure AC VLF, and DC (+ or - polarity)</li>
                    <li>Load independent sinusoidal 0.1Hz</li>
                    <li>Integrated TD</li>
                    <li>TD Resolution ±1x10-4</li>
                    <li>TD Analysis & Reporting using TD Control Center</li>
                    <li>Digital RMS metering</li>
                    <li>Smallest compact rugged construction</li>
                    <li>Bluetooth/USB Mem. stick PC Interface</li>
                    <li>4.3" Color LCD Display</li>
                    <li>Weighs only 86 lbs / 39 kg</li>
                    <li>Insulation Resistance & Cap. Measurement</li>
                    <li>Perform advanced diagnostics on MV Cables acc. to IEEE400, 400.2, CENELEC HD620/621</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Output Frequency optimization</li>
                    <li>Real time oscilloscope display</li>
                    <li>Auto & Manual Test programmable Sequences</li>
                    <li>Internal Storage of Test Reports</li>
                    <li>Unlimited duty cycle</li>
                    <li>Flashover voltage detection</li>
                    <li>Power supply immunity and independence</li>
                    <li>Low maintenance, oil-free design</li>
                    <li>RMS Digital Metering of Current and Voltage</li>
                    <li>Automatic TD Evaluation</li>
                    <li>Vacuum Bottle Test functionality</li>
                    <li>Optional Partial Discharge Interface</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Output Modes</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>VLF 32kVrms/45kV Peak output</li>
                    <li>DC ±45kV</li>
                    <li>Sine/Square/ DC outputs</li>
                    <li>Cable Jacket / Sheath testing mode</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>TD measurement mode</li>
                    <li>Vacuum bottle testing mode</li>
                    <li>Fault Conditioning/Trip</li>
                    <li>Load independent output waveform</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Safety</h3>
        <div class="ui grid">
            <div class="column">
                <ul class="ui list">
                    <li>Short circuit detection</li>
                    <li>Emergency Off Interlock</li>
                    <li>Integrated internal discharge of DUT.</li>
                    <li>12kV power frequency voltage feedback protection</li>
                </ul>
            </div>
        </div>
        <br/>
        <br/>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>