<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/hva">VLF/DC Hipots</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA60</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/HVA/HVA 60.png" />
        </div>
        <a href="{{getDataSheet('HVA 60')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The HVA60 VLF /DC high voltage test instrument is the instrument of choice when customers require a single instrument that can test the full range of Medium Voltage cables available – that is 35kV rated cables and below. This very popular, single piece instrument is widely used on long 35/33kV cable systems found in electrical utilities, wind and solar farms, etc. The HVA60’s portable design has a total weight equivalent to just one piece of many two piece VLF 60kV units available on the market. In addition, setting up the HVA60 instrument is simple with no cumbersome interconnects between various modules that make up a typical two-piece design.
                <br/>
                <br/>
                Having both VLF AC and DC outputs, the HVA60 is not simply a high voltage instrument for testing MV cables, the unit can also be used for testing Vacuum bottles, cable jackets/sheaths, rotating machines, transformers, switchgear, etc. Test reports are downloaded to the instrument’s internal memory or to a USB flash drive.
                <br/>
                <br/>
                As with all HVA units, fully automatic test sequences, digital RMS metering, and integrated storage of test results make the HVA60 a top seller.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Test your 35kV below MV cable systems.</li>
                    <li>Single Piece Design</li>
                    <li>Weighs only 126 lbs / 57kg</li>
                    <li>Perform tests fully automatically</li>
                    <li>Real time oscilloscope display</li>
                    <li>Insulation Resistance &amp; Cap. measurement</li>
                    <li>RMS Metering of Current and Voltage</li>
                    <li>Output Frequency optimization</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Internal Storage of Test Reports</li>
                    <li>Download to PC and / or USB flash drive</li>
                    <li>Unlimited duty cycle</li>
                    <li>Bright backlit LCD display</li>
                    <li>Power supply immunity and independence</li>
                    <li>Low maintenance, oil-free design</li>
                    <li>HVA Control Center – User friendly software for immediate, professional detailed reporting and setup</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Output Modes</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>VLF 44kVrms / 62kVpk output</li>
                    <li>DC ±60kV</li>
                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                    <li>Cable Jacket / Sheath testing</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Vacuum bottle testing</li>
                    <li>Fault Conditioning / Fault Trip</li>
                    <li>Load independent output waveform</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Safety</h3>
        <div class="ui grid">
            <div class="column">
                <ul class="ui list">
                    <li>Remote interlock “kill switch” and HV status indication</li>
                    <li>Short circuit detection</li>
                    <li>Local Emergency off button</li>
                    <li>12kV power frequency voltage feedback protection</li>
                    <li>Flashover voltage detection</li>
                    <li>Integrated internal discharge of DUT</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <p>TD60| PD60-2 | PD60-2/TD</p>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Ordering Information:</strong></p></td>
                <td valign="top" class="rightside"><p>706 001</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply/Input Voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>110 to 240V AC ±10% (50/60Hz)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Input Power Requirements:</strong></p></td>
                <td valign="top" class="rightside"><p>1.2kVA</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Rated Max Output Voltage:</strong><br> Sinusoidal RMS/Peak<br> Squarewave<br> DC</p></td>
                <td valign="top" class="rightside"><p><br> 44kV/62kV<br> 60kV<br> ±60kV</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Rate Max Output Current:</strong><br> Sinusoidal RMS<br> DC/Squarewave</p></td>
                <td valign="top" class="rightside"><p><br> 26mA<br> 40mA</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Frequency (default 0.1Hz):</strong></p></td>
                <td valign="top" class="rightside"><p>0.01Hz to 0.1Hz adjustable small increment of 0.01Hz (10 frequencies)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Frequency Optimization:</strong></p></td>
                <td valign="top" class="rightside"><p>Yes</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Maximum Output Load Capability @ maximum voltage and frequency:</strong></p></td>
                <td valign="top" class="rightside"><p>1µF<br> *10 000ft<br> *3km</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Maximum Output Load Capability @ Reduced Frequency and / or voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>5µF <br> *50 000ft<br>*15km</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Metering:</strong><br> Voltage<br> Current<br> Capacitance<br> Resistance<br> Timing<br> Fast Arc/Flashover<br> Waveform</p></td>
                <td valign="top" class="rightside"><p><br> 0.1kV Resolution ±1% Accuracy<br> 1 µA Resolution ±1% Accuracy<br> 0.1 nF to 20 µF Range<br> 0.1MΩ to 20GΩ Range<br> Included and integrated<br> Detection Included and Integrated<br> Real time oscilloscope display of actual output voltage waveform</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Mode (all load independent &amp; symmetrical):</strong></p></td>
                <td valign="top" class="rightside"><p>VLF AC Sinewave<br> VLF AC Squarewave<br> DC (both Positive and Negative Polarity)<br> Fault Condition Mode / Fault Trip Mode<br> Vacuum Bottle Test Mode (DC) - optional<br> Cable Jacket / Sheath Test Mode</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Duty:</strong></p></td>
                <td valign="top" class="rightside"><p>Continuous</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Computer Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>RS232 Standard, USB Flash Memory Download Module (optional)<br> HVA Contol Center Software included with every HVA instrument</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Memory / Test Record Storage:</strong><br> Built in Memory<br> USB Flash Drive</p></td>
                <td valign="top" class="rightside"><p><br> 50 Test Records<br> Unlimited (see options)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>No. of programmable Automatic Test Sequences:</strong></p></td>
                <td valign="top" class="rightside"><p>40</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Standard HV Test Lead Cable Included:</strong></p></td>
                <td valign="top" class="rightside"><p>15ft/4.5m</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>126 lbs/57kg</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong><br> Imperial (inches)<br> Metric (mm)</p></td>
                <td valign="top" class="rightside"><p><br>18 x 13.5 x 20.5 <br> 450x340x520</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Environmental:</strong><br> Storage<br> Operating<br> Humidity</p></td>
                <td valign="top" class="rightside"><p><br>-13°F to 158°F / -25°C to 70°C<br> 23°F to 113°F / -5°C to +45°C<br> 85% RH non-condensing</p></td>
            </tr>
            </tbody>
        </table>
        <p>* Based on typical MV cable. 100pf/ft or 330 pF/m</p>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>