<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/hva">VLF/DC Hipots</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA 90/94</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/HVA/HVA 90_94.png" />
        </div>
        <a href="{{getDataSheet('HVA 90/94')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The model HVA90 and HVA94 offer customers the ability to test MV and Sub Transmission class cables including 69kV and 46kV cable and below. The lightest 90kV VLF/DC system on the market, this single instrument not only produces some of the highest VLF AC voltages available, but it also has a very powerful output capability. This facilitates the testing of long cables. Like all models in the HVA series, the user interface is the same. This means that any operator who is familiar to operating a HVA34 for example, can also operate the HVA90/94. Setup is simple and automatic with no cumbersome interconnecting of various modules. Automatic test sequences, like on all HVA models can be setup directly on the instrument or on the supplied HVA Control Center software. Test reports are downloaded to the instrument’s internal memory or to a USB flash drive.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Tests your MV and Transmission cable networks</li>
                    <li>Test up to 10µF (100,000ft/30kms)</li>
                    <li>Single Piece Design</li>
                    <li>Weighs only 280 lbs / 127kg</li>
                    <li>Perform tests fully automatically</li>
                    <li>Real time oscilloscope display</li>
                    <li>RMS Metering of Current and Voltage</li>
                    <li>Output Frequency optimization</li>
                    <li>Insulation Resistance &amp; Cap. measurement</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Internal Storage of Test Reports</li>
                    <li>Download to PC and / or USB flash drive</li>
                    <li>Unlimited duty cycle</li>
                    <li>Bright backlit LCD display</li>
                    <li>Power supply immunity and independence</li>
                    <li>Low maintenance, oil-free design</li>
                    <li>HVA Control Center – User friendly software for immediate, professional detailed reporting and setup</li>
                    <li>Free HVA Control Center Software and upgrades</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Output Modes</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>High voltage 90kV (HVA90) or 94kV output (HVA94)</li>
                    <li>DC ±90/94kV</li>
                    <li>VLF Sinewave / Squarewave &amp; DC outputs</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Cable Jacket / Sheath testing</li>
                    <li>Vacuum bottle testing</li>
                    <li>Fault Conditioning / Fault Trip</li>
                    <li>Load independent output waveform</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Safety</h3>
        <div class="ui grid">
            <div class="column">
                <ul class="ui list">
                    <li>Integrated internal discharge of DUT</li>
                    <li>12kV power frequency voltage feedback protection</li>
                    <li>Flashover voltage detection</li>
                    <li>Remote interlock “kill switch” and HV status indication</li>
                    <li>Short circuit detection</li>
                    <li>Local Emergency off button</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Optional Accessories</h3>
        <p>TD90 | PD90-2 | PD90-2/TD</p>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled single line table">
            <tbody><tr class="row1">
                <td valign="top" class="leftside"><p><strong>Ordering Information:</strong></p></td>
                <td valign="top" class="rightside"><p>709 001</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Power Supply/Input Voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>110 to 240V AC ±10% (50/60Hz)</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Rated Max Output Voltage:</strong><br> Sinusoidal RMS/Peak<br> Squarewave<br> DC</p></td>
                <td valign="top" class="rightside"><p><br> 64kV/90kV<br> 90kV<br> ±90kV</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Rate Max Output Current:</strong><br> Sinusoidal RMS<br> DC/Squarewave</p></td>
                <td valign="top" class="rightside"><p><br> 41mA<br> 58mA</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Frequency (default 0.1Hz):</strong></p></td>
                <td valign="top" class="rightside"><p>0.01Hz to 0.1Hz adjustable small increment of 0.01Hz (10 frequencies)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Frequency Optimization:</strong></p></td>
                <td valign="top" class="rightside"><p>Yes</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Maximum Output Load Capability @ maximum voltage and frequency:</strong></p></td>
                <td valign="top" class="rightside"><p>1µF <br> *10 000ft<br> *3km</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Maximum Output Load Capability @ Reduced Frequency and / or voltage:</strong></p></td>
                <td valign="top" class="rightside"><p>10.0µF<br> *100 000ft<br> *30km</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Metering:</strong><br> Voltage<br> Current<br> Capacitance<br> Resistance<br> Timing<br> Fast Arc/Flashover<br> Waveform</p></td>
                <td valign="top" class="rightside"><p><br> 0.1kV Resolution ±1% Accuracy<br> 1 µA Resolution ±1% Accuracy<br> 0.1 nF to 20 µF Range<br> 0.1MΩ to 20GΩ Range<br> Included and integrated<br> Detection Included and Integrated<br> Real time oscilloscope display of actual output voltage waveform</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Output Mode (all load independent &amp; symmetrical):</strong></p></td>
                <td valign="top" class="rightside"><p>VLF AC Sinewave<br> VLF AC Squarewave<br> DC (both Positive and Negative Polarity)<br> Fault Condition Mode / Fault Trip Mode<br> Vacuum Bottle Test Mode (DC) - optional<br> Cable Jacket / Sheath Test Mode</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Output Duty:</strong></p></td>
                <td valign="top" class="rightside"><p>Continuous</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Computer Interface:</strong></p></td>
                <td valign="top" class="rightside"><p>RS232 Standard, USB Flash Memory Download Module (optional)<br> HVA Contol Center Software included with every HVA instrument</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Memory / Test Record Storage:</strong><br> Built in Memory<br> USB Flash Drive</p></td>
                <td valign="top" class="rightside"><p><br> 50 Test Records<br> Unlimited (see options)</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>No. of programmable Automatic Test Sequences:</strong></p></td>
                <td valign="top" class="rightside"><p>40</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Standard HV Test Lead Cable Included:</strong></p></td>
                <td valign="top" class="rightside"><p>50ft/15m</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Weight:</strong></p></td>
                <td valign="top" class="rightside"><p>280 lbs/127kg</p></td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside"><p><strong>Dimensions:</strong><br> Imperial (inches)<br> Metric (mm)</p></td>
                <td valign="top" class="rightside"><p><br> 26 x 17.5 x 24<br> 650x445x610</p></td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside"><p><strong>Environmental:</strong><br> Storage<br> Operating<br> Humidity</p></td>
                <td valign="top" class="rightside"><p><br>-13°F to 158°F / -25°C to 70°C<br> 23°F to 113°F / -5°C to +45°C<br> 85% RH non-condensing</p></td>
            </tr>
            </tbody>
        </table>
        <p>* Based on typical MV cable. 100pf/ft or 330 pF/m</p>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
