@import "semantic-ui";
$link: #cce2ff;
$seawolf1: #1E1E20;
$seawolf2: #2A2C2B;
$seawolf3: #374140;
$seawolf4: #D9CB9E;
$seawolf5: #DC3522;
$firenze1: #468966;
$firenze2: #FFF0A5;
$firenze3: #FFB03B;
$firenze4: #B64926;
$firenze5: #8E2800;
$quietcry1: #1C1D21;
$quietcry2: #31353D;
$quietcry3: #445878;
$quietcry4: #92CDCF;
$quietcry5: #EEEFF7;

html,
body {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif !important;
}

header {
    background: url('/images/background_shapes3.png') left center repeat-x, linear-gradient(to right, #a1a6ca 0%, #13488b 100%);
    padding: 20px;

    h4.ui.header {
        margin: 0;
        color: white;
        margin-top: 6px;
        text-shadow: 1px 2px 3px #000033;
    }
}

.searchBar {
    background: url("/images/dark_grey_bg.png") repeat-x scroll 0 0 transparent !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none;

    .ui.category.search.item {
        background: rgba(255, 255, 255, .25);
        border-radius: 0;
    }

    .certifications {
        padding: 0 16px;

        img {
            width: auto !important;
            height: 55px;
        }
    }
}

.navBar {
    margin: 0 !important;
    background-color: #13498b !important;
    border-radius: 0 !important;

    .ui.grid {
        margin: 0;

        .column {
            padding: 0;
        }
    }
}

.home {
    padding: 1em 0;

    .ui.segment {
        background: linear-gradient(to bottom, #dedede 0%, #ffffff 100%);
        border: 1px solid #a9abad;
        height: 100%;
    }

    .whatsnew,
    .products,
    .services {
        height: 620px;

        h2 {
            color: #920000;
        }

        &:hover {
            .ui.segment {
                background: linear-gradient(to bottom, #b0b0b0 0%, #ffffff 100%);
            }
        }
    }
}

.products {
    .card {
        //min-height: 665px;
    }

    .pd30eCarousel {
        margin: 0;
    }

    .hva45tdCarousel {
        float: left;
        width: 330px;
        margin-right: 10px;
    }
}

footer {
    background: url("/images/dark_grey_bg.png") repeat-x scroll 0 0 transparent;
    background-size: auto 100%;

    .item,
    a {
        color: white !important;
    }

    a:hover {
        color: #cce2ff !important;
    }
}

.subFooter {
    width: 100%;
    text-align: center;
    background: url('/images/footer_bg.png') repeat-x;
    color: #fff;
    padding: 12px;
    font-size: 12px;

    a {
        color: white;

        &:hover {
            color: $link;
        }
    }
}

a {
    transition: color 250ms ease-in-out, background 250ms;
}

.clearfix {
    overflow: auto;
}

.faqs {
    .question {
        text-transform: capitalize;
        font-size: 1rem;
        margin: 1rem 0;

        /*padding: 0 1rem;*/
        /*  &:nth-child(odd) {
            background: rgba(86, 199, 250, .2);
        }
        &:nth-child(even) {
            //background: rgba(98, 205, 159, .5);
        }*/
        &:before {
            position: relative !important;
        }
    }

    .answer {}
}

.rentals {
    .ui.image {
        max-height: 70px;
    }
}

a {
    cursor: pointer;
}

.accountMenu {
    border-radius: 0 !important;
    border: none;
    background: $quietcry1 !important;
    margin: 0 !important;
    border-bottom: 1px solid $quietcry4;

    .logo::before {
        background: $quietcry4 !important;
    }

    .toggleSidebar {
        color: $quietcry5 !important;

        &::before {
            background: $quietcry4 !important;
        }

        &:hover {
            color: $quietcry4 !important;
        }

        i {
            margin-left: 5px !important;
        }
    }

    .item {
        color: $quietcry5 !important;

        &:hover {
            color: $quietcry4 !important;
        }
    }

    .right.menu {
        .item {
            &::before {
                background: $quietcry4 !important;
            }

            color: $quietcry5;

            &:hover {
                color: $quietcry4;
            }
        }

        .userDropdown {
            background: $quietcry2;

            &:hover {
                background: $quietcry2;
            }
        }
    }
}

#account {
    //.pushable {
    //  height: 100vh;
    //  margin-top: 68px;
    //}
}

table {
    th {
        font-weight: normal;
    }

    .yellow {
        background-color: #fbbd08 !important;
    }
}

.dataTables_filter {
    margin-bottom: 20px;
}

.darkblue {
    background: darkblue;
}

.fullHeight {
    height: 100vh;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    max-width: 500px !important;
    height: 72.6px;
    padding: 0 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gsc-search-button {
    box-sizing: content-box !important;
}

.gsc-results-wrapper-overlay {
    box-sizing: content-box !important;
}

.hidden-xs {
    display: block;
}

.visible-xs {
    //display: none;
}

.content .ui.header:first-child {
    margin-top: 25px;
}

.tdDiagnosticsInfo {
    padding: 15px 0;
}

.spaced {
    .button {
        margin-bottom: .75em;
    }
}

.topMostWrapper {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.ui.segment.login {
    border: none;
    box-shadow: none;
}

.ui-datepicker {
    .ui-datepicker-header {
        .ui-datepicker-prev::after {
            content: "<";
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ui-datepicker-next::after {
            content: ">";
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}