@media (max-width: 768px) {
  html, body {
    font-size: 11px !important;
  }

  .ui.container.topMostWrapper {
    margin: 0 !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home {
    .whatsnew, .products, .services {
      height: auto !important;
    }
  }

  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    visibility: visible !important;
  }
}