@media print {
  .accountMenu {
    display: none !important;
  }

  .printButton {
    display: none !important;
  }

  .hideForPrinting {
    display: none !important;
  }

  .ui.blue.inverted.segment {
    border: 1px solid #2185d0;

    .content {
      color: black;
    }
  }

  .ui.yellow.inverted.segment {
    border: 1px solid #fbbd08;

    .content {
      color: black;
    }
  }

  .eight.wide.column {
    width: 100% !important;
  }

  .showForPrinting {
    display: block !important;
  }

  .page-break-before {
    page-break-before: always;
  }

  .page-break-inside {
    page-break-inside: avoid;
  }

  .comment, tr {
    page-break-inside: avoid;
  }
}