<h2 class="ui dividing header">New Accounts <a class="ui green button" ui-sref="account.adminCreateAccount">Add new</a></h2>
<table id="newAccountsTable" class="ui celled table">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="newAccount in newAccounts" new-accounts-post-repeat>
        <td>{{newAccount.company_name}}</td>
        <td>{{newAccount.first_name}}</td>
        <td>{{newAccount.last_name}}</td>
        <td>{{newAccount.email_address}}</td>
        <td>{{newAccount.phone_number}}</td>
        <td class="center aligned"><a ui-sref="account.edit({id: newAccount.id})">Edit</a></td>
    </tr>
    </tbody>
</table>

<h2 class="ui dividing header">Existing Accounts</h2>
<table id="oldAccountsTable" class="ui celled table">
    <thead>
    <tr>
        <th>Company Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oldAccount in oldAccounts" old-accounts-post-repeat>
        <td >{{oldAccount.company_name}}</td>
        <td>{{oldAccount.first_name}}</td>
        <td>{{oldAccount.last_name}}</td>
        <td>{{oldAccount.email_address}}</td>
        <td>{{oldAccount.phone_number}}</td>
        <td class="center aligned"><a ui-sref="account.edit({id: oldAccount.id})">Edit</a></td>
    </tr>
    </tbody>
</table>
