<div class="ui grid">
    <div class="eight wide column">
        <h1 class="ui header">RMA Details</h1>
    </div>
    <div class="right aligned eight wide column">
        <a class="ui red icon button hideForPrinting" href="#" ng-click="deleteRma()" title="Delete RMA"><i class="trash icon"></i></a>
        <a class="ui blue icon button hideForPrinting" href="#" ng-click="sendUpdateEmail()" title="Send update email"><i class="mail icon"></i></a>
        <a class="ui blue icon button printButton hideForPrinting" href="#" onclick="window.print();return false;" target="_self" title="Print"><i class="print icon"></i></a>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="user icon"></i>
                <div class="content">
                    Customer Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Company Name:</td>
                <td>{{rma.company_name}}</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>{{rma.first_name}} {{rma.last_name}}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{rma.phone_number}}</td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td>{{rma.email_address}}</td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="life ring icon"></i>
                <div class="content">
                    RMA Information
                    <button class="ui green button hideForPrinting" ng-click="editRmaInformation()" style="margin-left: 10px;">
                        Edit
                    </button>
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>RMA Number:</td>
                <td>
                    <h3 class="ui green center aligned header">{{rma.rma_number}}</h3>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{rma.status_id | statusNameFromStatusId: statuses}}</td>
            </tr>
            <tr>
                <td>Assigned Technician:</td>
                <td>{{rma.repair_tech}}</td>
            </tr>
            <tr>
                <td>Repair Completed On:</td>
                <td>{{rma.repair_completed_on | date: "shortDate"}}</td>
            </tr>
            <tr class="yellow">
                <td>On bench on:</td>
                <td><span ng-show="rma.on_bench_on">{{rma.on_bench_on | date: "shortDate"}}</span></td>
            </tr>
            <tr class="yellow">
                <td>Days on bench:</td>
                <td><span ng-show="rma.on_bench_on">{{diffDays(rma.on_bench_on, rma.shipped_back_on)}}</span></td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="life ring icon"></i>
                <div class="content">
                    Product Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Product:</td>
                <td>{{rma.product_name}}</td>
            </tr>
            <tr>
                <td>Serial Number:</td>
                <td>{{rma.serial_number}}</td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="info circle icon"></i>
                <div class="content">
                    Received Equipment Information
                    <button class="ui green button hideForPrinting" ng-click="editReceivedEquipmentInformation()" style="margin-left: 10px;">
                        Edit
                    </button>
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Equipment Received:</td>
                <td>{{rma.equipment_received}}</td>
            </tr>
            <tr>
                <td>Equipment Received On:</td>
                <td>{{rma.received_on | date: "shortDate"}}</td>
            </tr>
            <tr>
                <td>Included:</td>
                <td>
                    <div class="ui list">
                        <div class="item" ng-repeat="receivedPart in receivedParts">{{receivedPart.part}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Received Via:</td>
                <td>
                    <div ng-repeat="material in shipping_material" ng-if="material.selected">{{material.name}}</div>
                </td>
            </tr>
            <tr>
                <td>Condition of Shipment Received:</td>
                <td>
                    <div>
                        <b>Packaging</b>
                        <br/>
                        {{rma.condition_packaging}}
                    </div>
                    <div>
                        <b>Equipment</b>
                        <br/>
                        {{rma.condition}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="comment icon"></i>
                <div class="content">
                    Repair Issue / Calibration
                </div>
            </h5>
        </div>
        <div class="ui message">
            <p>{{rma.description}}</p>
        </div>
        <div class="ui yellow message" ng-show="rma.calibration_required">
            <i class="warning circle icon"></i> Calibration required
        </div>
        <div class="ui yellow message" ng-show="rma.expedite">
            <i class="warning circle icon"></i>
            Expedite
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="attach icon"></i>
                <div class="content">
                    Attachment(s)
                </div>
            </h5>
        </div>
        <div class="ui cards">
            <div class="card" ng-repeat="attachment in attachments">
              <a class="image" href="{{attachment.path}}" target="_blank" ng-if="isImageType(attachment.path)">
                <img ng-src="{{attachment.path}}" />
              </a>
               <a class="image" href="{{attachment.path}}" target="_blank" ng-if="isPdfType(attachment.path)">
                <img src="/images/ACP_PDF 2_file_document.png" />
              </a>
                 <div class="ui bottom attached button" ng-click="removeAttachment(attachment)">
                    Remove
                </div>
            </div>
        </div>
        <h5 class="hideForPrinting">Add new attachment:</h5>
        <input class="hideForPrinting" type="file" nv-file-select uploader="uploader" id="addPublicAttachmentInput" />
        <button type="button" class="ui green button hideForPrinting publicAttachmentButton" ng-click="uploader.queue[0].upload()">Upload</button>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="comments icon"></i>
                <div class="content">
                    HV Diagnostics Findings
                </div>
            </h5>
        </div>
        <div class="ui comments" style="width: 100%; max-width: none;">
            <div class="comment" ng-repeat="message in rmaPublicMessages">
                <span class="avatar">
                    <img src="/images/boss_portrait-512.png">
                </span>
                <div class="content">
                    <span class="author">{{message.first_name}} {{message.last_name}}</span>
                    <div class="metadata">
                        <span class="date">{{message.updated_at | date: "short"}}</span>
                    </div>
                    <div class="text">
                        {{message.message}}
                    </div>
                    <div class="actions">
                    </div>
                </div>
            </div>
            <div class="ui reply form">
                <div class="field">
                    <textarea class="hideForPrinting" ng-model="hvDiagnosticsFindingsTextarea"></textarea>
                </div>
                <button class="ui green labeled submit icon button hideForPrinting" ng-click="addHvDiagnosticsFindings()">
                    <i class="icon edit"></i> Add Reply
                </button>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="shipping icon"></i>
                <div class="content">
                    Shipping Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Shipping Address</td>
                <td>
                    {{rma.shipping_address1}}
                    <br /> {{rma.shipping_address2}}
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{rma.shipping_city}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{rma.shipping_state}}</td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td>{{rma.shipping_postal_code}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{rma.shipping_country}}</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td>{{rma.shipping_account_number}}</td>
            </tr>
            <tr>
                <td>Shipping Service</td>
                <td>{{rma.shipping_method}}</td>
            </tr>
            <tr ng-show="rma.shipping_insurance_required">
                <td>Value</td>
                <td>${{rma.shipping_value}}</td>
            </tr>
            <tfoot class="full-width" ng-show="rma.shipping_insurance_required">
                <tr class="">
                    <th class="" colspan="2">
                        <div class="ui yellow message">
                            <i class="warning circle icon"></i> Shipping insurance required
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="dollar icon"></i>
                <div class="content">
                    Repair Cost
                </div>
            </h5>
        </div>
        <table class="ui fixed table">
            <thead>
                <th>No. of Hours</th>
                <th></th>
                <th>Rate ($/hr.)</th>
                <th></th>
                <th>Parts Cost</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td>
                        <div class="ui small input">
                            <input type="text" ng-model="rma.hours_spent" style="width: 100px;" ng-blur="updateRepairCost()" />
                        </div>
                    </td>
                    <td>x</td>
                    <td>
                        <div class="ui small input">
                            <input type="text" ng-model="rma.rate" style="width: 100px;" ng-blur="updateRepairCost()" />
                        </div>
                    </td>
                    <td>+</td>
                    <td>
                        <div class="ui small input">
                            <input type="text" ng-model="rma.parts_labor_cost" style="width: 100px;" ng-blur="updateRepairCost()" />
                        </div>
                    </td>
                    <td class="right aligned">{{subtotal() | currency}}</td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr class="right aligned">
                    <th colspan="5">Subtotal</th>
                    <th>{{subtotal() | currency}}</th>
                </tr>
                <tr class="right aligned">
                    <th colspan="5">Calibration Cost</th>
                    <th>
                        <div class="ui input">
                            <input type="text" ng-model="rma.calibration_cost" style="width: 100px;" ng-blur="updateRepairCost()" />
                        </div>
                    </th>
                </tr>
                <tr class="right aligned">
                    <th colspan="5">Total</th>
                    <th>{{total() | currency}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="ui divider"></div>
<div class="sixteen wide column">
    <div class="ui yellow inverted segment">
        <h5 class="ui inverted header">
            <i class="comments icon"></i>
            <div class="content">
                HVD Finding and Remedial Actions Internal
            </div>
        </h5>
    </div>
    <div class="ui comments" style="width: 100%; max-width: none;">
        <div class="comment" ng-repeat="message in rmaInternalMessages">
            <span class="avatar">
                <img src="/images/boss_portrait-512.png">
            </span>
            <div class="content">
                <span class="author">{{message.first_name}} {{message.last_name}}</span>
                <div class="metadata">
                    <span class="date">{{message.updated_at | date: "short"}}</span>
                </div>
                <div class="text">
                    {{message.message}}
                </div>
                <div class="actions">
                </div>
            </div>
        </div>
        <div class="ui reply form hideForPrinting">
            <div class="field">
                <textarea ng-model="internalMessageTextarea"></textarea>
            </div>
            <button class="ui green labeled submit icon button" ng-click="addHvDiagnosticsInternalsMessage()">
                <i class="icon edit"></i> Add Reply
            </button>
        </div>
    </div>
</div>
<br />
<div class="sixteen wide column">
    <div class="ui yellow inverted segment">
        <h5 class="ui inverted header">
            <i class="comments icon"></i>
            <div class="content">
                Parts Used & Repair Comments
            </div>
        </h5>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Part/Action</th>
                <th>Comments</th>
                <th>Attachment</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="part in usedParts">
                <td>{{part.name}}</td>
                <td>{{part.description}}</td>
                <td class="center aligned">
                    <a ng-href="{{part.path}}" target="_blank" class="ui small image">
                        <img class="ui small image" ng-src="{{part.path}}">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 class="hideForPrinting">Add new comments:</h4>
    <form name="usedPartForm" class="ui form hideForPrinting">
        <div class="field">
            <label>Part(s) & Repair Action(s)</label>
            <input id="usedPartsName" type="text" ng-model="used_parts.name" />
        </div>
        <div class="field">
            <label>Description</label>
            <textarea id="usedPartsDescription" class="hideForPrinting" rows="2" ng-model="used_parts.description" required></textarea>
        </div>
        <div class="field hideForPrinting">
            <label>Attachment:</label>
            <input type="file" id="usedPartAttachmentInput" nv-file-select uploader="usedPartUploader" />
        </div>
        <button type="button" class="ui green button hideForPrinting partsUploaderButton" ng-click="addUsedPart()">Add</button>
    </form>
    <h5 class="showForPrinting" style="display: none;">F-RE-002</h5>
</div>
<div class="ui fullscreen modal editRmaInformationModal">
    <i class="close icon"></i>
    <div class="header">
        RMA Information
    </div>
    <div class="content">
        <table class="ui celled table">
            <tr>
                <td>Status:</td>
                <td>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 7}" ng-click="rmaClone.status_id = 7">RMA Generated</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 11}" ng-click="rmaClone.status_id = 11">Internal</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 1}" ng-click="rmaClone.status_id = 1">Received</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 2}" ng-click="rmaClone.status_id = 2">On Bench</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 9}" ng-click="rmaClone.status_id = 9">
                        Repair Report Sent
                    </button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 2}" ng-click="rmaClone.status_id = 10">
                        Repair Approved
                    </button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 3}" ng-click="rmaClone.status_id = 3">Waiting on Parts</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 4}" ng-click="rmaClone.status_id = 4">Waiting on Customer</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 6}" ng-click="rmaClone.status_id = 6">Completed</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 5}" ng-click="rmaClone.status_id = 5">Shipped Back</button>
                    <button class="ui basic button" ng-class="{'blue': rmaClone.status_id == 8}" ng-click="rmaClone.status_id = 8">Closed</button>
                </td>
            </tr>
            <tr>
                <td>Assigned Technician:</td>
                <td>
                    <div class="ui input">
                        <input type="text" ng-model="rmaClone.repair_tech" placeholder="Assigned technician">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Repair Completed On:</td>
                <td>
                    <div class="ui input">
                        <input class="datepicker" type="text" ng-model="rmaClone.repair_completed_on" placeholder="Repair completed on" value="{{rmaClone.repair_completed_on | date: 'shortDate'}}" readonly />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Update
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui fullscreen modal editReceivedEquipmentInformationModal">
    <i class="close icon"></i>
    <div class="header">
        RMA Information
    </div>
    <div class="content">
        <table class="ui celled table">
            <tr>
                <td>Equipment Received:</td>
                <td>
                    <div class="ui fluid input">
                        <input type="text" ng-model="rmaClone.equipment_received" placeholder="Equipment received..." />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Equipment Received On:</td>
                <td>
                    <div class="ui input">
                        <input class="datepicker" type="text" ng-model="rmaClone.received_on" placeholder="Equipment received on" readonly />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Included:</td>
                <td>
                    <div class="ui list">
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('HV Cables')" ng-click="toggleReceivedParts('HV Cables')" />
                                <label>HV Cables</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Power Cord')" ng-click="toggleReceivedParts('Power Cord')" />
                                <label>Power Cord</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Battery')" ng-click="toggleReceivedParts('Battery')" />
                                <label>Battery</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Yo-Yos')" ng-click="toggleReceivedParts('Yo-Yos')" />
                                <label>Yo-Yos</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Test Leads')" ng-click="toggleReceivedParts('Test Leads')" />
                                <label>Test Leads</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Ground Cable')" ng-click="toggleReceivedParts('Ground Cable')" />
                                <label>Ground Cable</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('USB box')" ng-click="toggleReceivedParts('USB box')" />
                                <label>USB box</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('RS232 Cable')" ng-click="toggleReceivedParts('RS232 Cable')" />
                                <label>RS232 Cable</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Serial Adapter')" ng-click="toggleReceivedParts('Serial Adapter')" />
                                <label>Serial Adapter</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui checkbox">
                                <input type="checkbox" name="receivedPartsClone[]" ng-checked="partCheck('Other')" ng-click="toggleReceivedParts('Other')" />
                                <label>Other</label>
                            </div>
                        </div>
                        <div class="ui fluid input">
                            <div class="ui checkbox">
                                <input type="text" ng-model="otherPartsInput" placeholder="Other" ng-show="otherParts" ng-keyup="updateOtherPartsInput()" />
                            </div>
                        </div>
                </td>
            </tr>
            <tr>
                <td>Received Via:</td>
                <td>
                    <div class="ui list">
                        <div class="item" ng-repeat="material in shipping_material">
                            <div class="ui checkbox">
                                <input type="checkbox" name="shipping_material" ng-model="material.selected" />
                                <label>{{material.name}}</label>
                            </div>
                            <div class="ui input" style="display: block; margin: 1rem 0;" ng-if="material.name === 'Other' && material.selected">
                                <input type="text" ng-model="material.value" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Condition of Shipment Received:</td>
                <td>
                    <div class="ui form">
                        <div class="field">
                            <label>Packaging</label>
                            <input type="text" ng-model="rmaClone.condition_packaging">
                        </div>
                        <div class="field">
                            <label>Equipment</label>
                            <div class="ui search conditionSearch">
                                <div class="ui fluid input">
                                    <input class="prompt" type="text" ng-model="rmaClone.condition">
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Update
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>