<h1 class="ui dividing header">Products</h1>

<div class="ui red inverted segment" ng-repeat="(key, value) in products | groupBy: 'category_id'" ng-class="{teal: key == 1, orange: key == 2, grey: key == 3, red: key == 4, green: key == 5, yellow: key == 6, blue: key == 7, violet: key == 8}">
    <h2 class="ui header">
        {{getCategoriesName(key)}}
    </h2>
    <div class="ui cards">
        <div class="card" ng-repeat="product in value">
            <div class="content">
                <div class="header">{{product.name}}</div>
                <div class="meta">{{getCategoriesName(key)}}</div>
                <div class="description">
                    <table class="ui very basic table">
                        <tbody>
                        <tr>
                            <td>Data Sheet:</td>
                            <td>{{product.data_sheet | filename}}</td>
                            <td><a ng-click="selectFile(product)">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal selectFileModal">
    <i class="close icon"></i>
    <div class="header">
        Select a file
    </div>
    <div class="content">
        <div class="ui list">
            <div class="item" ng-repeat="(key, value) in dataSheets">
                <div class="header">{{key}}</div>
                <div class="ui middle aligned list">
                    <div class="item" ng-repeat="filename in value">
                        <button class="ui labeled icon  button" ng-click="updateFile(filename)"><i class="file pdf outline icon"></i> {{filename | filename}}</button>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>