<form name="accountEditForm" class="ui form" ng-submit="submitAccountEdit()" ng-class="{error: (accountEditForm.$submitted && accountEditForm.$valid == false)}">
    <h4 class="ui dividing header">Company Information</h4>
    <div class="required field">
        <label>Company Name</label>
        <div class="field">
            <input type="text" name="companyName" placeholder="Company Name" ng-model="userEdit.company_name" required>
        </div>
    </div>
    <h4 class="ui dividing header">User Information</h4>
    <div class="required two fields">
        <div class="field">
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="First Name" ng-model="userEdit.first_name" required>
        </div>
        <div class="field">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Last Name" ng-model="userEdit.last_name" required>
        </div>
    </div>
    <div class="required field">
        <label>Address</label>
        <div class="fields">
            <div class="twelve wide field">
                <input type="text" name="address1" placeholder="Street Address" ng-model="userEdit.street_address1" required>
            </div>
            <div class="four wide field">
                <input type="text" name="address2" placeholder="Apt #" ng-model="userEdit.street_address2">
            </div>
        </div>
    </div>
    <div class="required four fields">
        <div class="field">
            <label>City</label>
            <input type="text" name="city" placeholder="City" ng-model="userEdit.city" required>
        </div>
        <div class="field">
            <label>State</label>
            <select class="ui fluid dropdown" name="state" ng-model="userEdit.state" required>
                <option value=""></option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
        <div class="field">
            <label>Postal/ZIP Code</label>
            <input type="text" name="postal_code" ng-model="userEdit.postal_code" placeholder="Postal/ZIP Code" required>
        </div>
        <div class="field">
            <label>Country</label>
            <select class="ui fluid dropdown" name="country" ng-model="userEdit.country" required>
                <option value=""></option>
                <option value="US">United States of America</option>
                <option value="CA">Canada</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AG">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AG">Antigua &amp; Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AA">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BL">Bonaire</option>
                <option value="BA">Bosnia &amp; Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BR">Brazil</option>
                <option value="BC">British Indian Ocean Ter</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="IC">Canary Islands</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CD">Channel Islands</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CI">Christmas Island</option>
                <option value="CS">Cocos Island</option>
                <option value="CO">Colombia</option>
                <option value="CC">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CT">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CB">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TM">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FA">Falkland Islands</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="FS">French Southern Ter</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GB">Great Britain</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HW">Hawaii</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IA">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IR">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="NK">Korea North</option>
                <option value="KS">Korea South</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macau</option>
                <option value="MK">Macedonia</option>
                <option value="MG">Madagascar</option>
                <option value="MY">Malaysia</option>
                <option value="MW">Malawi</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="ME">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="MI">Midway Islands</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Nambia</option>
                <option value="NU">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="AN">Netherland Antilles</option>
                <option value="NL">Netherlands (Holland, Europe)</option>
                <option value="NV">Nevis</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NW">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau Island</option>
                <option value="PS">Palestine</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PO">Pitcairn Island</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="ME">Republic of Montenegro</option>
                <option value="RS">Republic of Serbia</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="NT">St Barthelemy</option>
                <option value="EU">St Eustatius</option>
                <option value="HE">St Helena</option>
                <option value="KN">St Kitts-Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="MB">St Maarten</option>
                <option value="PM">St Pierre &amp; Miquelon</option>
                <option value="VC">St Vincent &amp; Grenadines</option>
                <option value="SP">Saipan</option>
                <option value="SO">Samoa</option>
                <option value="AS">Samoa American</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome &amp; Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="OI">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syria</option>
                <option value="TA">Tahiti</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad &amp; Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TU">Turkmenistan</option>
                <option value="TC">Turks &amp; Caicos Is</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VS">Vatican City State</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="VB">Virgin Islands (Brit)</option>
                <option value="VA">Virgin Islands (USA)</option>
                <option value="WK">Wake Island</option>
                <option value="WF">Wallis &amp; Futana Is</option>
                <option value="YE">Yemen</option>
                <option value="ZR">Zaire</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>
    </div>
    <div class="required five wide field">
        <label>Phone Number</label>
        <input type="text" name="phone_number" placeholder="Phone Number" ng-model="userEdit.phone_number" required>
    </div>
    <div class="spaced">
        <button type="submit" class="ui primary button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted">Submit Changes</button>
        <button type="button" class="ui orange button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="user.role_id == 2 && userEdit.id != user.id" ng-click="resetPassword()">Reset Password</button>
        <button type="button" class="ui green button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="user.role_id == 2 && userEdit.active == false" ng-click="activateAccount()">Activate Account</button>
        <button type="button" class="ui grey button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="user.role_id == 2 && userEdit.role_id == 1" ng-click="toggleAdmin()">Make Admin</button>
        <button type="button" class="ui grey button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="user.role_id == 2 && userEdit.role_id == 2" ng-click="toggleAdmin()">Revoke Admin</button>
        <button type="button" class="ui red right floated button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="user.role_id == 2" ng-click="deactivateAccount()">Delete Account</button>
    </div>
    <div class="clearfix"></div>
</form>
<div class="ui divider"></div>
<form class="ui form" name="changeEmailAddressForm" ng-submit="submitChangeEmailAddressForm()" ng-class="{error: (changeEmailAddressForm.$submitted && changeEmailAddressForm.$valid == false) || userExists}">
    <h4 class="ui dividing header">Account Information</h4>
    <div class="required field" ng-class="{error: userExists}">
        <label>Email</label>
        <input type="email" name="email_address" ng-model="email_address" required ng-keyup="userExists = false">
    </div>
    <div class="ui error message" ng-show="userExists">
        <div class="header">Email exists.</div>
        <p>This email address is already registered in our system. Please pick another email address.</p>
    </div>
    <button type="submit" class="ui primary button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-show="userEdit.id == user.id">Change Email Address</button>
</form>
<div class="ui divider"></div>
<form class="ui form" name="productsUserForm" ng-submit="updateProductsUser()">
    <h4 class="ui dividing header">Product Information <div class="sub header">Please add the product(s) that you own and enter it's serial number</div></h4>
    <div class="field productsWrapper">
        <div class="required two fields productFields" ng-repeat="product in products_user">
            <div class="field">
                <label>Product name</label>
                <!--<select class="ui dropdown" ng-model="product.product_id" required ng-options="productInList.id as productInList.name for productInList in products track by productInList.id"></select>-->
                <input type="text" name="product_id" placeholder="Product Name" ng-value="product.product_id | productNameFromProductId: products" required readonly>
            </div>
            <div class="field">
                <label>Serial #</label>
                <div class="ui action input">
                    <input type="text" name="serialNumber" placeholder="Serial Number" ng-model="product.serial_number" required readonly>
                    <div type="button" class="ui green button disabled" ng-click="products_user.push({})" disabled>+</div>
                    <div type="button" class="ui red button" ng-click="deleteProduct($index, product)">-</div>
                </div>
            </div>
        </div>
    </div>
    <div class="field productsWrapper">
        <div class="required two fields productFields" ng-repeat="product in new_products_user">
            <div class="field">
                <label>Product name</label>
                <select class="ui dropdown" ng-model="product.product_id" required ng-options="productInList.id as productInList.name for productInList in products track by productInList.id"></select>
            </div>
            <div class="field">
                <label>Serial #</label>
                <div class="ui action input">
                    <input type="text" name="serialNumber" placeholder="Serial Number" ng-model="product.serial_number" required>
                    <div type="button" class="ui green button" ng-click="new_products_user.push({})">+</div>
                    <div type="button" class="ui red button" ng-click="removeProduct($index)">-</div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="ui primary button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted" ng-click="updateProductsUser()">Update Product Information</button>
</form>
<div class="ui divider" ng-show="userEdit.id == user.id"></div>
<form name="changePasswordForm" class="ui form" ng-submit="submitChangePasswordForm()" ng-class="{error: (changePasswordForm.$submitted && changePasswordForm.$valid == false) || currentPasswordError}" ng-show="userEdit.id == user.id">
    <h4 class="ui dividing header">Change Password</h4>
    <div class="required field" ng-class="{error: signupForm.$submitted && currentPasswordError == true}">
        <label>Current Password</label>
        <input type="password" name="currentPassword" ng-model="changePassword.currentPassword" required ng-keyup="currentPasswordError = false">
    </div>
    <div class="ui error message" ng-show="changePasswordForm.$submitted && currentPasswordError == true">
        <div class="header">Current password does not match what is in the system.</div>
    </div>
    <div class="required field" ng-class="{error: changePasswordForm.$submitted && changePasswordForm.confirm_password.$error.compareTo == true}">
        <label>New Password</label>
        <input type="password" name="password" ng-model="changePassword.password" required ng-keyup="changePasswordForm.$submitted = false">
    </div>
    <div class="required field" ng-class="{error: changePasswordForm.$submitted && changePasswordForm.confirm_password.$error.compareTo == true}">
        <label>Confirm New Password</label>
        <input type="password" name="password_confirmation" ng-model="changePassword.password_confirmation" compare-to="changePassword.password" required ng-keyup="changePasswordForm.$submitted = false">
    </div>
    <div class="ui error message" ng-show="changePasswordForm.$submitted && changePasswordForm.password_confirmation.$error.compareTo == true">
        <div class="header">Passwords do not match.</div>
        <p>Your passwords must match.</p>
    </div>
    <button type="submit" class="ui primary button" ng-class="{loading: formSubmitted, disabled: formSubmitted}" ng-disabled="formSubmitted">Change Password</button>
</form>
<div id="updateSuccess" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> Your account has been updated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="updateError" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> No changes were made.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="resetPasswordSuccess" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> Password has been successfully updated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="resetPasswordError" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Something went wrong. Password was not successfully updated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="accountDeactivatedSuccess" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> This account has been successfully deleted.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="accountDeactivatedError" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Something went wrong. Account was not successfully deactivated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="activateAccountSuccess" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> This account has been successfully activated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="activateAccountError" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Something went wrong. Account was not successfully activated.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="changeEmailResultModal" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        {{changeEmailMsg}}
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>
<div id="makeAdminConfirmation" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        Are you sure you want to make this user an administrator?
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui green basic inverted button ok">
                <i class="checkmark icon"></i> Yes
            </div>
            <div class="ui red basic inverted button cancel">
                <i class="remove icon"></i> No
            </div>
        </div>
    </div>
</div>
<div id="revokeAdminConfirmation" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        Are you sure you want to revoke this user's administrative privileges?
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui green basic inverted button ok">
                <i class="checkmark icon"></i> Yes
            </div>
            <div class="ui red basic inverted button cancel">
                <i class="remove icon"></i> No
            </div>
        </div>
    </div>
</div>
<div id="productUpdateModal" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        {{updateProductMsg}}
    </div>
    <div class="actions">
        <div class="ui basic inverted button ok">
            <i class="checkmark icon"></i> OK
        </div>
    </div>
</div>