<h1 class="ui dividing header">FAQs</h1>

<table id="faqsTable" class="ui selectable striped padded celled table">
    <thead>
    <tr>
        <th></th>
        <th>Question</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="sortable">
    <tr ng-repeat="faq in faqs | orderBy: 'faq_order'" faqs-table-repeat data-id="{{faq.id}}">
        <td class="center aligned">{{$index + 1}}</td>
        <td><p ng-bind-html="faq.question"></p></td>
        <!--<th><p ng-bind-html="faq.answer"></p></th>-->
        <td class="center aligned"><button class="ui button" ng-click="editFAQ(faq)">Edit</button></td>
    </tr>
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th colspan="3" class="center aligned">
            <button class="ui button" ng-click="editFAQ()">Add</button>
        </th>
    </tr>
</table>

<div id="editFAQModal" class="ui fullscreen modal">
    <i class="close icon"></i>
    <div class="header">
        Edit FAQ
    </div>
    <div class="content">
        <form name="editFAQForm" class="ui form">
            <div class="field">
                <label>Question</label>
                <input id="question" ng-model="faqToEdit.question" />
            </div>
            <div class="field">
                <label>Answer</label>
                <textarea id="answer" ng-model="faqToEdit.answer"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui deny button" ng-class="{loading: faqSubmitted, disabled: faqSubmitted}">
            Cancel
        </button>
        <button class="ui red labeled icon button" ng-class="{loading: faqSubmitted, disabled: faqSubmitted}" ng-click="deleteFAQ(faqToEdit)" ng-hide="!faqToEdit || !faqToEdit.id">
            Delete
            <i class="remove icon"></i>
        </button>
        <button class="ui blue labeled icon approve button" ng-class="{loading: faqSubmitted, disabled: faqSubmitted}">
            Update
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>