<div class="ui grid">
    <div class="eight wide column">
        <h1 class="ui header">RMA Details</h1>
    </div>
    <div class="right aligned eight wide column">
        <a class="ui blue icon button printButton" href="#" onclick="window.print();return false;" target="_self"><i class="print icon"></i></a>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="user icon"></i>
                <div class="content">
                    Customer Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Company Name:</td>
                <td>{{rma.company_name}}</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>{{rma.first_name}} {{rma.last_name}}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{rma.phone_number}}</td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td>{{rma.email_address}}</td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="life ring icon"></i>
                <div class="content">
                    RMA Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>RMA Number:</td>
                <td>
                    <h3 class="ui green center aligned header">{{rma.rma_number}}</h3>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td class="positive">{{rma.status_id | statusNameFromStatusId: statuses}}</td>
            </tr>
            <tr>
                <td>Assigned Technician:</td>
                <td>{{rma.repair_tech}}</td>
            </tr>
            <tr>
                <td>Repair Completed On:</td>
                <td>{{rma.repair_completed_on | date: "shortDate"}}</td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="life ring icon"></i>
                <div class="content">
                    Product Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Product:</td>
                <td>{{rma.product_name}}</td>
            </tr>
            <tr>
                <td>Serial Number:</td>
                <td>{{rma.serial_number}}</td>
            </tr>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="info circle icon"></i>
                <div class="content">
                    Received Equipment Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Equipment Received:</td>
                <td>{{rma.equipment_received}}</td>
            </tr>
            <tr>
                <td>Equipment Received On:</td>
                <td>{{rma.received_on | date: "shortDate"}}</td>
            </tr>
            <tr>
                <td>Included:</td>
                <td>
                    <div class="ui list">
                        <div class="item" ng-repeat="receivedPart in receivedParts">{{receivedPart.part}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Received Via:</td>
                <td>{{rma.shipping_material}}</td>
            </tr>
            <tr>
                <td>Condition of Shipment Received:</td>
                <td>{{rma.condition}}</td>
            </tr>
        </table>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="comment icon"></i>
                <div class="content">
                    Repair Issue / Calibration
                </div>
            </h5>
        </div>
        <div class="ui message">
            <p>{{rma.description}}</p>
        </div>
        <div class="ui yellow message" ng-show="rma.calibration_required">
            <i class="warning circle icon"></i>
            Calibration required
        </div>
        <div class="ui yellow message" ng-show="rma.expedite">
            <i class="warning circle icon"></i>
            Expedite
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="attach icon"></i>
                <div class="content">
                    Attachment(s)
                </div>
            </h5>
        </div>
        <div class="ui small images">
            <a href="{{attachment.path}}" target="_blank" class="ui image" ng-repeat="attachment in attachments">
                <img ng-src="{{attachment.path}}" />
            </a>
        </div>
        <h5 class="hideForPrinting">Add new attachment:</h5>
        <input type="file" nv-file-select uploader="uploader" id="addPublicAttachmentInput" class="hideForPrinting" /> <button type="button" class="ui button hideForPrinting publicAttachmentButton" ng-click="uploader.queue[0].upload()">Upload</button>
    </div>
    <div class="sixteen wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="comments icon"></i>
                <div class="content">
                    HV Diagnostics Findings
                </div>
            </h5>
        </div>
        <div class="ui comments" style="width: 100%; max-width: none;">
            <div class="comment" ng-repeat="message in messages">
                <span class="avatar">
                    <img src="/images/boss_portrait-512.png">
                </span>
                <div class="content">
                    <span class="author">{{message.first_name}} {{message.last_name}}</span>
                    <div class="metadata">
                        <span class="date">{{message.updated_at | date: "short"}}</span>
                    </div>
                    <div class="text">
                        {{message.message}}
                    </div>
                    <div class="actions">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="shipping icon"></i>
                <div class="content">
                    Shipping Information
                </div>
            </h5>
        </div>
        <table class="ui celled two column table">
            <tr>
                <td>Shipping Address</td>
                <td>
                    {{rma.shipping_address1}}
                    <br />
                    {{rma.shipping_address2}}
                </td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{rma.shipping_city}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{rma.shipping_state}}</td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td>{{rma.shipping_postal_code}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{rma.shipping_country}}</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td>{{rma.shipping_account_number}}</td>
            </tr>
            <tr>
                <td>Shipping Service</td>
                <td>{{rma.shipping_method}}</td>
            </tr>
            <tr ng-show="rma.shipping_insurance_required">
                <td>Value</td>
                <td>${{rma.shipping_value}}</td>
            </tr>
            <tfoot class="full-width" ng-show="rma.shipping_insurance_required">
                <tr class="">
                    <th class="" colspan="2">
                        <div class="ui yellow message">
                            <i class="warning circle icon"></i>
                            Shipping insurance required
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="eight wide column">
        <div class="ui blue inverted segment">
            <h5 class="ui inverted header">
                <i class="dollar icon"></i>
                <div class="content">
                    Repair Cost
                </div>
            </h5>
        </div>
        <table class="ui celled fixed table">
            <thead>
                <th>No. of Hours</th>
                <th></th>
                <th>Rate ($/hr.)</th>
                <th></th>
                <th>Parts Cost</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td>{{rma.hours_spent}}</td>
                    <td>x</td>
                    <td>{{rma.rate}}</td>
                    <td>+</td>
                    <td>{{rma.parts_labor_cost}}</td>
                    <td class="right aligned">{{subtotal() | currency}}</td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr class="right aligned">
                    <th colspan="5">Subtotal</th>
                    <th>{{subtotal() | currency}}</th>
                </tr>
                <tr class="right aligned">
                    <th colspan="5">Calibration Cost</th>
                    <th>${{rma.calibration_cost}}</th>
                </tr>
                <tr class="right aligned">
                    <th colspan="5">Total</th>
                    <th>{{total() | currency}}</th>
                </tr>
            </tfoot>
        </table>
        <div class="ui warning message">
            <div class="header">
                We do require your approval before we can move forward with any repairs and calibration services.
            </div>
            <p>If you do not want to move forward then the following will apply:
                <ul class="list">
                    <li> The diagnostic fee is free upon estimate approval.</li>
                    <li> If the estimate is not approved, you will be required to pay the diagnostic fee of $150.00. Diagnostic fee charges apply on all declined repairs.</li>
                </ul>
            </p>
        </div>
    </div>
</div>