<div class="ui segment padded login">
    <div class="ui centered card">
        <div class="content">
            <span class="header">
                <div style="text-align: center"><img src="/images/HV-LogoMark-3D-FINAL-300.png" alt="Logo" style="width: 100%; height: auto;" /></div>
            </span>
        </div>
        <div class="content">
            <form class="ui form" name="loginForm" ng-submit="loginSubmit()" ng-class="{error: loginStatus == -1}">
                <div class="required field">
                    <label>Email</label>
                    <div class="field" ng-class="{error: loginStatus == -1}">
                        <input type="text" name="email_address" placeholder="Email" ng-model="login.email_address" required ng-keyup="loginStatus = 0">
                    </div>
                </div>
                <div class="required field">
                    <label>Password</label>
                    <div class="field" ng-class="{error: loginStatus == -1}">
                        <input type="password" name="password" placeholder="Password" ng-model="login.password" required ng-keyup="loginStatus = 0">
                        <a class="ui right floated" ng-click="resetPassword()">Forgot Password?</a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="ui error message">
                    <!--<div class="header">Invalid email or password.</div>-->
                    <p>Invalid email or password</p>
                </div>
                <button type="submit" class="ui fluid positive button">Login</button>
                <br>
                <button type="submit" class="ui fluid primary button" ui-sref="main.signup">Signup</button>
            </form>
        </div>
    </div>
</div>
<div id="resetPasswordSuccess" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> Please check your email for further instructions.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>
<div id="resetPasswordError" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Something went wrong. Password reset was not successful.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>
<div id="requireEmail" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Please enter an email address.
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>