<h1 class="ui dividing header">Manage RMA</h1>
<a class="ui blue button" ui-sref="account.newRma" style="position: absolute; top: 6px; right: 14px;">New RMA</a>
<table id="rmaSummaryTable" class="ui fixed single line celled striped selectable table">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Updated On</th>
            <th>Date Created</th>
            <th>Product</th>
            <th>Serial Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Repair Issue / Calibration</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot class="full-width">
        <tr>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th></th>
        </tr>
    </tfoot>
</table>
{{rmas}}