<h1 class="ui dividing header">Manuals
    <div class="sub header">Download manuals for the series that you own.</div>
</h1>

<div class="ui red inverted segment" ng-repeat="category in categories" ng-class="{teal: category.id == 1, orange: category.id == 2, grey: category.id == 3, red: category.id == 4, green: category.id == 5, yellow: category.id == 6, blue: category.id == 7, violet: category.id == 8}" ng-show="show(category)">
    <h3 class="ui header">
        {{category.name}}
    </h3>
    <div class="ui centered tiny images">
        <a ng-href="{{manual}}" class="ui centered tiny image" target="_blank"  ng-repeat="manual in category.manuals" style="margin: 10px; text-align: center;">
            <img src="/images/ACP_PDF 2_file_document.png">
            <h5 class="ui center aligned header" style="margin-top: 0;">{{manual | filename}}</h5>
        </a>
    </div>
</div>