<h1 class="ui dividing header">New RMA
    <div class="sub header">Generate a new RMA</div>
</h1>
<div class="ui warning message">
    <div class="header">
        We do require your approval before we can move forward with any repairs and calibration services.
    </div>
    <p>If you do not want to move forward then the following will apply:
        <ul class="list">
            <li> The diagnostic fee is free upon estimate approval.</li>
            <li> If the estimate is not approved, you will be required to pay the diagnostic fee of $150.00. Diagnostic fee charges apply on all declined repairs.</li>
        </ul>
    </p>
</div>
<div style="margin-bottom: 1em;"><span style="color: #db2828;">*</span> Required fields</div>
<form name="newRmaForm" class="ui form" ng-submit="submitNewRmaForm()" style="margin: 20px 0;">
    <h4 class="ui dividing header" ng-show="user.role_id == 2">Select User</h4>
    <div class="ui search" ng-show="user.role_id == 2">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <h4 class="ui dividing header">Customer Information</h4>
    <div class="required field">
        <label>Company Name</label>
        <div class="required field">
            <input type="text" name="company_name" ng-model="rma.company_name" placeholder="Company Name" required readonly>
        </div>
        <div class="two fields">
            <div class="required field">
                <label>First Name</label>
                <input type="text" name="first_name" ng-model="rma.first_name" placeholder="First Name" required readonly>
            </div>
            <div class="required field">
                <label>Last Name</label>
                <input type="text" name="last_name" ng-model="rma.last_name" placeholder="Last Name" required readonly>
            </div>
        </div>
        <div class="two fields">
            <div class="required field">
                <label>Phone Number</label>
                <input type="text" name="phone_number" ng-model="rma.phone_number" placeholder="Phone Number" required>
            </div>
            <div class="required field">
                <label>Email Address</label>
                <input type="email" name="email_address" ng-model="rma.email_address" placeholder="Email Address" required readonly>
            </div>
        </div>
    </div>
    <div class="required  field">
        <label>Shipping Address</label>
        <div class=" fields">
            <div class="twelve wide field">
                <input type="text" name="shipping_address1" ng-model="rma.shipping_address1" placeholder="Street Address" required>
            </div>
            <div class="four wide field">
                <input type="text" name="shipping_address2" ng-model="rma.shipping_address2" placeholder="Apt #">
            </div>
        </div>
    </div>
    <div class="four required fields">
        <div class="field">
            <label>City</label>
            <input type="text" name="shipping_city" ng-model="rma.shipping_city" placeholder="City">
        </div>
        <div class="field" ng-if="rma.shipping_country !== 'CA'">
            <label>State</label>
            <input type="text" name="shipping_state" ng-model="rma.shipping_state" required />
        </div>
        <div class="field" ng-if="rma.shipping_country === 'CA'">
            <label>Province</label>
            <select class="ui fluid dropdown" name="shipping_state" ng-model="rma.shipping_state" required>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="YT">Yukon</option>
            </select>
        </div>
        <div class="field">
            <label>Postal/ZIP Code</label>
            <input type="text" name="shipping_postal_code" ng-model="rma.shipping_postal_code" required />
        </div>
        <div class="field">
            <label>Country</label>
            <select class="ui fluid dropdown" name="shipping_country" ng-model="rma.shipping_country" required ng-change="shippingCountryChange()">
                <option value="US">United States of America</option>
                <option value="CA">Canada</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AG">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AG">Antigua &amp; Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AA">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BL">Bonaire</option>
                <option value="BA">Bosnia &amp; Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BR">Brazil</option>
                <option value="BC">British Indian Ocean Ter</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="IC">Canary Islands</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CD">Channel Islands</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CI">Christmas Island</option>
                <option value="CS">Cocos Island</option>
                <option value="CO">Colombia</option>
                <option value="CC">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CT">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CB">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TM">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FA">Falkland Islands</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="FS">French Southern Ter</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GB">Great Britain</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HW">Hawaii</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IA">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IR">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="NK">Korea North</option>
                <option value="KS">Korea South</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macau</option>
                <option value="MK">Macedonia</option>
                <option value="MG">Madagascar</option>
                <option value="MY">Malaysia</option>
                <option value="MW">Malawi</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="ME">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="MI">Midway Islands</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Nambia</option>
                <option value="NU">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="AN">Netherland Antilles</option>
                <option value="NL">Netherlands (Holland, Europe)</option>
                <option value="NV">Nevis</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NW">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau Island</option>
                <option value="PS">Palestine</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PO">Pitcairn Island</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="ME">Republic of Montenegro</option>
                <option value="RS">Republic of Serbia</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="NT">St Barthelemy</option>
                <option value="EU">St Eustatius</option>
                <option value="HE">St Helena</option>
                <option value="KN">St Kitts-Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="MB">St Maarten</option>
                <option value="PM">St Pierre &amp; Miquelon</option>
                <option value="VC">St Vincent &amp; Grenadines</option>
                <option value="SP">Saipan</option>
                <option value="SO">Samoa</option>
                <option value="AS">Samoa American</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome &amp; Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="OI">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syria</option>
                <option value="TA">Tahiti</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad &amp; Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TU">Turkmenistan</option>
                <option value="TC">Turks &amp; Caicos Is</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VS">Vatican City State</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="VB">Virgin Islands (Brit)</option>
                <option value="VA">Virgin Islands (USA)</option>
                <option value="WK">Wake Island</option>
                <option value="WF">Wallis &amp; Futana Is</option>
                <option value="YE">Yemen</option>
                <option value="ZR">Zaire</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>
    </div>
    <h4 class="ui dividing header">Product Information</h4>
    <div class="required field">
        <label>Product</label>
        <select class="ui dropdown" name="product_id" ng-model="rma.product_id" ng-options="product.id as product.name for product in products track by product.id" required></select>
    </div>
    <div class="required field" ng-show="rma.product_id == 0">
        <input type="text" name="product_name" ng-model="rma.product_name" placeholder="(Specify product name)" ng-required="rma.product_id == 0" />
    </div>
    <div class="required field">
        <label>Serial Number</label>
        <input type="text" name="serial_number" ng-model="rma.serial_number" placeholder="Serial Number" required />
    </div>
    <div class="required field">
        <label>Repair Issue / Calibration (Please describe below):</label>
        <textarea rows="5" name="description" ng-model="rma.description" required></textarea>
    </div>
    <div class="inline field">
        <div class="ui checkbox calibrationRequiredCheckbox">
            <input type="checkbox" name="calibration_required" ng-model="rma.calibration_required">
            <label>Calibration Required</label>
        </div>
    </div>
    <div class="inline field">
        <div class="ui checkbox expediteCheckbox">
            <input id="expedite" type="checkbox" name="expedite" ng-model="rma.expedite">
            <label for="expedite">Expedite (+$275.00)</label>
        </div>
        <div class="ui red message" ng-if="rma.expedite">
            Expedite fee does not include the $150.00 diagnostics fee for declined repairs.
        </div>
    </div>
    <div class="field">
        <label>Attachment(s):</label>
        <div id="dropzone" class="dropzone" style="text-align: center">
            <div class="dz-message needsclick">
                Drop files here or click to upload.<br>
                <span class="note needsclick">(Supported formats: JPEG, GIF, PNG, PDF. Max filesize: 5MB, Max files: 12)</span>
            </div>
        </div>
    </div>
    <h4 class="ui dividing header">Shipping Information</h4>
    <div class="three fields">
        <div class="field" ng-class="{'required': rma.shipping_method !== 'Prepay'}">
            <label>Account Number</label>
            <input type="text" name="shipping_account_number" ng-model="rma.shipping_account_number" ng-required="rma.shipping_method !== 'Prepay'" />
        </div>
        <div class="required field">
            <label>Shipping Service</label>
            <select class="ui fluid dropdown" name="shipping_method" ng-model="rma.shipping_method" required>
                <option value="UPS Next Day Air">UPS Next Day</option>
                <option value="UPS 2nd Day Air">UPS 2nd Day</option>
                <option value="UPS Ground">UPS Ground</option>
                <option value="FedEx Priority Overnight">FedEx Overnight</option>
                <option value="FedEx 2Day®">FedEx 2Day</option>
                <option value="FedEx Ground">FedEx Ground</option>
                <option value="Other - Next Day">Other - Next Day</option>
                <option value="Other - 2nd Day">Other - 2nd Day</option>
                <option value="Other - Ground">Other - Ground</option>
                <option value="Other - Ground">Other - 150lb+ Freight</option>
                <option value="BA100">BA100</option>
                <option value="DTL">DTL</option>
                <option value="Prepay">Prepay</option>
            </select>
        </div>
        <div class="required field" ng-show="rma.shipping_insurance_required == true">
            <label>Value</label>
            <div class="ui right labeled input">
                <div class="ui label">$</div>
                <input type="number" step="0.01" name="shipping_value" min="0" ng-model="rma.shipping_value" ng-required="rma.shipping_insurance_required == true" />
            </div>
        </div>
    </div>
    <div class="ui checkbox insuranceRequiredCheckbox">
        <input type="checkbox" name="shipping_insurance_required" ng-model="rma.shipping_insurance_required">
        <label>Insurance Required</label>
    </div>
     <div class="ui warning message" style="display: block;">
       HVD CANNOT ACCEPT FREIGHT DELIVERIES MARKED 'COLLECT' - ANY FREIGHT RECEIVED COLLECT PAYMENT TERMS WILL BE RETURNED TO THE SHIPPER VIA LTL CARRIER.
    </div>
    <div class="ui warning message" style="display: block;">
        We highly advise shipping the following units wrapped and strapped to a pallet via freight for the protection of the equipment and safety of the handlers: HVA60 – HVA90 – HVA120 – TD90 – TD120 – BA100 – DTL – ALL PDTD.
        <br />
        This equipment is in excess of 190 lbs. UPS and FedEx have advised that shipments of this equipment received via package/parcel service will be returned to sender.
    </div>
    <div class="ui warning message" style="display: block;">
        <div class="ui checkbox">
            <input type="checkbox" ng-model="accept" name="accept" required />
            <label> I have read and understand the shipping requirements for HVD equipment.</label>
        </div>
    </div>
    <div class="divider"></div>
    <button type="submit" class="ui right floated blue button">Submit</button>
    <div class="clear" style="clear: both;"></div>
</form>
<div class="ui modal rmaResultModal">
    <i class="close icon"></i>
    <div class="header">
        New RMA Generated
    </div>
    <div class="content">
        <div class="description" style="text-align: center">
            <div class="ui header">Your RMA#</div>
            <div class="ui centered  green card">
                <div class="center aligned content">
                    <h1 class="ui header">{{rma_number}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            OK
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>