<h1 class="ui dividing header">RMA</h1>
<table id="rmaSummaryTable" class="ui fixed single line celled striped selectable table rmaSummaryTable">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Updated On</th>
            <th>Date Created</th>
            <th>Product</th>
            <th>Serial Number</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr ng-repeat="rma in rmas" rmas-table-repeat>
            <td>{{rma.rma_number}}</td>
            <td>{{rma.updated_at | date: "shortDate"}}</td>
            <td>{{rma.created_at | date: "shortDate"}}</td>
            <td>{{rma.product_name}}</td>
            <td>{{rma.serial_number}}</td>
            <td>{{rma.description}}</td>
            <td>{{rma.status_id | statusNameFromStatusId: statuses}}</td>
            <td class="center aligned"><a class="ui green icon button" ui-sref="account.editRma({ id: rma.id })" target="_self" title="Edit"><i class="edit icon"></i></a></td>
        </tr>
    </tbody>

    <tfoot class="full-width">
        <tr>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th><input type="text" style="width: 100%;" /></th>
            <th></th>
        </tr>
        <tr>
            <th class="center aligned" colspan="8">
                <a class="ui small primary labeled icon button" ui-sref="account.newRma">
                    <i class="add square icon"></i> New RMA
                </a>
            </th>
        </tr>
    </tfoot>
</table>