<div id="account" class="account">
    <div class="ui top attached menu accountMenu">
        <a class="item logo" ui-sref="main.home">
            <img class="ui middle aligned tiny image" src="/images/logo.png">
        </a>
        <a class="item hidden-xs" href="https://www.hvdiagnostics.com/">Home</a>
        <a class="item hidden-xs" ui-sref="account.rmas" ng-show="user.role_id != 2">RMA</a>
        <a class="item hidden-xs" ui-sref="account.accountsTable" ng-show="user.role_id == 2">
        Manage Accounts
        </a>
        <a class="item hidden-xs" ng-show="user.role_id == 2" ui-sref="account.manageRmas">
        Manage RMA
        </a>
        <div class="ui simple dropdown item userDropdown visible-xs" style="visibility: hidden;">
            Menu
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" ui-sref="main.home">Home</a>
                <a class="item" ui-sref="account.rmas" ng-show="user.role_id != 2">RMA</a>
                <a class="item" ui-sref="account.accountsTable" ng-show="user.role_id == 2">
                    Manage Accounts
                </a>
                <a class="item" ng-show="user.role_id == 2" ui-sref="account.manageRmas">
                    Manage RMA
                </a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui simple dropdown item userDropdown">
                {{user.last_name}}, {{user.first_name}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ui-sref="account.edit({id: user.id})">Account Settings</div>
                    <div class="item" ng-click="logout()">Logout</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic padded segment">
        <div ui-view></div>
    </div>
</div>