<div class="ui segment padded signup">
    <div style="text-align: center"><img src="/images/HV-LogoMark-3D-FINAL-300.png" alt="Logo" /></div>
    <h1 class="ui header">Create a Customer Account</h1>
    <p>Fill out the following to create an account with us. Once we activate your account you will be able to access support information.</p>
    <div style="margin-bottom: 1em;"><span style="color: #db2828;">*</span> Required fields</div>
    <form name="signupForm" class="ui form" ng-submit="submitSignup()" ng-class="{error: (signupForm.$submitted && signupForm.$valid == false) || userExists}">
        <h4 class="ui dividing header">Company Information</h4>
        <div class="required field">
            <label>Company Name</label>
            <div class="field">
                <input type="text" name="companyName" placeholder="Company Name" ng-model="user.company_name" required>
            </div>
        </div>
        <h4 class="ui dividing header">User Information</h4>
        <div class="required two fields">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="firstName" placeholder="First Name" ng-model="user.first_name" required>
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="lastName" placeholder="Last Name" ng-model="user.last_name" required>
            </div>
        </div>
        <div class="required field">
            <label>Address</label>
            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" name="street_address1" placeholder="Street Address" ng-model="user.street_address1" required>
                </div>
                <div class="four wide field">
                    <input type="text" name="street_address2" placeholder="Apt #" ng-model="user.street_address2">
                </div>
            </div>
        </div>
        <div class="required four fields">
            <div class="field">
                <label>City</label>
                <input type="text" name="city" placeholder="City" ng-model="user.city" required>
            </div>
            <div class="field" ng-if="user.country !== 'CA'">
                <label>State/Province</label>
                <input type="text" name="state" ng-model="user.state" placeholder="State/Province" required>
            </div>
            <div class="field" ng-if="user.country === 'CA'">
                <label>Province</label>
                <select class="ui fluid dropdown" name="shipping_state" ng-model="user.state" required>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                    <option value="YT">Yukon</option>
                </select>
            </div>
            <div class="field">
                <label>Postal/ZIP Code</label>
                <input type="text" name="postal_code" ng-model="user.postal_code" placeholder="Postal/ZIP Code" required>
            </div>
            <div class="field">
                <label>Country</label>
                <select class="ui fluid dropdown" name="country" ng-model="user.country" required ng-change="countryChange()">
                    <option value=""></option>
                    <option value="US">United States of America</option>
                    <option value="CA">Canada</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AG">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AG">Antigua &amp; Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AA">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BL">Bonaire</option>
                    <option value="BA">Bosnia &amp; Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BR">Brazil</option>
                    <option value="BC">British Indian Ocean Ter</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="IC">Canary Islands</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CD">Channel Islands</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CI">Christmas Island</option>
                    <option value="CS">Cocos Island</option>
                    <option value="CO">Colombia</option>
                    <option value="CC">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CT">Cote D'Ivoire</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CB">Curacao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="TM">East Timor</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FA">Falkland Islands</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="FS">French Southern Ter</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GB">Great Britain</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HW">Hawaii</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IA">Iran</option>
                    <option value="IQ">Iraq</option>
                    <option value="IR">Ireland</option>
                    <option value="IM">Isle of Man</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="NK">Korea North</option>
                    <option value="KS">Korea South</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MY">Malaysia</option>
                    <option value="MW">Malawi</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="ME">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="MI">Midway Islands</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Nambia</option>
                    <option value="NU">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="AN">Netherland Antilles</option>
                    <option value="NL">Netherlands (Holland, Europe)</option>
                    <option value="NV">Nevis</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NW">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau Island</option>
                    <option value="PS">Palestine</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PO">Pitcairn Island</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="ME">Republic of Montenegro</option>
                    <option value="RS">Republic of Serbia</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russia</option>
                    <option value="RW">Rwanda</option>
                    <option value="NT">St Barthelemy</option>
                    <option value="EU">St Eustatius</option>
                    <option value="HE">St Helena</option>
                    <option value="KN">St Kitts-Nevis</option>
                    <option value="LC">St Lucia</option>
                    <option value="MB">St Maarten</option>
                    <option value="PM">St Pierre &amp; Miquelon</option>
                    <option value="VC">St Vincent &amp; Grenadines</option>
                    <option value="SP">Saipan</option>
                    <option value="SO">Samoa</option>
                    <option value="AS">Samoa American</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome &amp; Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="OI">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syria</option>
                    <option value="TA">Tahiti</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad &amp; Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TU">Turkmenistan</option>
                    <option value="TC">Turks &amp; Caicos Is</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VS">Vatican City State</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="VB">Virgin Islands (Brit)</option>
                    <option value="VA">Virgin Islands (USA)</option>
                    <option value="WK">Wake Island</option>
                    <option value="WF">Wallis &amp; Futana Is</option>
                    <option value="YE">Yemen</option>
                    <option value="ZR">Zaire</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
        </div>
        <div class="required five wide field">
            <label>Phone Number</label>
            <input type="text" name="phone_number" placeholder="Phone Number" ng-model="user.phone_number" required>
        </div>
        <h4 class="ui dividing header">Product Information <div class="sub header">Please add the product(s) that you own and enter it's serial number</div>
        </h4>
        <div class="field productsWrapper">
            <div class="required two fields productFields" ng-repeat="product in user.products">
                <div class="field">
                    <label>Product name</label>
                    <select class="ui dropdown" ng-model="product.id" required>
                        <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
                        <option value="other">Other</option>
                    </select>
                    <input type="text" name="name" ng-model="product.name" placeholder="Enter product name" ng-required="product.id === 'other'" ng-show="product.id === 'other'">
                </div>
                <div class="field">
                    <label>Serial #</label>
                    <div class="ui action input">
                        <input type="text" name="serialNumber" placeholder="Serial Number" ng-model="product.serial_number" required>
                        <div type="button" class="ui green button" ng-click="user.products.push({})">+</div>
                        <div type="button" class="ui red button" ng-click="removeProduct($index)">-</div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ui dividing header">Account Information</h4>
        <div class="required field" ng-class="{error: userExists}">
            <label>Email Address</label>
            <input type="email" name="email" ng-model="user.email_address" placeholder="Email address" required ng-keyup="userExists = false">
        </div>
        <div class="ui error message" ng-show="userExists">
            <div class="header">Email exists.</div>
            <p>This email address is already registered in our system. Please pick another email address.</p>
        </div>
        <div class="required field" ng-class="{error: signupForm.$submitted && signupForm.confirm_password.$error.compareTo == true}">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required>
        </div>
        <div class="required field" ng-class="{error: signupForm.$submitted && signupForm.confirm_password.$error.compareTo == true}">
            <label>Confirm Password</label>
            <input type="password" name="password_confirmation" ng-model="user.password_confirmation" compare-to="user.password" required>
        </div>
        <div class="ui error message" ng-show="signupForm.$submitted && signupForm.password_confirmation.$error.compareTo == true">
            <div class="header">Passwords do not match.</div>
            <p>Your passwords must match.</p>
        </div>
        <button type="submit" class="ui primary button" ng-class="{loading: signupFormSubmitted, disabled: signupFormSubmitted}" ng-disabled="signupFormSubmitted">Submit</button>
    </form>
</div>
<div id="accountCreatedModal" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> Your account has been created.
    </div>
    <div class=" content">
        <div class="description">
            <p>We will review your account. You will receive an email once your account has been activated.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>
<div id="accountActivatedModal" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="checkmark icon" style="color: green;"></i> Your account has been activated.
    </div>
    <div class=" content">
        <div class="description">
            <p>You may login and begin using your account now.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>
<div id="accountErrorModal" class="ui basic modal">
    <i class="ok icon"></i>
    <div class="header">
        <i class="remove circle icon" style="color: red;"></i> Something went wrong.
    </div>
    <div class=" content">
        <div class="description">
            <p>Your account was not successfully created. Please try again later. Or contact us at +1 (678) 445-2555, or <a href="mailto:service@hvdiagnostics.com">service@hvdiagnostics.com</a></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui green basic inverted button ok">
            <i class="checkmark icon"></i>
            OK
        </div>
    </div>
</div>