<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/cableID">Cable ID & Phasing</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">EZ-Cable ID</div>
    </div>
    <br/>
    <div class="image content">
        <div class="ui massive image">
            <img src="/Products/EZ-Cable ID/EZ-Cable ID.png" />
        </div>
        <a href="{{getDataSheet('EZ-Cable ID')}}" class="ui red small button" target="_blank">Data Sheet</a>
        <div class="description">
            <p>The EZ-Cable ID test instrument allows electrical testing personnel to accurately and effectively identify either one or three cables or cores anywhere along the length of the cable in one identification process. This can be done on both single phase and three phase networks. In addition to identifying the correct cable and phase, the resultant current and frequency in a cable can also be measured by the instrument.
                <br/>
                <br/> The instrument consists of 3 main items: A receive (Rx), transmitter (Tx), and inductive clamp/s, all housed in a rugged, injection molded carrying case. The instrument is extremely easy to use and can be powered by either the internal battery, AC mains or from an auxiliary 12V DC supply. The receiver has a backlit LCD display, is battery operated, housed in a rugged, rubber holster and has a flexible pickup coil to easily wrap around cables.
                <br/>
                <br/> Correct identification of a cable is often required for many types of applications. These include the “cutting in” of a new transformer or switch into an existing cable, correct identification of cables in a trench, manhole, or cable tray, before spiking/cutting- the list goes on. The EZ-Cable ID unit offers enhanced identification of energized cables, even those carrying high load currents that often cause other ID units on the market to malfunction.</p>
        </div>
    </div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Extremely simple, menu operated, backlit user interface</li>
                    <li>Simultaneous single and multi (3) phase identification</li>
                    <li>Can be used on energized and de-energized circuits</li>
                    <li>3 cables can be identified in one action</li>
                    <li>Can be used on single and multicore cables</li>
                    <li>Non-volatile memory to store parameters</li>
                    <li>Load current and frequency measurement</li>
                    <li>Excellent noise immunity</li>
                    <li>Flexible pickup coil for congested locations</li>
                    <li>Powered by integrated battery or external AC mains.</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Correct phasing and identification of a three phase cable system, without having to remove any safety grounds on the cable</li>
                    <li>Prevents user from inadvertently changing gain/sensitivity settings</li>
                    <li>Sophisticated algorithm assures accuracy during identifying process.</li>
                    <li>Connection error notification– instrument notifies operator of a poor connection hookup</li>
                    <li>Use on LV, MV, and transmission cable systems</li>
                    <li>ID of cables through multiple transformers</li>
                    <li>Rugged transport case includes accessory pouch</li>
                </ul>
            </div>
        </div>
        <table class="ui selectable striped celled single line table fixed">
            <thead>
                <tr>
                    <th>Transmitter</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Input Supply Voltage:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>Integrated Battery: 12V SLA (Sealed Lead Acid), 2.9Ahr
                            <br> AC Shore Power: 85 ~ 264VAC, 47~440HZ / 120-370VDC
                            <br> Auxiliary DC: 12V DC auto type supply [9.6~15V DC reverse protected]</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Output Pulse Voltage:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>125V peak, single phase or three phase</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Output Pulse Cycling:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>Single Phase ~1.2 seconds average; Three phase ~3.6 seconds average</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Output Pulse Current:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>100A max. Actual current dependent on loop impedance</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Power Consumption:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>21W</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Battery Status:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>LED indication: Full (Green), Medium (Amber), Low (Red), Critical (Blinking Red)</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Battery Life:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>7 hrs (Single Phase)</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Charging Time:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>4.5 hrs</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Pulse Indication:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>LED and audio for each channel with status indication</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Environmental Protection:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>IP52</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Operating Temperature:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>-10 ~ 55°C / 14 ~130°F</p>
                    </td>
                </tr>
                <tr class="row1">
                    <td valign="top" class="leftside">
                        <p><strong>Dimensions:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>240 x 120 x 90 mm / 9.4” x 4.7” x 3.5”</p>
                    </td>
                </tr>
                <tr class="row2">
                    <td valign="top" class="leftside">
                        <p><strong>Weight:</strong></p>
                    </td>
                    <td valign="top" class="rightside">
                        <p>2.1 kg / 4.6 lbs</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="ui selectable striped celled single line table fixed">
            <thead>
                <tr>
                    <th>Receiver</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tr class="row2">
                <td valign="top" class="leftside">
                    <p><strong>Input Supply Voltage:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>4 AA Batteries (6.0V nominal), Alkaline or rechargeable</p>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside">
                    <p><strong>Power Frequency Current:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>0 ~ 500A (50/60 Hz) +/- 10% at reading, Resolution: 0.1A</p>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside">
                    <p><strong>Memory:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>Non-volatile storage of ID parameters</p>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside">
                    <p><strong>Display:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>128 x 64 pixel, monochrome</p>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside">
                    <p><strong>Battery Life:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>>24 hrs</p>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside">
                    <p><strong>Environmental Protection:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>IP62</p>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside">
                    <p><strong>Operating Temperature:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>-10 ~ 55°C / 14 ~130°F</p>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside">
                    <p><strong>Signal Detection Sensor:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>Flexible pickup coil, ID: 180mm/7.0” (CAT III 1000V)</p>
                </td>
            </tr>
            <tr class="row2">
                <td valign="top" class="leftside">
                    <p><strong>Dimensions:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>240 x 120 x 55mm/ 9.4” x 4.7” x 2.2”</p>
                </td>
            </tr>
            <tr class="row1">
                <td valign="top" class="leftside">
                    <p><strong>Weight:</strong></p>
                </td>
                <td valign="top" class="rightside">
                    <p>0.7kg / 1.6 lbs</p>
                </td>
            </tr>
            </tbody>
        </table>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
