<!DOCTYPE html>
<html ng-app="hvdiagnostics">
<head>
  <title>HV Diagnostics -  Leading supplier of electrical test equipment</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="HV Diagnostics is a leading supplier of electrical test equipment. Browse our product catalog or download data sheets to learn more about the products we offer.">
</head>
<body>
<div ui-view autoscroll="false"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62273773-4', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>
</body>
</html>