<div id="hva" class="ui segment padded">
    <div class="ui huge breadcrumb">
        <a class="section" href="/products/pdTd">PD TD Combo's</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">HVA200</div>
    </div>
    <br/>
    <br/>
    <div class="image content">
        <div class="ui image" style="width: 330px;">
            <img ng-src="/Products//HVA/HVA200.jpg" />
        </div>
        <br/>
        <br/>
        <div class="description">
            <p>
                <img ng-src="/Products/HVA/HVA200_field.png" align="left" style="margin: 0 15px 15px 0; width: 200px;" /> The HVA200 finally provides cable owners a cost effective, practical solution for testing their transmission class cables in the field. Ideally suited for testing 138kV transmission cables to 1.7Uo.
                <br/>
                <br/> The HVA200 provides AC test voltages up to 140kV rms / 200kV Peak and DC up to +/- 200kV.
                <br/>
                <br/> The unit is equally at home in the field and laboratory environments. It can be installed on a Trailer with retractable tarp that allows fast, easy and flexible test setup and tear down in a variety of field environments.
                <br/>
                <br/> The HVA200 excellent withstand testing capability can be enhanced with the optional Tan Delta and Partial Discharge diagnostics interface providing the cable owner with a complete cable testing solution. </p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="content">
        <h3 class="ui header">Features</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>Cable Testing in compliance with IEEE400 and 400.2</li>
                    <li>Both AC VLF and DC plus and minus modes</li>
                    <li>Load Independent Pure Sinewave Voltage output</li>
                    <li>Accurate RMS metering of current and voltage</li>
                    <li>Continuous duty cycle</li>
                    <li>Trailer mountable with flexible and fast setup</li>
                    <li>Programmable automatic voltage test sequences </li>
                    <li>Automatic Frequency optimization from 0.01 to 0.1Hz </li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Voltage Waveform Display </li>
                    <li>Automatic discharging of load</li>
                    <li>Control and reporting software included</li>
                    <li>Remote HV Status indication and Emergency Off Kill Switch</li>
                    <li>Flashover voltage and short circuit detection</li>
                    <li>Automatic Measurement of Load Resistance and</li>
                    <li> Capacitance </li>
                    <li>Upgradeable to include Optional Partial Discharge and Tan Delta</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Features of the HVA200’s Optional PD and TD Interface:</h3>
        <div class="ui two column grid">
            <div class="column">
                <ul class="ui list">
                    <li>PD Test done in accordance with IEC60270 and IEEE400.3</li>
                    <li>TD Test done in accordance with IEEE400.2</li>
                    <li>The PD and TD Section are integrated into the one system</li>
                </ul>
            </div>
            <div class="column">
                <ul class="ui list">
                    <li>Allows Accurate location and measurement of PD with phase resolved pattern, magnitude, mapping and intensity displayed</li>
                    <li>Fast and Efficient Reporting software interface </li>
                    <li>Industry leading TD measurement and reporting software – the standard in the industry !</li>
                </ul>
            </div>
        </div>
        <h3 class="ui header">Technical Specifications</h3>
        <table class="ui selectable striped celled table">
            <thead>
                <tr class="tableizer-firstrow">
                    <th>Description </th>
                    <th>HVA200</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Part Number</td>
                    <td>720 001</td>
                </tr>
                <tr>
                    <td>Output Voltage -VLF AC Sinusoidal -DC</td>
                    <td> 0 - 200kVpeak / 140kVrms 0 - +/- 200kV </td>
                </tr>
                <tr>
                    <td>Output Current</td>
                    <td>Max. 140mA</td>
                </tr>
                <tr>
                    <td>Output Power</td>
                    <td>7.2kVA</td>
                </tr>
                <tr>
                    <td>Output Frequency</td>
                    <td>0.01- 0.1Hz (Optimized) </td>
                </tr>
                <tr>
                    <td>Load Capacitance *</td>
                    <td>0.6μF at Max. Frequency & Max. Voltage. </td>
                </tr>
                <tr>
                    <td>Supply Voltage</td>
                    <td>3 Phase + Neutral 480V/380V AC (50/60Hz) </td>
                </tr>
                <tr>
                    <td>Supply Frequency</td>
                    <td>48-62Hz</td>
                </tr>
                <tr>
                    <td>Supply Power</td>
                    <td>9kVA</td>
                </tr>
                <tr>
                    <td>Output Mode</td>
                    <td>- AC (VLF) - DC(positive or negative polarity)</td>
                </tr>
                <tr>
                    <td>Communication Via</td>
                    <td>USB </td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>
                        < 1900 lbs / < 900 kgs</td>
                </tr>
                <tr>
                    <td>Dimensions</td>
                    <td>Flexible Setup: Approx 170" x 90" x 48" 4300 x 2300 x 1200 mm</td>
                </tr>
                <tr>
                    <td>Environmental </td>
                    <td>Storage: -13 to 158 °F / -25C to 70°C Operating: 14 to 110°F/ -10 to 45°C Humidity: 5 to 85% non condensing.</td>
                </tr>
            </tbody>
        </table>
        <table class="ui selectable striped celled table">
            <thead>
                <tr class="tableizer-firstrow">
                    <th>Description </th>
                    <th>Optional PD TD System for HVA200</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Part Number</td>
                    <td>720 223 </td>
                </tr>
                <tr>
                    <td colspan="2" class="center aligned"><b>Partial Discharge Diagnostic Section (acc to IEEE60270)</b></td>
                </tr>
                <tr>
                    <td>PD Coupling and Filter Capacitor </td>
                    <td>0.75nF</td>
                </tr>
                <tr>
                    <td>PD Load Capacitance Range</td>
                    <td>0.001 μF to 6 μF</td>
                </tr>
                <tr>
                    <td>PD Sensitivity </td>
                    <td>1pC to 500nC </td>
                </tr>
                <tr>
                    <td>PD Bandwidth</td>
                    <td>150kHz to 50MHz</td>
                </tr>
                <tr>
                    <td>PD Location Max. Cable Length Range </td>
                    <td>≥ 6 miles / 10km </td>
                </tr>
                <tr>
                    <td>Communication Via</td>
                    <td>USB</td>
                </tr>
                <tr>
                    <td>PD/TD Coupling Cap. & Filter Cap. Tower Section (each) -Dimensions -Weight</td>
                    <td> 70" (L) x 26" Dia. OR 1780mm (L) x 660 mm Dia. Each 200 lbs / 90kg Each </td>
                </tr>
                <tr>
                    <td>Measurement Functions </td>
                    <td>PD - Calibration, amplitude, location, mapping, phase resolved pattern, intensity, PDIV, PDEV and Noise Level</td>
                </tr>
                <tr>
                    <td colspan="2" class="center aligned"><b>Tan Delta Diagnostic Section (acc to IEEE400.2)</b></td>
                </tr>
                <tr>
                    <td>TD Accuracy</td>
                    <td>3 x 10-4</td>
                </tr>
                <tr>
                    <td>TD Resolution</td>
                    <td>1 x 10-5</td>
                </tr>
                <tr>
                    <td>TD Capacitance Load Range </td>
                    <td>1 nF up to 10 μF</td>
                </tr>
                <tr>
                    <td>Communication Via</td>
                    <td>Bluetooth</td>
                </tr>
                <tr>
                    <td>Measurement Functions </td>
                    <td>TD - Tip Up (gradient), STD and Mean, with Summary & Graph Function with Fast & Easy Reporting Interface </td>
                </tr>
            </tbody>
        </table>
        <div class="ui segment">
            <p>* Load Capacitance equate to length and for a typical transmission cable of say 50pF/ft or 150pF/m this equates to 12000ft or 4000m. Note also that at reduced frequencies and/or voltages these length capabilities increase even further.</p>
        </div>
        <div>Note: Due to continuous development, the information may change without notice.</div>
    </div>
</div>
